mixin back-to-top(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class=spec.__class)&attributes(attributes)
    .col-lg-12
      .row
        button.bt-back-to-top.btn.btn-block.btn-link Kembali ke Atas
