mixin footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  footer.bt-footer(class=spec.__class)&attributes(attributes)
    .container
      .row
        .col-md-3.footer-menu
          h6
            | BHINNEKA
            span.pt-icon-standard.pt-icon-chevron-down.bt-caret
          ul.list-unstyled.collapse
            li: a(href='/single-pages/about.html') Tentang Kami
            li: a(href='#') Karir
            li: a(href='/single-pages/advertise.html') Beriklan dengan Kami
            li: a(href='/single-pages/account.html') Akun Bhinneka
            li: a(href='/single-pages/contact.html') Hubungi Kami
        .col-md-3.footer-menu  
          h6
            | INFORMASI LAYANAN
            span.pt-icon-standard.pt-icon-chevron-down.bt-caret
          ul.list-unstyled.collapse
            li: a(href='/help') Bantuan
            li: a(href='#') Panduan Belanja
            li: a(href='/single-pages/return.html') Pengembalian Barang
            li: a(href='#') Tips Aman Bertransaksi
            li: a(href='/single-pages/stores.html') Lokasi Retail
            li: a(href='/single-pages/service-center.html') Servis dan Purna Jual
        .col-md-3.footer-menu.footer-apps
          h6.hidden-xs.hidden-sm
            | APLIKASI
            span.pt-icon-standard.pt-icon-chevron-down.bt-caret
          a(href='#')
            img.img-responsive(
              src='/images/google-play-badge.png'
              alt='Tautan Google Play Store'
              )
          //- Hidden for now until the iOS app is live.
          //- a.collapse(href='#')
          //-   img.img-responsive(
            src='images/Download_on_the_App_Store_Badge_ID_135x40.svg'
            alt='Tautan App Store'
            )
        .col-md-3.footer-socmed
          h6.hidden-xs
            | MEDIA SOSIAL 
          ul.list-inline
            li: a(href='#')
                img(
                  src='/images/facebook.svg'
                  alt='Tautan Facebook Bhinneka'
                  )
            li: a(href='#')
                img(
                  src='/images/twitter.svg'
                  alt='Tautan Twitter Bhinneka'
                  )
            li: a(href='#')
                img(
                  src='/images/medium.svg'
                  alt='Tautan Medium Bhinneka'
                  )
            li: a(href='#')
                img(
                  src='/images/youtube.svg'
                  alt='Tautan Youtube Bhinneka'
                  )

    .row-subscribe
      .container
        .col-sm-12.col-lg-6.footer-subscribe
          p Dapatkan informasi dan penawaran eksklusif  Bhinneka
        .col-sm-12.col-lg-6.footer-subscribe
          form.form-inline
            input.form-control(
              type='email'
              placeholder='Email anda'
              id='subscribe'
              )
            button.btn.btn-primary(
              type='submit'
              ) LANGGANAN
   
    .row.row-credit
      .container.footer-credit
        .col-sm-12.col-md-6.left
          ul.list-inline
            li: a(href='/single-pages/tos.html') Syarat dan Ketentuan
            //- li: a(href='/single-pages/privacy.html') Kebijakan Privasi
            li: a(href='/single-pages/sitemap.html') Peta Situs
        .col-sm-12.col-md-6.right
          p.footer-copyright &copy; PT Bhinneka Mentari Dimensi 2017
          a.bt-geotrust__certificate(href="#")
            img(src="/images/getgeotrustsslseal.gif")
