mixin footer-mini(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  footer.bt-footer-mini.hidden-xs.hidden-sm(class="footer-fixed-bottom" spec.__class)&attributes(attributes)
    .container
      .row
        .col-md-7.col-lg-7
          a.btn.btn-lg.btn-hollow(href='/cart') Batal
        .col-md-5.col-lg-5.button-column
          if checkoutSuccess
            a.btn.btn-block.btn-lg.btn-primary(href=nextPage || '#') Bayar
          else
            a#btn-next-footer.btn.btn-block.btn-lg.btn-primary(href=nextPage || '#')
              | Lanjut
              span.pt-icon.pt-icon-arrow-right.text-inverse
