mixin mega-menu(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .bt-navbar__mega-menu
    button.navbar-toggle-category(type="button")
      span.pt-icon-large.pt-icon-menu.text-inverse
    button.btn(type="button")
      span.pt-icon-standard.pt-icon-menu-open
      span.bt-btn__text Kategori

    div(class="bt-mega-menu " +spec.__class)&attributes(attributes)
      +offcanvas-menu-left
    //-
      #megamenu.bt-mega-menu__wrapper
        .bt-mega-menu__left
          - var kategori = ['Tablets & Gadgets', 'Desktops & Notebooks', 'Aksesoris Komputer', 'Alat Tulis & Peralatan Kantor', 'Server, Network & Power System', 'Foto & Videografi', 'Alat Musik & Pro Audio', 'Sport & Fitness', 'Software & Solutions', 'TV & Elektronik Rumah', 'Makanan & Kebutuhan Rumah', 'Kecantikan & Kesehatan', 'Baju, Sepatu & Aksesoris', 'Mainan & Perawatan Bayi', 'Travel & Outdoor', 'Perkakas & Otomotif']
          each val, index in kategori
            if index == 0
              a.bt-mega-menu__link.--is-active(href="#", data-box="megamenu-sub-0")= val
            else
              a.bt-mega-menu__link(href="#", data-box="megamenu-sub-"+index)= val

        - var box = 0;
        while box <= 16
          .bt-mega-menu__right(id="megamenu-sub-"+box class=(box === 0 ? '--is-active' : undefined))
            .bt-mega-menu__content
              each col in [1,2]
                .bt-mega-menu__col
                  ul.list-unstyled
                    li: a(href="#") Kategori Level 2
                    li
                      ul
                        li: a(href="#") Kategori Level 3-#{box}
                        li: a(href="#") Kategori Level 3-#{box}
                        li: a(href="#") Kategori Level 3-#{box}
                        li: a(href="#") Kategori Level 3-#{box}
                  ul.list-unstyled
                    li.bt-mega-menu__parent-category: a(href="#") Kategori Level 2
                    li
                      ul
                        li: a(href="#") Kategori Level 3-#{box}
                        li: a(href="#") Kategori Level 3-#{box}
                        li: a(href="#") Kategori Level 3-#{box}
                        li: a(href="#") Kategori Level 3-#{box}
              .bt-mega-menu__banner
                a(href="#")
                  img(src="/images/dummy/megamenu-banner.png", alt="promo")

          - box++
