mixin modal-sign-in(spec)
  #bt-modal-sign-in.modal.fade.in(tabindex='-1' role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span.pt-icon-large.pt-icon-cross
          h4.bt-typo-displaysmall.modal-title Login
        .modal-body

          .bt-card__logo
            img(src="/images/logo-mark-red-24px.svg", alt="Logo")
            em Account

          form(autocomplete="off")
            .form-group
              input.form-control(type='email' id='email' placeholder='Email' required)
            .form-group
              input.form-control(type='password' id='password' placeholder='Password' required)
              a.bt-toggle--password.pull-right(data-toggle="tooltip" data-placement="top" title="Show" container='form-group' href="#")
                span.pt-icon-standard.pt-icon-eye-open
            span.help-block #[a(href="/") Lupa Password?]
            .form-group
              button.btn.btn-primary.btn-block.bt-card__button(type='button') Login
            .checkbox
              label
                input(type='checkbox', checked)
                | Tetap Login
            .text-center Belum ada Akun Bhinneka? #[a(href="/register") Register]
