.bt-navbar-small.bt-navbar-small--top
  .container
    ul.bt-navbar-small__nav.pull-left
      if user && user.login
        li.bt-navbar-small__dropdown-tracking.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown").
            Tracking #[i.caret]
          .dropdown-menu.dropdown-menu-form
            .form-group
              label
                | Order Tracking
                input.form-control(type="text", maxlength="20", placeholder="Nomor Order", required)
            .form-group
              button.btn.btn-primary.btn-block Submit Tracking
        li: a(href="/single-pages/payment-confirmation.html") Konfirmasi Pembayaran
      li: a(href="/help") Bantuan
    .pull-right
      ul.bt-navbar-small__nav
        li: a(href="http://www.lkpp.go.id/" target="_blank") e-Katalog LKPP
      a.bt-navbar-small__bisnis(href="/").
        #[span Bhinneka]Bisnis
