.navbar-small--bottom.visible-md.visible-lg
  .container-fluid
    .row
      ul.list-inline.visible-lg-inline
        li: a(href="/product-list/promo.html") Cicilan Tanpa Kartu Kredit
        li: a(href="/product-list/promo.html") Laptop 77 Ribu
        li: a(href="/product-list/promo.html") Music Corner
      ul.list-inline.bt-navbar__promo
        li.bt-navbar__promo-a: a(href="/single-pages/promo.html") Ramadhan Sale
        li.bt-navbar__promo-b: a(href="/single-pages/promo.html") Best Deals
        li.bt-navbar__promo-c: a(href="/single-pages/promo.html") Promo Bank
