include ../1_atoms/link.pug

mixin navbar(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.navbar.bt-navbar-mobile.navbar-static-top.visible-xs.visible-sm
    .container
      .bt-navbar__left
        +link({__class: 'bt-navbar-mobile__logo'})(href="/")
          img(src="/images/logo-mark.svg")
        button#toggle-offcanvas-left.navbar-toggle-menu(type="button")
          span.pt-icon-large.pt-icon-menu

      .bt-navbar__right
        if user && user.login
          button#toggle-offcanvas-right.navbar-toggle-menu(type="button")
            span.pt-icon-large.pt-icon-user
        else
          +link({__class: 'bt-navbar-mobile__account'})(href="/sign-in")
            span.pt-icon-large.pt-icon-log-in
        .navbar-cart
          +link(href="/cart")
            img.navbar-cart-icon(src="/images/icon-shopping-cart.svg")
            span.bt-navbar__badge= cart_counter

      .bt-navbar__form
        button.btn.btn-link.bt-navbar__btn-cancel Batal
        form#navbar-mobile-form(autocomplete="off")
          label(for="navbar-mobile-search")
            span.pt-icon-standard.pt-icon-search
            | Cari...
          button.btn.bt-navbar__btn-clear(type="reset")
            span.pt-icon-standard.pt-icon-cross
          input#navbar-mobile-search.form-control(type="search", placeholder="Cari...")

    .bt-navbar-mobile__autocomplete
      ul.bt-autocomplete
        each val in ['Semua Kategori', 'Kategori Satu', 'Kategori Dua', 'Kategori Tiga', 'Kategori Empat']
          li.bt-autocomplete__item
            a(href="/product-list") keyword di #[strong= val]
        li.bt-autocomplete__empty Produk Tidak Ditemukan
        li.bt-autocomplete__title Product
        each val in ['PRODUCT Satu - Hitam', 'PRODUCT Dua QWE666']
          li.bt-autocomplete__item.bt-autocomplete__product
            a.media(href="/product")
              .media-left: img(src="/images/dummy/dummy-60.jpg", alt="")
              .media-body
                p= val
                strong Rp 123.000
        li.bt-autocomplete__item.bt-autocomplete__product
          a.media(href="/product")
            .media-left: img(src="/images/dummy/dummy-60.jpg", alt="")
            .media-body
              p PRODUCT Tiga
              .bt-autocomplete__sale
                span Rp 123.000
                .bt-label-discount -10%
              strong Rp 123.000


  header#bt-header(class="navbar navbar-inverse navbar-static-top visible-md visible-lg " +spec.__class)&attributes(attributes)

    include navbar-top.pug

    .container
      .navbar-header
        +link({__class: 'navbar-logo'})(href="/")
          img.img-responsive(src="/images/logo.svg", alt="Bhinneka Logo")
          img.hide(src="/images/logo-mark.svg")
      .navbar-cart
        +link(href="/cart")
          img.navbar-cart-icon(src="/images/icon-shopping-cart.svg")
          span.bt-navbar__badge= cart_counter
      .bt-navbar__account.dropdown(class=(user ? 'bt-navbar__user' : undefined))
        span Halo,
        if user && user.login
          a.dropdown-toggle(href="#").
            #{user.firstname} #[i.caret]
          .dropdown-menu
            .row
              .col-sm-12.dropdown-col
                ul.list-unstyled
                  each val in ['Akun Saya', 'Order', 'Alamat Pengiriman', 'Keluar']
                    li: a(href="/membership")= val

        else
          +link({text: 'Login' })(href="/sign-in")
          = " atau "
          +link({text: 'Register' })(href="/register")

      form.navbar-form(name="form-search",  autocomplete="off")
        .navbar-search
          .navbar-search__form
            .navbar-search__cat-wrapper
              .navbar-search__cat-display
                span.navbar-search__cat Furnitur & Perlengkapan Rumah Tangga
                span.pt-icon-standard.pt-icon-caret-down
              select
                option(value='') Semua Kategori
                option(value='') Aksesoris Gadget & Komputer
                option(value='') Alat Musik & Pro Audio
                option(value='') Alat Tulis & Perlengkapan Kerja
                option(value='') Buku, Film & Musik
                option(value='') Camera and Video
                option(value='') Computer, Desktop, Notebook
                option(value='') Fashion & Busana Pria
                option(value='') Fashion & Busana Wanita
                option(value='') Furnitur & Perlengkapan Rumah Tangga
                option(value='') Gadget
                option(value='') Internal
                option(value='') Kesehatan dan Kecantikan
                option(value='') Koleksi dan Mainan
                option(value='') Makanan & Kebutuhan Harian
                option(value='') Network and Security System
                option(value='') Peralatan Dapur & Rumah Tangga
                option(value='') Peralatan Kantor
                option(value='') Perkakas & Otomotif
                option(value='') Perlengkapan Bayi & Anak
                option(value='') Power and Rack System
                option(value='') Printer, Scanner & Supplies
                option(value='') Printing and Digital Imaging
                option(value='') Produk Prabayar
                option(value='') Server and Data Storage
                option(value='') Service Center
                option(value='') Software & Licensing
                option(value='') Spare Part
                option(value='') Sport & Fitness
                option(value='') Tas, Koper & Perjalanan
                option(value='') Tv and Home Audio Video

            input#nav-search.navbar-search__input(type="search", placeholder="Cari...")
            .bt-navbar__autocomplete
              ul.bt-autocomplete
                each val in ['Semua Kategori', 'Kategori Satu', 'Kategori Dua', 'Kategori Tiga', 'Kategori Empat']
                  li.bt-autocomplete__item
                    a(href="/product-list") keyword di #[strong= val]
                li.bt-autocomplete__empty Produk Tidak Ditemukan
                li.bt-autocomplete__title Product
                each val in ['PRODUCT Satu - Hitam', 'PRODUCT Dua QWE666']
                  li.bt-autocomplete__item.bt-autocomplete__product
                    a.media(href="/product")
                      .media-left: img(src="/images/dummy/dummy-60.jpg", alt="")
                      .media-body
                        p= val
                        strong Rp 123.000
                li.bt-autocomplete__item.bt-autocomplete__product
                  a.media(href="/product")
                    .media-left: img(src="/images/dummy/dummy-60.jpg", alt="")
                    .media-body
                      p PRODUCT TIGA
                      .bt-autocomplete__sale
                        span Rp 123.000
                        .bt-label-discount -10%
                      strong Rp 123.000

            .navbar-search__btn-wrapper
              button.btn.btn-primary(type="submit")
                span.pt-icon-large.pt-icon-search

  .container-fluid
    +mega-menu

  include navbar-bottom.pug
