mixin navbar-mini(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.bt-navbar-mini.--elevation-3(class="navbar navbar-inverse navbar-static-top" +spec.__class)&attributes(attributes)
    .container
      a(href='/')
        .navbar-brand
            img(src='/images/logo-mark.svg')
      //- if userLog
      //-   .navbar-aside
      //-     a(href='/')
      //-       .navbar-text.bt-typo-heading
      //-         = 'Holly'
      //-         span.pt-icon-large.pt-icon-user
      //- else
      //-   .navbar-aside
      //-     a.btn.btn-primary(href="#" data-toggle="modal" data-target="#bt-modal-sign-in") Login #[span.pt-icon-standard.pt-icon-log-in]
