mixin offcanvas-menu-left(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class="bt-offcanvas --side-left " +spec.__class)&attributes(attributes)
    .bt-offcanvas__content

      .bt-offcanvas__title
        span.bt-typo-displaysmall Kategori

      #dl-menu.dl-menuwrapper.--loader
        img.loader(src="/images/loading-spin.svg", alt="loading-spin")
        ul.dl-menu.dl-menuopen
          -
            var kategori = [
              'Aksesoris Gadget & Komputer',
              'Alat Musik & Pro Audio',
              'Alat Tulis & Perlengkapan Kerja',
              'Buku, Film & Musik',
              'Camera and Video',
              'Computer, Desktop, Notebook',
              'Fashion & Busana Pria',
              'Fashion & Busana Wanita',
              'Furnitur & Perlengkapan Rumah Tangga',
              'Gadget',
              'Kesehatan dan Kecantikan',
              'Koleksi dan Mainan',
              'Makanan & Kebutuhan Harian',
              'Network and Security System',
              'Peralatan Dapur & Rumah Tangga',
              'Peralatan Kantor',
              'Perkakas & Otomotif',
              'Perlengkapan Bayi & Anak',
              'Power and Rack System',
              'Printer, Scanner & Supplies',
              'Printing and Digital Imaging',
              'Produk Prabayar',
              'Server and Data Storage',
              'Service Center',
              'Software & Licensing',
              'Sport & Fitness',
              'Tas, Koper & Perjalanan',
              'Tv and Home Audio Video',
            ]
          each val, index in kategori
            li
              a(href='/')= val
              ul.dl-submenu
                li
                  a(href='/') Sub-Kategori 1-1
                  ul.dl-submenu
                    li: a(href='/') Sub-Sub-Kategori 1
                    li: a(href='/') Sub-Sub-Kategori 2
                    li: a(href='/') Sub-Sub-Kategori 3
                li
                  a(href='/') Sub-Kategori 1-2
                  ul.dl-submenu
                    li: a(href='/') Sub-Sub-Kategori 1
                    li: a(href='/') Sub-Sub-Kategori 2
                    li: a(href='/') Sub-Sub-Kategori 3
                li
                  a(href='/') Sub-Kategori 1-3
                  ul.dl-submenu
                    li: a(href='/') Sub-Sub-Kategori 1
                    li: a(href='/') Sub-Sub-Kategori 2
                    li: a(href='/') Sub-Sub-Kategori 3
                li: a(href='/') Sub-Kategori 1-4

mixin offcanvas-menu-right(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class="bt-offcanvas --side-right " +spec.__class)&attributes(attributes)
    .bt-offcanvas__content

      if user && user.login
        .bt-offcanvas__title
          span.bt-typo-displaysmall.
            Halo, #{user.firstname}

      .bt-offcanvas__list
        ul.list-unstyled
          each val in ['Akun Saya', 'Wishlist', 'Riwayat Transaksi', 'Bhinneka Affiliate', 'Keluar']
            li: a(href="/")= val

        ul.list-unstyled
          li: a(href="/") Order Tracking
          li: a(href="/") Konfirmasi Pembayaran
          li: a(href="/") Bantuan
