mixin rating(spec)
  - spec = spec || {}
  - spec.small = spec.small || false
  - spec.value = spec.value || '0'

  if spec.small
    - _size = '--small'

  - _value = '--star-'+spec.value

  .bt-rating__base(class=_size)
    .bt-rating__fill(class=_value)
