mixin seo-block(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class=spec.__class)&attributes(attributes)
    .bt-seo__footer
      .container
        .row
          .col-lg-12
            h2 Toko Online Terpercaya & Pertama Di Indonesia
            p Sebagai E-Commerce pertama di Indonesia, Bhinneka bukan hanya menawarkan melainkan juga memberikan Anda kemudahan dan kenyamanan dalam berbelanja. Menyediakan berbagai produk yang menunjang aktivitas harian, bisnis/ profesional dan rumah tangga.
            p Nikmati harga terjangkau dengan beragam promo yang kami tawarkan. Ditambah lagi anda bisa melakukan transaksi di tempat (COD) jadi tidak perlu khawatir barang yang anda beli tidak sesuai dengan keinginan anda. Kami memiliki beberapa store di kota besar seperti Jakarta dan Surabaya.
            p Kami mencoba memahami apa yang anda inginkan, dengan fasilitas cicilan 0% anda bisa segera mendapatkan produk yang anda butuhkan tanpa terbebani dengan biaya yang akan timbul di kemudian hari.
            p Dengan customer service yang responsif dan ramah, menjadikan kami lebih dekat dengan anda. Untuk lebih memudahkan anda yang aktif dan dinamis, Bhinneka hadir dalam aplikasi mobile yang bisa anda download di Google Play Store dan Apple Store.
            p Beragam brand ternama untuk kategori laptop/ notebook selalu kami sediakan untuk anda kapanpun anda mau. Anda bisa cek dan bandingkan: #[a(href='http://www.bhinneka.com/category/notebook___laptop/brands/hp.aspx') harga laptop HP], #[a(href='http://www.bhinneka.com/category/notebook___laptop/brands/asus.aspx') harga laptop Asus], #[a(href='http://www.bhinneka.com/category/notebook___laptop/brands/lenovo.aspx') harga laptop Lenovo], #[a(href='http://www.bhinneka.com/category/notebook___laptop/brands/apple.aspx') harga laptop Apple], #[a(href='http://www.bhinneka.com/category/notebook___laptop.aspx') harga laptop terbaru].
            p Temukan berbagai merek smartphone terbaik dan terlaris seperti #[a(href='http://www.bhinneka.com/promo/xiaomi-redmi-note-3-pro') Xiaomi Redmi Note], #[a(href='http://www.bhinneka.com/promo/oppo-f1s-plus-selfie') Oppo F1S], #[a(href='http://www.bhinneka.com/promo/samsung-galaxy-j2-j5-j7') Samsung J Series], #[a(href='http://www.bhinneka.com/promo/samsung-s6-s7-edge') Samsung S Series], #[a(href='http://www.bhinneka.com/promo/pre-order-samsung-galaxy-s8') Samsung Galaxy S8]. Dan temukan penawaran menarik dari kategori lainnya di Bhinneka. Selamat berbelanja.