mixin service-block(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class=spec.__class)&attributes(attributes)
    .bt-service-block
      .container
        .row
          .col-sm-12
            h2.bt-typo-displaymedium.text-center Layanan Kami
            .row
              .col-sm-4
                img.img-responsive.center-block(
                src='http://placehold.it/150x150'
                alt='image alt title'
                )
                h3.bt-typo-displaysmall Memberikan Solusi
                p Mengalami kesulitan saat menentukan pilhan produk terbaik untuk Anda?
                p Sales associate kami akan memberikan solusi terbaik dalam memilih produk yang sesuai bagi kebutuhan anda. Kami akan dengan senang hati membantu dalam proses set up serta install untuk perangkat elektronik terbaru Anda.
              .col-sm-4
                img.img-responsive.center-block(
                src='http://placehold.it/150x150'
                alt='image alt title'
                )
                h3.bt-typo-displaysmall Kehabisan Barang Saat Belanja?
                p Sudah datang ke store kami dan tidak membawa pulang barang yang anda inginkan? Jangan khawatir! Kami akan antarkan barang yang anda mau langsung ke rumah Anda, tanpa ada tambahan biaya apapun.
              .col-sm-4
                img.img-responsive.center-block(
                src='http://placehold.it/150x150'
                alt='image alt title'
                )
                h3.bt-typo-displaysmall Memberikan Solusi
                p Dengan motto "Belanja lengkap, mudah dan murah" kami tawarkan produk dengan penawaran terbaik dari segi harga maupun kualitas. Dapatkan juga promo-promo menarik hanya untuk anda pengunjung store Bhinneka.