extends ../_atomic/4_templates/membership.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership'
  - var userLog = true

block head
  title Akun - Email dan Password

block page_title
  h1.bt-typo-displaylarge Akun dan Password

block page_subtitle
  p.bt-typo-body Pengaturan keamanan akun Anda

block sidemenu
  #subNavToggle.list-group.collapse
    a.list-group-item(href='/membership') Dashboard
    a.list-group-item(href='/membership/order.html') Order
    a.list-group-item(href='/membership/profile.html') Profil
    a.list-group-item.active(href='/membership/account.html') Akun dan Password
    a.list-group-item(href='/membership/address.html') Alamat Pengiriman
    a.list-group-item(href='/membership/notifications.html') Notifikasi

block main
  .col-md-8
    .row
      .col-md-12
        h3.bt-typo-displaysmall.bt-form-heading Ubah Password #[small Semua wajib diisi]
        form.form-horizontal
          .form-group
            label.control-label.col-lg-4(for='oldPassword') Password Lama
            .col-lg-6
              input.form-control(
                type='password'
                placeholder='Masukan password lama Anda'
                id='oldPassword'
                required
                )
          .form-group
            label.control-label.col-lg-4(for='newPassword') Password Baru
            .col-lg-6
              input.form-control(
                type='password'
                id='newPassword'
                required
                )
              .help-block Password wajib memiliki minimal:
                ul
                  li Minimum 6 karakter
                  li Satu karakter huruf besar
                  li Satu karakter huruf kecil
                  li Satu karakter angka
          .form-group
            label.control-label.col-lg-4(for='confirmPassword') Konfirmasi password Baru
            .col-lg-6
              input.form-control(
                type='password'
                id='confirmPassword'
                required
                )
          .form-group.bt-form__submit
            .col-lg-8.col-lg-offset-4
              hr
              button.btn.btn-primary(
                type= "submit"
              ) Ubah password

      //----- Change Email this feature is hidden for now -----//
      //- .bt-form-container.col-md-12
      //-   h3.bt-typo-displaysmall.bt-form-heading Ubah Email #[small Butuh verifikasi]
      //-   form.form-horizontal

      //-     .form-group
      //-       label.control-label.col-lg-4(for='oldEmail') Email Sekarang
      //-       .col-lg-8
      //-         input.form-control(
      //-           type='email'
      //-           id='oldEmail'
      //-           placeholder="holly.golightly@email.com"
      //-           readonly
      //-           )

      //-     .form-group
      //-       label.control-label.col-lg-4(for='newEmail') Email Baru
      //-       .col-lg-8
      //-         input.form-control(
      //-           type='email'
      //-           id='newEmail'
      //-           required
      //-           )
      //-     .form-group
      //-       label.control-label.col-lg-4(for='confirmNewEmail') Konfirmasi Email Baru
      //-       .col-lg-8
      //-         input.form-control(
      //-           type='email'
      //-           id='confirmNewEmail'
      //-           required
      //-           )
      //-         .help-block Kami akan mengirimkan email berisi link untuk memverifikasi email baru Anda. Jangan lupa cek folder spam/junk juga.
      //-     .form-group.bt-form__submit
      //-       .col-lg-8.col-lg-offset-4
      //-         hr
      //-         button.btn.btn-primary(
      //-           type= "submit"
      //-         ) Ubah Email
