extends ../_atomic/4_templates/membership-detail.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership-detail'
  - var userLog = true
  - var user = { login: true, firstname: 'Sheldon' }

block head
  title Alamat Pengiriman

block page_title
  h1.bt-typo-displaylarge Alamat Pengiriman

block nav-back
  a.bt-back--link(href='/membership/address.html')
    span.bt-figure__icon.pt-icon-large.pt-icon-arrow-left
    | Kembali

block main
  .row
    .col-md-8.col-md-offset-2.bt-form-container
      form.form-horizontal
        .form-group
          label.control-label.col-lg-4(for='recipientFullName') Nama Lengkap
          .col-lg-8
            input.form-control(
              type='input'
              id='recipientFullName'
              placeholder='Nama lengkap'
              required
              )
        .form-group
          label.control-label.col-lg-4(for='shippingCellular') Nomor Ponsel
          .col-lg-8
            .input-group
              label.input-group-addon(for='shippingCellular') +62
              input(
                type='tel'
                class='form-control'
                id='shippingCellular'
                placeholder='Nomor ponsel Anda'
                aria-describedby='basic-addon1'
                required
              )
        .form-group
          label.control-label.col-lg-4(for='shippingPhone') Telepon
          .col-lg-8
            .input-group
              label.input-group-addon(for='shippingPhone') +62
              input(
                type='tel'
                class='form-control'
                id='shippingPhone'
                placeholder='Nomor telepon Anda (opsional)'
                aria-describedby='basic-addon1'
              )
        .form-group
          label.control-label.col-lg-4(for='shippingAddress') Alamat
          .col-lg-8
            textarea(
              class='form-control'
              id='shippingAddress'
              placeholder='Alamat lengkap Anda'
              rows='5'
              required
              )
        .form-group
          label.control-label.col-lg-4(for='shippingProvince') Provinsi
          .col-lg-8
            select(required)#shippingProvince.form-control
              option(value="0") Pilih Provinsi
              option(value="1") Option 1
              option(value="2") Option 2
              option(value="3") Option 3
        .form-group
          label.control-label.col-lg-4(for='shippingCity') Kota
          .col-lg-8
            select(required)#shippingCity.form-control
              option(value="0") Pilih Kota
              option(value="1") Option 1
              option(value="2") Option 2
              option(value="3") Option 3
        .form-group
          label.control-label.col-lg-4(for='shippingDistrict') Kecamatan
          .col-lg-8
            select(required)#shippingDistrict.form-control
              option(value="0") Pilih Kecamatan
              option(value="1") Option 1
              option(value="2") Option 2
              option(value="3") Option 3
        .form-group
          label.control-label.col-lg-4(for='shippingPostalCode') Kode Pos
          .col-lg-8
            select(required)#shippingPostalCode.form-control
              option(value="0") Pilih Kode Pos
              option(value="1") Option 1
              option(value="2") Option 2
              option(value="3") Option 3
        .form-group.bt-form__submit
          .col-lg-8.col-lg-offset-4
            hr
            button.btn.btn-primary(
              type= "submit"
            ) Simpan
            button.btn.btn-default.pull-right(
              type= "submit"
            ) Batal
        .form-group
          .col-xs-12
            button.btn.btn-link.btn-block.--danger(
            type= "submit"
          ) #[span.pt-icon-standard.pt-icon-trash] Hapus Alamat
