extends ../_atomic/4_templates/membership.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership'
  - var userLog = true

block head
  title Akun - Alamat Pengiriman

block page_title
  h1.bt-typo-displaylarge Alamat Pengiriman

block page_subtitle
  p.bt-typo-body Pengaturan alamat pengiriman Anda

block sidemenu
  #subNavToggle.list-group.collapse
    a.list-group-item(href='/membership') Dashboard
    a.list-group-item(href='/membership/order.html') Order
    a.list-group-item(href='/membership/profile.html') Profil
    a.list-group-item(href='/membership/account.html') Akun dan Password
    a.list-group-item.active(href='/membership/address.html') Alamat Pengiriman
    a.list-group-item(href='/membership/notifications.html') Notifikasi

block main
  .col-md-8
    .row
      .col-md-12
        h3.bt-typo-displaysmall.bt-form-heading Daftar Alamat Pengiriman
        .list-group.bt-list-group
            .list-group-item
              a(
                href='/membership/address-detail.html'
                role='button'
              ).btn.btn-block.btn-link #[span.pt-icon-standard.pt-icon-add-to-artifact] Alamat Baru
            +loop(3)
              a.list-group-item(href='/membership/address-detail.html')
                dl.dl-horizontal
                  dt
                    address Zlatan Ibrahimovic
                  dd
                    address Tikukur 21<br>Bandung Jawa Barat, 40133<br>022 555250112<br>0811 5556667
                  span.pt-icon-large.pt-icon-chevron-right.text-primary
        nav.text-center
          ul.pagination
            li.disabled
              a(
                href='#'
                aria-label='Sebelum'
              ) #[span.pt-icon-standard.pt-icon-chevron-left(aria-hidden='true')]
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(
                href='#'
                aria-label='Sebelum'
              ) #[span.pt-icon-standard.pt-icon-chevron-right(aria-hidden='true')]
