extends ../_atomic/4_templates/membership.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership --loader-state'
  - var userLog = true

block head
  title Akun - Alamat Pengiriman

block page_title
  h1.bt-typo-displaylarge Alamat Pengiriman

block page_subtitle
  p.bt-typo-body Pengaturan alamat pengiriman Anda

block sidemenu
  #subNavToggle.list-group.collapse
    a.list-group-item(href='/membership') Dashboard
    a.list-group-item(href='/membership/order.html') Order
    a.list-group-item(href='/membership/profile.html') Profil
    a.list-group-item(href='/membership/account.html') Akun dan Password
    a.list-group-item.active(href='/membership/address.html') Alamat Pengiriman
    a.list-group-item(href='/membership/notifications.html') Notifikasi

block main
  .col-md-8
    .row
      .col-md-12
        h3.bt-typo-displaysmall.bt-form-heading Daftar Alamat Pengiriman
        .list-group.bt-list-group
            +loop(3)
              .list-group-item(href='/membership/address-detail.html')
                dl.dl-horizontal
                  dt
                    address Holly Golightly
                  dd
                    address Tikukur 21<br>Bandung Jawa Barat, 40133<br>022 555250112<br>0811 5556667
