extends ../_atomic/4_templates/membership.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership'
  - var userLog = true
  - var user = { login: true, firstname: 'Sheldon' }

block head
  title Dashboard Akun Bhinneka

block page_title
  h1.bt-typo-displaylarge Dashboard

block page_subtitle
  p.bt-typo-body Akses cepat ke semua hal tentang akun Anda

block sidemenu
  #subNavToggle.list-group.collapse
    span.list-group-item.title(href='/membership') Menu Utama
    a.list-group-item.active(href='/membership') Dashboard
    a.list-group-item(href='/membership/order.html') Daftar Transaksi #[span.badge.--badge-warning 3]
    span.list-group-item.title(href='/membership') Pengaturan
    a.list-group-item(href='/membership/order.html') Akun
    a.list-group-item(href='/membership/order.html') Data Alamat
    a.list-group-item(href='/membership/order.html') Dokumen
    a.list-group-item(href='/membership/order.html') User
    a.list-group-item(href='/membership/order.html') Departemen
    span.list-group-item.title(href='/membership') Profil
    a.list-group-item(href='/membership/profile.html') Informasi Akun
    a.list-group-item(href='/membership/account.html') Ubah Password

block main
  .col-md-8
    .row
      .col-md-6
        h3.bt-typo-displaysmall.bt-form-heading Akses Cepat
        .list-group
          a.list-group-item(href='/membership/profile.html') Ubah Data Profil
          a.list-group-item(href='/membership/address.html') Alamat Pengiriman
          a.list-group-item(href='/membership/account.html') Ubah Password
      .col-md-6
        h3.bt-typo-displaysmall.bt-form-heading Order
        .list-group
          a.list-group-item(href='/membership/order.html') Order Menunggu Pembayaran #[span.badge.--badge-error 3]
          a.list-group-item(href='/membership/order.html') Order Menunggu Review #[span.badge.--badge-warning 3]
    .row
      .col-md-12
        h3.bt-typo-displaysmall.bt-form-heading Bantuan dan Kontak
        .list-group
          a.list-group-item(href='tel:+622129292828') Telpon: 021 2929 2828
          a.list-group-item(href='sms:+628121238000') SMS: 0812 123 8000
          a.list-group-item(href='tel:+62214257787') Fax: 021 425 7787
