extends ../_atomic/4_templates/membership.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership'
  - var userLog = true

block head
  title Akun - Notifikasi

block page_title
  h1.bt-typo-displaylarge Notifikasi

block page_subtitle
  p.bt-typo-body Pengaturan notifikasi

block sidemenu
  #subNavToggle.list-group.collapse
    a.list-group-item(href='/membership') Dashboard
    a.list-group-item(href='/membership/order.html') Order
    a.list-group-item(href='/membership/profile.html') Profil
    a.list-group-item(href='/membership/account.html') Akun dan Password
    a.list-group-item(href='/membership/address.html') Alamat Pengiriman
    a.list-group-item.active(href='/membership/notifications.html') Notifikasi

block main
  .col-md-8
    .row
      .col-md-12
        h3.bt-typo-displaysmall.bt-form-heading Notifikasi
        .list-group
          .list-group-item.checkbox
            label.bt-typo-displaysmall
              input(type='checkbox')
              | Penawaran eksklusif Bhinneka
            .help-block Bukan spam, bisa berhenti berlangganan kapan saja 🤞
