extends ../_atomic/4_templates/membership.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership'
  - var userLog = true

block head
  title Akun - Order

block page_title
  h1.bt-typo-displaylarge Order

block page_subtitle
  p.bt-typo-body Pengaturan semua order Anda

block sidemenu
  #subNavToggle.list-group.collapse
    span.list-group-item.title(href='/membership') Menu Utama
    a.list-group-item(href='/membership') Dashboard
    a.list-group-item.active(href='/membership/order.html') Daftar Transaksi #[span.badge.--badge-warning 3]
    span.list-group-item.title(href='/membership') Pengaturan
    a.list-group-item(href='/membership/order.html') Akun
    a.list-group-item(href='/membership/order.html') Data Alamat
    a.list-group-item(href='/membership/order.html') Dokumen
    a.list-group-item(href='/membership/order.html') User
    a.list-group-item(href='/membership/order.html') Departemen
    span.list-group-item.title(href='/membership') Profil
    a.list-group-item(href='/membership/profile.html') Informasi Akun
    a.list-group-item(href='/membership/account.html') Ubah Password

block main
  .col-md-8
    .row
      .col-md-12
        h3.bt-typo-displaysmall.bt-form-heading Histori Order
        .list-group.bt-list-group
          -
            var status = [
              {color: '--badge-warning', text: 'Proses Negosiasi'},
              {color: '--badge-warning', text: 'Menunggu Persetujuan'},
              {color: '--badge-success', text: 'Selesai'},
              {color: '--badge-error', text: 'Batal'},
              {color: '', text: 'Draft'}
            ]
          each val in status
            a.list-group-item(href='/membership/order-detail.html')
              dl.dl-horizontal
                dt.list-group-item-heading Judul Order
                dd.list-group-item-text.bt-typo-mono Pengadaan Server HP (0295129065129056)
              dl.dl-horizontal
                dt.list-group-item-heading Requestor
                dd.list-group-item-text.bt-typo-mono Zlatan Ibrahimovic
              dl.dl-horizontal
                dt.list-group-item-heading Department
                dd.list-group-item-text.bt-typo-mono General Affair
              dl.dl-horizontal
                dt.list-group-item-heading Tanggal
                dd.list-group-item-text #[date 16 Agu 2017] 15.00
              dl.dl-horizontal
                dt.list-group-item-heading Status
                dd.list-group-item-text.bt-badge__label
                  span.badge(class= val.color)= val.text
              dl.dl-horizontal
                dt.list-group-item-heading Total Order
                dd.list-group-item-text.bt-typo-mono Rp 14.000.000,00
              dl.dl-horizontal
                dt.list-group-item-heading Alamat Pengiriman
                dd.list-group-item-text Holly Golightly, Jakarta, Jakarta Selatan
              span.pt-icon-large.pt-icon-chevron-right.text-primary

        nav.text-center
          ul.pagination
            li.disabled
              a(
                href='#'
                aria-label='Sebelum'
              ) #[span.pt-icon-standard.pt-icon-chevron-left(aria-hidden='true')]
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(
                href='#'
                aria-label='Sebelum'
              ) #[span.pt-icon-standard.pt-icon-chevron-right(aria-hidden='true')]
