extends ../_atomic/4_templates/membership.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership --loader-state'
  - var userLog = true

block head
  title Akun - Order

block page_title
  h1.bt-typo-displaylarge Order

block page_subtitle
  p.bt-typo-body Pengaturan semua order Anda

block sidemenu
  #subNavToggle.list-group.collapse
    span.list-group-item.title(href='/membership') Menu Utama
    a.list-group-item.active(href='/membership') Dashboard
    a.list-group-item(href='/membership/order.html') Daftar Transaksi #[span.badge.--badge-warning 3]
    span.list-group-item.title(href='/membership') Pengaturan
    a.list-group-item(href='/membership/order.html') Akun
    a.list-group-item(href='/membership/order.html') Data Alamat
    a.list-group-item(href='/membership/order.html') Dokumen
    a.list-group-item(href='/membership/order.html') User
    a.list-group-item(href='/membership/order.html') Departemen
    span.list-group-item.title(href='/membership') Profil
    a.list-group-item(href='/membership/profile.html') Informasi Akun
    a.list-group-item(href='/membership/account.html') Ubah Password

block main
  .col-md-8
    .row
      .col-md-12
        h3.bt-typo-displaysmall.bt-form-heading Histori Order
        .list-group.bt-list-group

          .list-group-item
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text.bt-typo-mono
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text.bt-badge__label
            
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text.bt-typo-mono
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text
                
          .list-group-item
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text.bt-typo-mono
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text.bt-badge__label
            
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text.bt-typo-mono
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text
                
          .list-group-item
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text.bt-typo-mono
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text.bt-badge__label
            
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text.bt-typo-mono
            dl.dl-horizontal
              dt.list-group-item-heading
              dd.list-group-item-text
