extends ../_atomic/4_templates/membership-detail.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership-detail'
  - var userLog = true

block head
  title Order

block page_title
  h1.bt-typo-displaylarge Order

block page_subtitle
  h4.bt-typo-mono 0295129065129056
  .bt-badge__label
    span.badge.--badge-warning Belum Dibayar
    span.badge.--badge-warning Dalam Proses
    span.badge.--badge-success Lunas
    span.badge.--badge-error Gagal
    span.badge Batal

block nav-back
  a.bt-back--link(href='/membership/order.html')
    span.bt-figure__icon.pt-icon-large.pt-icon-arrow-left
    | Kembali

block main
  .row
    .col-md-8.col-md-offset-2
      dl.dl-horizontal
        dt.list-group-item-heading Tanggal
        dd.list-group-item-text #[date 16 Agu 2017]
      dl.dl-horizontal
        dt.list-group-item-heading Total Order
        dd.list-group-item-text.bt-typo-mono Rp 14.000.000,00
      dl.dl-horizontal
        dt.list-group-item-heading Alamat Pengiriman
        dd.list-group-item-text
          address.
            #[strong Holly Golightly]<br>
            Tikukur 21<br>
            Bandung Jawa Barat, 40133<br>
            022 555250112<br>
            0811 5556667
      .list-group
        +loop(3)
          .list-group-item
            h4.list-group-item-heading.bt-typo-displaysmall #[a(href='#') SAMSUNG Galaxy S7 Edge 128GB - Black]
            h5 @ Rp 10.499.000
            .bt-typo-body
              p Dijual dan Dikirim oleh #[a(href='#') Bhinneka]
              p Jumlah: 2
              p Total: Rp 20.998.000
