extends ../_atomic/4_templates/membership.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership'
  - var userLog = true

block head
  title Akun - Profil

block page_title
  h1.bt-typo-displaylarge Profil

block page_subtitle
  p.bt-typo-body Pengaturan informasi pribadi Anda

block sidemenu
  #subNavToggle.list-group.collapse
    a.list-group-item(href='/membership') Dashboard
    a.list-group-item(href='/membership/order.html') Order
    a.list-group-item.active(href='/membership/profile.html') Profil
    a.list-group-item(href='/membership/account.html') Akun dan Password
    a.list-group-item(href='/membership/address.html') Alamat Pengiriman
    a.list-group-item(href='/membership/notifications.html') Notifikasi

block main 
  .col-md-8                  
    .row
      .col-md-12
        h3.bt-typo-displaysmall.bt-form-heading Informasi Pembeli #[small Semua wajib diisi]
        form.form-horizontal
          .form-group
            label.control-label.col-lg-4(for='gender') Jenis Kelamin
            .col-lg-8
              .btn-group.btn-group-justified(data-toggle='buttons')
                label.btn.btn-default
                  input(
                    type='radio'
                    name='options'
                    id='male'
                    autocomplete='off'
                    required
                    )
                  | Pria
                label.btn.btn-default
                  input(
                    type='radio'
                    name='options'
                    id='female'
                    autocomplete='off'
                    required
                    )
                  | Wanita
          .form-group
            label.control-label.col-lg-4(for='fullName') Nama Lengkap
            .col-lg-8
              input.form-control(
                type='input'
                id='fullName'
                placeholder='Nama lengkap'
                required
                )
          .form-group
            label.control-label.col-lg-4(for="bt-register__date") Tanggal Lahir
            .col-lg-8
              input#bt-register__date.form-control(
                type="date"
                autocomplete="false"
                required
              )
          .form-group
            label.control-label.col-lg-4(for='currentEmail') Email
            .col-lg-8
              .input-group
                p.form-control-static holly.golightly@email.com
          .form-group
            label.control-label.col-lg-4(for='cellular') Nomor Ponsel
            .col-lg-8
              .input-group
                label.input-group-addon(for='cellular') +62
                input(
                  type='tel'
                  class='form-control'
                  id='cellular'
                  placeholder='Nomor ponsel Anda'
                  aria-describedby='basic-addon1'
                  required
                )
          .form-group
            label.control-label.col-lg-4(for='phone') Telepon
            .col-lg-8
              .input-group
                label.input-group-addon(for='phone') +62
                input(
                  type='tel'
                  class='form-control'
                  id='phone'
                  placeholder='Nomor telepon Anda (opsional)'
                  aria-describedby='basic-addon1'
                )
          .form-group
            label.control-label.col-lg-4(for='address') Alamat
            .col-lg-8
              textarea(
                class='form-control'
                id='address'
                placeholder='Alamat lengkap Anda'
                rows='5'
                required
                )
          .form-group
            label.control-label.col-lg-4(for='province') Provinsi
            .col-lg-8
              select(required)#province.form-control
                option(value="0") Pilih Provinsi
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
          .form-group
            label.control-label.col-lg-4(for='city') Kota
            .col-lg-8
              select(required)#city.form-control
                option(value="0") Pilih Kota
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
          .form-group
            label.control-label.col-lg-4(for='district') Kecamatan
            .col-lg-8
              select(required)#district.form-control
                option(value="0") Pilih Kecamatan
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3
          .form-group
            label.control-label.col-lg-4(for='postalCode') Kode Pos
            .col-lg-8
              select(required)#postalCode.form-control
                option(value="0") {Generate Postal Code}
          .form-group.bt-form__submit
            .col-lg-8.col-lg-offset-4
              hr
              button.btn.btn-primary(
                type= "submit"
              ) Simpan
              button.btn.btn-default.pull-right(
                type= "submit"
              ) Batal
