extends ../_layouts/checkout.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-page-payment --static-nav'
  - var userLog = false
  - var prevPage = '/payment/step-2.html'
  - var nextPage = '/'
  - var checkoutSuccess = true
  
block head
  title Pembayaran - Kartu Kredit

block content
  .bt-page-header
    .container
      .row
        .col-lg-12
          .bt-page-title
            a.btn.bt-payment__button-back(href=prevPage)
              span.pt-icon-large.pt-icon-arrow-left
            p.bt-typo-heading Tahap 2 dari 2
            h2.bt-typo-displaylarge Detail Pembayaran
            p.bt-typo-body Koneksi anda sudah diamankan dengan SSL
                  
                  
  main.container
    .row
      .col-lg-7.bt-left-container.theiaStickySidebar
        .bt-form-container
          .bt-buyer-details
            h3.bt-typo-displaysmall.bt-form-heading Kartu Kredit
            .testcardcc.col-lg-8.col-lg-offset-4.hidden
            form.form-horizontal#testformcc
              .form-group
                label.control-label.col-lg-4(for='cardNumber') Nomor Kartu Kredit
                  span.pt-icon.pt-icon-help.bt-tooltip(
                    data-toggle="tooltip"
                    data-placement="top"
                    title="16-19 Digit nomor yang tertera di kartu"
                    href="#"
                    container='form-group'
                    )
                .col-lg-5
                  input.form-control(
                    type='tel'
                    name='number'
                    id='cardNumber'
                    required
                    autocomplete='cc-number'
                    )
                    
              .form-group
                label.control-label.col-lg-4(for='cardName') Nama di Kartu
                  span.pt-icon.pt-icon-help.bt-tooltip(
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Nama pemilik yang tertera di kartu"
                    href="#"
                    container='form-group'
                    )
                .col-lg-8
                  input.form-control(
                    type='text'
                    name='name'
                    id='cardName'
                    pattern="[a-zA-Z\s]+"
                    required
                    autocomplete='cc-name'
                    )
                                    
              .row
                .col-lg-12.col-xs-6
                  .form-group
                    label.control-label.col-lg-4(for='cardExpiry') Masa Berlaku
                      span.pt-icon.pt-icon-help.bt-tooltip(
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Masa berakhirnya kartu anda"
                        href="#"
                        container='form-group'
                        )
                    .col-lg-2
                      input.form-control(
                        type='tel'
                        name='expiry'
                        autocomplete="cc-exp"
                        id='cardExpiry'
                        placeholder='MM/YY'
                        required
                        )
              
                .col-lg-12.col-xs-6  
                  .form-group
                    label.control-label.col-lg-4(for='cvvCode') Kode CVV
                      span.pt-icon.pt-icon-help.bt-tooltip(
                        data-toggle="tooltip"
                        data-placement="top"
                        title="3 Digit Kode di belakang kartu anda"
                        href="#"
                        )

                    .col-lg-2
                      input.form-control(
                        type="tel"
                        name='cvc'
                        autocomplete="false"
                        id='cvvCode'
                        maxlength='3'
                        required
                        )
              
              .form-group
                .col-lg-8.col-lg-offset-4
                  ul
                    li: strong Batas waktu pembayaran adalah 1 jam, setelahnya transaksi akan dibatalkan atau dianggap kadaluwarsa
                    li Pembayaran dapat dilakukan dengan kartu kredit MasterCard/Visa yang diterbitkan di Indonesia
                    li Data pembeli (nama, alamat, nomor telepon, dll) harus sama dengan data pemilik kartu kredit
                    li Cicilan kartu kredit hanya berlaku untuk produk seharga minimal Rp 500.000, dan/atau dengan keterangan khusus
                    li Nilai per transaksi untuk metode pembayaran ini adalah Rp 5.000 – Rp 36.000.000
                    li Bhinneka berhak untuk menolak atau membatalkan pesanan jika ditemukan hal-hal yang tidak lazim terkait penggunaan kartu kredit.
                    li Untuk Pembayaran Penuh, transaksi Anda akan dikenakan biaya administrasi tambahan
                              
      .col-lg-5.bt-right-container.theiaStickySidebar
        .bt-summary-container.panel.bt-panel.--elevation-1
          .clearfix
            h3.bt-typo-displaysmall.pull-left Informasi Pengiriman
            //- a.btn.btn-link.pull-right(href='/payment/step-1.html') ubah
          .panel-body.bt-row-shipping-summary
            p.bt-typo-heading.bt-recipient-name Holly Golightly
            p.bt-recipient-address Jalan Institut Keguruan Ilmu Pendidikan Persatuan Guru Republik Indonesia Sektor 1A Blok DB 23 No. 5
            p DKI Jakarta
            p Jakarta Pusat
            p.bt-recipient-zipcode 40160
            p +6281805812344
            p +62214208137
            
        .bt-summary-container.panel.bt-panel.--elevation-1
          button.btn.btn-block.btn-hollow(
            data-toggle='modal'
            data-target='.bt-cart-modal'
            ) lihat keranjang
          .panel-body.bt-row-payment-summary
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body Subtotal
              p.pull-right.bt-typo-body.value Rp 34.597.000
            .clearfix.ecoupon-info
              p.pull-left.bt-typo-body eCoupon
              p.pull-right.bt-typo-body.value.text-danger -Rp 500.000
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body Ongkir
              p.pull-right.bt-typo-body.value Rp 9.000
            .clearfix.total-cart-info
              p.pull-left.bt-typo-heading TOTAL
              p.pull-right.bt-typo-heading.value Rp 34.106.000
          
          .row.bt-row-button-section
            .col-xs-5.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-hollow(href='#') Batal
            .col-xs-7.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-primary(href=nextPage) Lanjut
                span.pt-icon.pt-icon-arrow-right.text-inverse
                  
        a.bt-geotrust__certificate(href="#")
          img(src="/images/getgeotrustsslseal.gif")
                    
                    
  .modal.fade.in.bt-cart-modal(
    tabindex='-1'
    role='dialog'
    )
    .modal-dialog.modal-lg(
      role='document'
      )
      .modal-content
        .modal-header.clearfix
          span.pt-icon-large.pt-icon-cross.pull-right(
            data-dismiss='modal'
            )
          h4.bt-typo-displaysmall.modal-title.pull-left Keranjang Anda
        .modal-body
          
          - var cartContent = 1;
          while cartContent <= 5
          
            .row.bt-cart-content
              .col-lg-8.product-column
                .media
                  .media-left
                    .img-thumbnail.product-image
                      img(src='/images/dummy/dummy-88.png')
                  .media-body
                    .media-heading.bt-typo-heading SAMSUNG Galaxy S7 Edge 128GB - Black
                    p.bt-typo-body Rp 10.499.000
                    p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka
              .col-lg-4
                .row
                  .col-lg-6
                    .quantity.clearfix
                      p.bt-typo-heading.pull-left Qty: 1
                      p.bt-typo-heading.pull-right Rp 10.499.000
                      
            - cartContent++
