extends ../_layouts/checkout.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-page-payment --static-nav'
  - var userLog = false
  - var prevPage = '/payment/step-2.html'
  - var nextPage = '/'
  - var checkoutSuccess = true
  
block head
  title Pembayaran - Internet Banking

block content
  .bt-page-header
    .container
      .row
        .col-lg-12
          .bt-page-title
            a.btn.bt-payment__button-back(href=prevPage)
              span.pt-icon-large.pt-icon-arrow-left
            p.bt-typo-heading Tahap 2 dari 2
            h2.bt-typo-displaylarge Detail Pembayaran
            p.bt-typo-body Koneksi anda sudah diamankan dengan SSL
                
                  
  main.container
    .row
      .col-lg-7.bt-left-container.theiaStickySidebar
        .bt-form-container
          .bt-buyer-details
            h3.bt-typo-displaysmall.bt-form-heading Internet Banking
            form.form-horizontal
              .form-group
                label.control-label.col-lg-4(for='eBanking') Layanan eBanking
                .col-lg-8
                  select#eBanking.form-control
                    option(value="0" selected) Klik BCA
                    option(value="1") BCA KlikPay
                    option(value="2") Mandiri ClickPay
                    option(value="3") CIMB Clicks
                    option(value="4") e-Pay BRI
                    option(value="5") Danamon Online Banking
              
              .bt-klikbca
                .form-group
                  label.control-label.col-lg-4(for='klikbca') Username Klik BCA
                  .col-lg-8
                    input.form-control(
                      type='input'
                      id='klikbca'
                      maxlength='12'
                      )
                .form-group
                  .col-lg-8.col-lg-offset-4
                    ul
                      li: strong Batas waktu pembayaran adalah 1 jam, setelahnya transaksi Anda akan dibatalkan atau kadaluwarsa
                      li Pastikan User ID KlikBCA Anda terdaftar dan masih aktif
                      li Masukkan User ID KlikBCA Anda
                      li Lakukan pembayaran melalui #[a(href='https://www.klikbca.com/') www.klikbca.com] dengan User ID Anda setelah menyelesaikan proses pesanan
                      li Transaksi akan diproses setelah pembayaran selesai
                      li Nilai per transaksi untuk metode pembayaran ini adalah Rp 10.000 – Rp 100.000.000
                            
              .bt-bcaklikpay.hide
                .form-group
                  .col-lg-8.col-lg-offset-4
                    ul
                      li Anda akan diarahkan untuk melakukan pembayaran dengan BCA KlikPay setelah proses pesanan selesai
                      li Untuk pembayaran penuh, Anda bisa menggunakan KlikBCA Individu atau BCA Card
                      li Untuk pembayaran cicilan, Anda harus menggunakan BCA Card dan hanya berlaku untuk produk-produk berlogo "BCA KlikPay 0%"
                      li Nilai per transaksi untuk metode pembayaran ini (tidak termasuk ongkos kirim) adalah Rp 10.000 – Rp 100.000.000
                      li Informasi lebih lanjut untuk cara pendaftaran, aktivasi, dan pembayaran dengan BCA KlikPay dapat diakses melalui website #[a(href='http://www.klikbca.com/KlikPay/klikpay.html') BCA KlikPay], dan Halo BCA #[a(href='+6221500888') 500 888] dari handphone             
                      
              .bt-mandiriclickpay.hide
                .form-group
                  label.control-label.col-lg-4(for='debitCard') Nomor Kartu Debit
                  .col-lg-8
                    input.form-control(
                      type='input'
                      id='debitCard'
                      maxlength='16'
                      )
                  
                .form-group
                  .col-lg-8.col-lg-offset-4
                    ul
                      li: strong Batas waktu pembayaran adalah 1 jam, setelahnya transaksi Anda akan dibatalkan atau kadaluwarsa
                      li Masukkan nomor Kartu Debit Mandiri Anda
                      li Pembayaran dengan Mandiri Clickpay dapat langsung dilakukan di website kami setelah menyelesaikan proses pesanan
                      li Anda harus memiliki User ID Mandiri internet dan Token PIN Mandiri
                      li Anda harus mengaktivasikan "Mandiri Clickpay" pada menu layanan Mandiri Internet di #[a(href='https://www.bankmandiri.co.id') www.bankmandiri.co.id]
                      li Informasi lebih lanjut untuk aktivasi "Mandiri Clickpay" dapat diakses #[a(href='https://www.bankmandiri.co.id/article/faq-ib.aspx') disini] dan Mandiri Call #[a(href='tel:+62214000') 14000]
                      li Nilai per transaksi untuk metode pembayaran ini adalah Rp 10.000 – Rp 50.000.000
                      
              .bt-cimbclicks.hide
                .form-group
                  label.control-label.col-lg-4(for='cimbclicks') Username CIMB Clicks
                  .col-lg-8
                    input.form-control(
                      type='input'
                      id='cimbclicks'
                      maxlength='16'
                      )
                .form-group
                  .col-lg-8.col-lg-offset-4
                    ul
                      li: strong Batas waktu pembayaran adalah 1 jam, setelahnya transaksi Anda akan dibatalkan atau kadaluwarsa
                      li Pastikan Anda telah memiliki User ID CIMB Clicks, dan sudah mendaftarkan mPIN
                      li Pembayaran menggunakan CIMB Clicks berlangsung online. Saldo rekening CIMB Niaga Anda akan terdebet secara otomatis sesuai nilai pembelanjaan
                      li Nilai per transaksi untuk metode pembayaran ini adalah Rp 10.000 – Rp 100.000.000
              
              .bt-epaybri.hide
                .form-group
                  label.control-label.col-lg-4(for='epaybri') User ID e-Pay BRI
                  .col-lg-8
                    input.form-control(
                      type='input'
                      id='epaybri'
                      maxlength='16'
                      )
                .form-group
                  .col-lg-8.col-lg-offset-4
                    ul
                      li: strong Batas waktu pembayaran adalah 1 jam, setelahnya transaksi Anda akan dibatalkan atau kadaluwarsa
                      li Pastikan Anda telah memiliki User ID Internet Banking BRI, dan sudah mendaftarkan mTOKEN untuk e-Pay BRI
                      li Untuk mendapatkan User ID Internet Banking BRI, silakan melakukan registrasi non finansial melalui ATM BRI terdekat
                      li Untuk mendaftarkan mTOKEN, silakan melakukan registrasi finansial di cabang BRI terdekat
                      li Pembayaran dengan e-Pay BRI berlangsung online. Saldo rekening BRI Anda akan terdebet secara otomatis sesuai nilai pembelanjaan
                      li Nilai per transaksi untuk metode pembayaran ini adalah Rp 10.000 – Rp 100.000.000
            
              .bt-danamononline.hide
                .form-group
                  .col-lg-8.col-lg-offset-4
                    ul
                      li: strong Batas waktu pembayaran adalah 1 jam, setelahnya transaksi Anda akan dibatalkan atau kadaluwarsa
                      li Pastikan Anda telah memiliki User ID, Password, dan Token Danamon Online Banking
                      li Anda akan diarahkan ke website Danamon Online Banking untuk pembayaran Belanja Online
                      li Informasi lebih lanjut untuk cara pendaftaran, aktivasi, dan pembayaran dengan menggunakan Danamon Online Banking dapat diakses melalui #[a(href='https://www.danamonline.com') Danamon Online], atau hubungi Hello Danamon di #[a(href="tel:+6221500090") 1-500-090] dan #[a(href="tel:+622167777") 67777] dari handphone
                      li Nilai per transaksi untuk metode pembayaran ini adalah Rp 10.000 – Rp 200.000.000
                            
      .col-lg-5.bt-right-container.theiaStickySidebar
        .bt-summary-container.panel.bt-panel.--elevation-1
          .clearfix
            h3.bt-typo-displaysmall.pull-left Informasi Pengiriman
            //- a.btn.btn-link.pull-right(href='/payment/step-1.html') ubah
          .panel-body.bt-row-shipping-summary
            p.bt-typo-heading.bt-recipient-name Holly Golightly
            p.bt-recipient-address Jalan Institut Keguruan Ilmu Pendidikan Persatuan Guru Republik Indonesia Sektor 1A Blok DB 23 No. 5
            p DKI Jakarta
            p Jakarta Pusat
            p.bt-recipient-zipcode 40160
            p +6281805812344
            p +62214208137
        .bt-summary-container.panel.bt-panel.--elevation-1
          
          button.btn.btn-block.btn-hollow(
            data-toggle='modal'
            data-target='.bt-cart-modal'
            ) lihat keranjang
          
          .panel-body.bt-row-payment-summary
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body Subtotal
              p.pull-right.bt-typo-body.value Rp 34.597.000
            .clearfix.ecoupon-info
              p.pull-left.bt-typo-body eCoupon
              p.pull-right.bt-typo-body.value.text-danger -Rp 500.000
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body Ongkir
              p.pull-right.bt-typo-body.value Rp 9.000
            .clearfix.total-cart-info
              p.pull-left.bt-typo-heading TOTAL
              p.pull-right.bt-typo-heading.value Rp 34.106.000
          
          .row.bt-row-button-section
            .col-xs-5.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-hollow(href='#') Batal
            .col-xs-7.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-primary(href=nextPage) Lanjut
                span.pt-icon.pt-icon-arrow-right.text-inverse
                  
        a.bt-geotrust__certificate(href="#")
          img(src="/images/getgeotrustsslseal.gif")
                    
                    
  .modal.fade.in.bt-cart-modal(
    tabindex='-1'
    role='dialog'
    )
    .modal-dialog.modal-lg(
      role='document'
      )
      .modal-content
        .modal-header.clearfix
          span.pt-icon-large.pt-icon-cross.pull-right(
            data-dismiss='modal'
            )
          h4.bt-typo-displaysmall.modal-title.pull-left Keranjang Anda
        .modal-body
          
          - var cartContent = 1;
          while cartContent <= 5
          
            .row.bt-cart-content
              .col-lg-8.product-column
                .media
                  .media-left
                    .img-thumbnail.product-image
                      img(src='/images/dummy/dummy-88.png')
                  .media-body
                    .media-heading.bt-typo-heading SAMSUNG Galaxy S7 Edge 128GB - Black
                    p.bt-typo-body Rp 10.499.000
                    p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka
              .col-lg-4
                .row
                  .col-lg-6
                    .quantity.clearfix
                      p.bt-typo-heading.pull-left Qty: 1
                      p.bt-typo-heading.pull-right Rp 10.499.000
                      
            - cartContent++
