extends ../_atomic/4_templates/checkout_4.pug

block config
  - var bodyId = 'bt-order-last-step'
  - var bodyClass = 'bt-page-payment --failed'
  - var userLog = true

block head
  title Pembayaran - Gagal

block page_title
  .bt-emoji 😔
  h2.bt-typo-displaylarge Pembayaran Gagal

block illustration
  img.img-responsive.bt-illustration(src='/images/il_order_warning_320px.svg' alt='Order Warning')

block main_left
  p.bt-typo-displaysmall Pembayaran dapat dicoba lagi, jika tetap gagal kontak kami
  a.btn.btn-hollow.btn-lg(href="/") Coba Lagi Pembayaran
