extends ../_layouts/checkout.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-page-payment --static-nav --loader-state'
  - var warningBar = false
  - var prevPage = '/payment/step-1.html'

block head
  title Pembayaran - Pilih Metode

block content
  .bt-page-header
    .container
      .row
        .col-lg-12
          .bt-page-title
            a.btn.bt-payment__button-back(href=prevPage)
              span.pt-icon-large.pt-icon-arrow-left
            p.bt-typo-heading Tahap 2 dari 2
            h2.bt-typo-displaylarge Metode Pembayaran
            p.bt-typo-body Silahkan pilih metode pembayaran anda

  main.container
    .row
      .col-lg-7.bt-left-container.theiaStickySidebar
        .bt-payment-select

          .panel
            .panel-heading
              label(role="button")
                input(type='radio' name='payment' id='payment1' value='credit-card' disabled)
                span.bt-typo-displaysmall
                p


          .panel
            .panel-heading
              label(role="button")
                input(type='radio' name='payment' id='payment2' value='debit-card' disabled)
                span.bt-typo-displaysmall
                p

          .panel
            .panel-heading
              label(role='button')
                input(type='radio' name='payment' id='payment3' value='installment' disabled)
                span.bt-typo-displaysmall
                p


          .panel
            .panel-heading
              label(role='button')
                input(type='radio' name='payment' id='payment4' value='e-banking' disabled)
                span.bt-typo-displaysmall
                p


          .panel
            .panel-heading
              label(role='button')
                input(type='radio' name='payment' id='payment5' value='e-money' disabled)
                span.bt-typo-displaysmall
                p


      .col-lg-5.bt-right-container.theiaStickySidebar
        .bt-summary-container.panel.bt-panel.--elevation-1
          .clearfix
            h3.bt-typo-displaysmall.pull-left Informasi Pengiriman
          .panel-body.bt-row-shipping-summary
            p.bt-typo-heading.bt-recipient-name
            p.bt-recipient-address
            p
            p
            p.bt-recipient-zipcode
            p
            p

        .bt-summary-container.panel.bt-panel.--elevation-1
          button.btn.btn-block.btn-hollow(
            data-toggle='modal'
            data-target='.bt-cart-modal'
            disabled
            ) lihat keranjang

          .panel-body.bt-row-payment-summary
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body
              p.pull-right.bt-typo-body.value
            .clearfix.ecoupon-info
              p.pull-left.bt-typo-body
              p.pull-right.bt-typo-body.value.text-danger
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body
              p.pull-right.bt-typo-body.value
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body
              p.pull-right.bt-typo-body.value
            .clearfix.total-cart-info
              p.pull-left.bt-typo-heading
              p.pull-right.bt-typo-heading.value

          .row.bt-row-button-section
            .col-xs-5.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-hollow(href='#') Batal
            .col-xs-7.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-primary(href=nextPage) Lanjut
                span.pt-icon.pt-icon-arrow-right.text-inverse

  .bt-cart-modal.modal.fade.in(tabindex='-1' role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          span.pt-icon-large.pt-icon-cross.pull-right(data-dismiss='modal')
          h4.bt-typo-displaysmall.modal-title Keranjang Anda
        .modal-body

          +loop(8)
            .row.bt-cart-content
              .col-lg-8.product-column
                .media
                  .media-left
                    .img-thumbnail.product-image
                      img(src='http://via.placeholder.com/88')
                  .media-body
                    .media-heading.bt-typo-heading SAMSUNG Galaxy S7 Edge 128GB - Black
                    p.bt-typo-body Rp 10.499.000
                    p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka
              .col-lg-4
                .row
                  .col-lg-6
                    .quantity.clearfix
                      p.bt-typo-heading.pull-left Qty: 1
                      p.bt-typo-heading.pull-right Rp 10.499.000
