extends ../_layouts/checkout.pug

include ../_atomic/3_organisms/modal-sign-in.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-page-payment --static-nav'
  - var prevPage = '/cart'
  - var nextPage = '/payment/step-2.html'

block head
  title Pembayaran - Info Pembeli & Pengiriman

block content
  .bt-page-header
    .container
      .row
        .col-lg-12
          .bt-page-title
            p.bt-typo-heading Tahap 1 dari 2
            h2.bt-typo-displaylarge Informasi Pembeli &amp; Pengiriman
            p.bt-typo-body Kami menghargai kerahasiaan data pribadi anda

  main.container
    .row
      .col-lg-7.bt-left-container.theiaStickySidebar
        .bt-form-container
          .bt-buyer-details
            h3.bt-typo-displaysmall.bt-form-heading Data Pembeli
            form.form-horizontal

              .form-group
                label.control-label.col-lg-4(for='gender') Jenis Kelamin
                .col-lg-8
                  .btn-group.btn-group-justified(data-toggle='buttons')
                    label.btn.btn-default
                      input(
                        type='radio'
                        name='options'
                        id='male'
                        autocomplete='off'
                        )
                      | Pria
                    label.btn.btn-default
                      input(
                        type='radio'
                        name='options'
                        id='female'
                        autocomplete='off'
                        )
                      | Wanita

              .form-group
                label.control-label.col-lg-4(for='fullName') Nama Lengkap
                .col-lg-8
                  input.form-control(
                    type='input'
                    id='fullName'
                    placeholder='Nama lengkap'
                    )

              .form-group
                label.control-label.col-lg-4(for='email') Email
                .col-lg-8
                  input(
                    type='email'
                    class='form-control'
                    id='email'
                    placeholder='Email anda'
                    )

              .form-group
                label.control-label.col-lg-4(for='cellPhone') Nomor Ponsel
                .col-lg-8
                  .input-group
                    label.input-group-addon(for='cellPhone') +62
                    input(
                      type='tel'
                      class='form-control'
                      id='cellPhone'
                      placeholder='Nomor ponsel anda'
                      aria-describedby='basic-addon1'
                    )

              .form-group
                label.control-label.col-lg-4(for='phone') Telepon
                .col-lg-8
                  .input-group
                    label.input-group-addon(for='phone') +62
                    input(
                      type='tel'
                      class='form-control'
                      id='phone'
                      placeholder='Nomor telepon anda (opsional)'
                      aria-describedby='basic-addon1'
                    )

              .form-group
                label.control-label.col-lg-4(for='address') Alamat
                .col-lg-8
                  textarea(
                    class='form-control'
                    id='address'
                    placeholder='Alamat lengkap anda'
                    rows='5'
                    )

              .form-group
                label.control-label.col-lg-4(for='province') Provinsi
                .col-lg-8
                  select#province.form-control
                    option(value="0") Pilih Provinsi
                    option(value="1") Option 1
                    option(value="2") Option 2
                    option(value="3") Option 3

              .form-group
                label.control-label.col-lg-4(for='city') Kota
                .col-lg-8
                  select#city.form-control
                    option(value="0") Pilih Kota
                    option(value="1") Option 1
                    option(value="2") Option 2
                    option(value="3") Option 3


              .form-group
                label.control-label.col-lg-4(for='district') Kecamatan
                .col-lg-8
                  select#district.form-control
                    option(value="0") Pilih Kecamatan
                    option(value="1") Option 1
                    option(value="2") Option 2
                    option(value="3") Option 3

              .form-group
                label.control-label.col-lg-4(for='postalCode') Kode Pos
                .col-lg-8
                  select#postalCode.form-control
                    option(value="0") {Generate Postal Code}

        .bt-form-container
          .bt-shipping-details
            h3.bt-typo-displaysmall.bt-form-heading Data Pengiriman
            form.form-horizontal

              .form-group
                label.control-label.col-lg-4(for='shipmentAddress') Alamat Pengiriman
                .col-lg-8
                  select#shipmentAddress.form-control
                    option(value="0") Sama dengan Data Pembeli
                    option(value="1") Option 1
                    option(value="2") Option 2
                    option(value="3") Option 3
                    option(value="4") Alamat Lain


              .address-test.hide
                .form-group
                  label.control-label.col-lg-4(for='gender') Jenis Kelamin
                  .col-lg-8
                    .btn-group.btn-group-justified(data-toggle='buttons')
                      label.btn.btn-default
                        input(
                          type='radio'
                          name='options'
                          id='male'
                          autocomplete='off'
                          )
                        | Pria
                      label.btn.btn-default
                        input(
                          type='radio'
                          name='options'
                          id='female'
                          autocomplete='off'
                          )
                        | Wanita

                .form-group
                  label.control-label.col-lg-4(for='fullName') Nama Lengkap
                  .col-lg-8
                    input.form-control(
                      type='input'
                      id='fullName'
                      placeholder='Nama lengkap'
                      )

                .form-group
                  label.control-label.col-lg-4(for='email') Email
                  .col-lg-8
                    input(
                      type='email'
                      class='form-control'
                      id='email'
                      placeholder='Email anda'
                      )

                .form-group
                  label.control-label.col-lg-4(for='phone') Telepon
                  .col-lg-8
                    .input-group
                      label.input-group-addon(for='phone') +62
                      input(
                        type='text'
                        class='form-control'
                        id='phone'
                        placeholder='Nomor telepon anda'
                        aria-describedby='basic-addon1'
                      )

                .form-group
                  label.control-label.col-lg-4(for='cellular') Nomor Ponsel
                  .col-lg-8
                    .input-group
                      label.input-group-addon(for='cellular') +62
                      input(
                        type='text'
                        class='form-control'
                        id='phone'
                        placeholder='Nomor ponsel anda'
                        aria-describedby='basic-addon1'
                      )

                .form-group
                  label.control-label.col-lg-4(for='address') Alamat
                  .col-lg-8
                    textarea(
                      class='form-control'
                      id='address'
                      placeholder='Alamat lengkap anda'
                      rows='5'
                      )

                .form-group
                  label.control-label.col-lg-4(for='province') Provinsi
                  .col-lg-8
                    select#province.form-control
                      option(value="0") Pilih Provinsi
                      option(value="1") Option 1
                      option(value="2") Option 2
                      option(value="3") Option 3

                .form-group
                  label.control-label.col-lg-4(for='city') Kota
                  .col-lg-8
                    select#city.form-control
                      option(value="0") Pilih Kota
                      option(value="1") Option 1
                      option(value="2") Option 2
                      option(value="3") Option 3


                .form-group
                  label.control-label.col-lg-4(for='district') Kecamatan
                  .col-lg-8
                    select#district.form-control
                      option(value="0") Pilih Kecamatan
                      option(value="1") Option 1
                      option(value="2") Option 2
                      option(value="3") Option 3

                .form-group
                  label.control-label.col-lg-4(for='postalCode') Kode Pos
                  .col-lg-8
                    select#postalCode.form-control
                      option(value="0") Pilih Kode Pos
                      option(value="1") Option 1
                      option(value="2") Option 2
                      option(value="3") Option 3

              .form-group
                label.control-label.col-lg-4(for='shippingVendor') Jasa Kirim
                .col-lg-8
                  select#shippingVendor.form-control
                    option(value="0") {Cheapest shippingVendor}
                    option(value="1") Option 1
                    option(value="2") Option 2
                    option(value="3") Option 3

      .col-lg-5.bt-right-container.theiaStickySidebar
        .bt-summary-container.panel.bt-panel.--elevation-1
          button.btn.btn-block.btn-hollow(
            data-toggle='modal'
            data-target='.bt-cart-modal'
            ) lihat keranjang

          .panel-body.bt-row-payment-summary
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body Subtotal
              p.pull-right.bt-typo-body.value Rp 34.597.000
            .clearfix.ecoupon-info
              p.pull-left.bt-typo-body eCoupon
              p.pull-right.bt-typo-body.value.text-danger -Rp 500.000
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body Ongkir
              p.pull-right.bt-typo-body.value Rp 9.000
            .clearfix.total-cart-info
              p.pull-left.bt-typo-heading TOTAL
              p.pull-right.bt-typo-heading.value Rp 34.106.000

          .row.bt-row-button-section
            .col-xs-5.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-hollow(href='#') Batal
            .col-xs-7.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-primary(href=nextPage) Lanjut
                span.pt-icon.pt-icon-arrow-right.text-inverse
        
        a.bt-geotrust__certificate(href="#")
          img(src="/images/getgeotrustsslseal.gif")


  .bt-cart-modal.modal.fade.in(tabindex='-1' role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          span.pt-icon-large.pt-icon-cross.pull-right(data-dismiss='modal')
          h4.bt-typo-displaysmall.modal-title Keranjang Anda
        .modal-body

          +loop(5)
            .row.bt-cart-content
              .col-lg-8.product-column
                .media
                  .media-left
                    .img-thumbnail.product-image
                      img(src='http://via.placeholder.com/88')
                  .media-body
                    .media-heading.bt-typo-heading SAMSUNG Galaxy S7 Edge 128GB - Black
                    p.bt-typo-body Rp 10.499.000
                    p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka
              .col-lg-4
                .row
                  .col-lg-6
                    .quantity.clearfix
                      p.bt-typo-heading.pull-left Qty: 1
                      p.bt-typo-heading.pull-right Rp 10.499.000

  +modal-sign-in
