extends ../_layouts/checkout.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-page-payment --static-nav'
  - var warningBar = false
  - var prevPage = '/payment/step-1.html'

block head
  title Pembayaran - Pilih Metode

block content
  .bt-page-header
    .container

      if warningBar
        .alert.alert-warning.alert-dismissable.fade.in(
          a href="#"
          data-dismiss='alert'
          aria-label="close"
          ) Oops something went wrong!

      .row
        .col-lg-12
          .bt-page-title
            a.btn.bt-payment__button-back(href=prevPage)
              span.pt-icon-large.pt-icon-arrow-left
            p.bt-typo-heading Tahap 2 dari 2
            h2.bt-typo-displaylarge Metode Pembayaran
            p.bt-typo-body Silahkan pilih metode pembayaran anda

  main.container
    .row
      .col-lg-7.bt-left-container.theiaStickySidebar
        .bt-payment-select

          .panel
            .panel-heading
              label(role="button")
                input(type='radio' name='payment' id='payment1' value='credit-card')
                span.bt-typo-displaysmall Kartu Kredit
                p BCA, Mandiri, BNI, Standard Chartered
            .panel-body
              +loop(18)
                img(src='http://placehold.it/60x40')

          .panel
            .panel-heading
              label(role="button")
                input(type='radio' name='payment' id='payment2' value='debit-card')
                span.bt-typo-displaysmall Kartu Debit
                p Jenius
            .panel-body
              img(src='http://placehold.it/60x40')

          .panel
            .panel-heading
              label(role='button')
                input(type='radio' name='payment' id='payment3' value='installment')
                span.bt-typo-displaysmall Cicilan Bank
                p BCA, Mandiri, BNI, Standard Chartered
            .panel-body
              +loop(5)
                img(src='http://placehold.it/60x40')

          .panel
            .panel-heading
              label(role='button')
                input(type='radio' name='payment' id='payment4' value='e-banking')
                span.bt-typo-displaysmall Internet Banking
                p BCA Klikpay, klikBCA, Mandiri ClickPay
            .panel-body
              +loop(4)
                img(src='http://placehold.it/60x40')

          .panel
            .panel-heading
              label(role='button')
                input(type='radio' name='payment' id='payment5' value='e-money')
                span.bt-typo-displaysmall Uang Elektronik
                p Sakuku, Mandiri e-Cash
            .panel-body
              +loop(2)
                img(src='http://placehold.it/60x40')

          .panel
            .panel-heading
              label(role='button')
                input(type='radio' name='payment' id='payment6' value='virtual-account')
                span.bt-typo-displaysmall Virtual Account
                p VA BCA, VA Permata
            .panel-body
              +loop(2)
                img(src='http://placehold.it/60x40')

          .panel
            .panel-heading
              label(role='button')
                input(type='radio' name='payment' id='payment7' value='other-installment')
                span.bt-typo-displaysmall Bayar tanpa Kartu Kredit
                p Kredivo
            .panel-body
              img(src='http://placehold.it/60x40')

          .panel
            .panel-heading
              label(role='button')
                input(type='radio' name='payment' id='payment8' value='bank-transfer')
                span.bt-typo-displaysmall Transfer Bank
                p BCA, Mandiri, BNI
            .panel-body
              +loop(3)
                img(src='http://placehold.it/60x40')

          .panel
            .panel-heading
              label(role='button')
                input(type='radio' name='payment' id='payment9' value='cod')
                span.bt-typo-displaysmall CoD (Cash on Delivery)

          .panel
            .panel-heading
              label(role='button')
                input(type='radio' name='payment' id='payment10' value='retail')
                span.bt-typo-displaysmall Gerai Retail
            .panel-body
              +loop(2)
                img(src='http://placehold.it/60x40')

      .col-lg-5.bt-right-container.theiaStickySidebar
        .bt-summary-container.panel.bt-panel.--elevation-1
          .clearfix
            h3.bt-typo-displaysmall.pull-left Informasi Pengiriman
            //- a.btn.btn-link.pull-right(href='/payment/step-1.html') ubah
          .panel-body.bt-row-shipping-summary
            p.bt-typo-heading.bt-recipient-name Holly Golightly
            p.bt-recipient-address Jalan Institut Keguruan Ilmu Pendidikan Persatuan Guru Republik Indonesia Sektor 1A Blok DB 23 No. 5
            p DKI Jakarta
            p Jakarta Pusat
            p.bt-recipient-zipcode 40160
            p +6281805812344
            p +62214208137

        .bt-summary-container.panel.bt-panel.--elevation-1
          button.btn.btn-block.btn-hollow(
            data-toggle='modal'
            data-target='.bt-cart-modal'
            ) lihat keranjang

          .panel-body.bt-row-payment-summary
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body Subtotal
              p.pull-right.bt-typo-body.value Rp 34.597.000
            .clearfix.ecoupon-info
              p.pull-left.bt-typo-body eCoupon
              p.pull-right.bt-typo-body.value.text-danger -Rp 500.000
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body Biaya Admin
              p.pull-right.bt-typo-body.value Rp 5.000
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body Ongkir
              p.pull-right.bt-typo-body.value Rp 9.000
            .clearfix.total-cart-info
              p.pull-left.bt-typo-heading TOTAL
              p.pull-right.bt-typo-heading.value Rp 34.106.000

          .row.bt-row-button-section
            .col-xs-5.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-hollow(href='#') Batal
            .col-xs-7.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-primary(href=nextPage) Lanjut
                span.pt-icon.pt-icon-arrow-right.text-inverse
                  
        a.bt-geotrust__certificate(href="#")
          img(src="/images/getgeotrustsslseal.gif")

  .bt-cart-modal.modal.fade.in(tabindex='-1' role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          span.pt-icon-large.pt-icon-cross.pull-right(data-dismiss='modal')
          h4.bt-typo-displaysmall.modal-title Keranjang Anda
        .modal-body

          +loop(8)
            .row.bt-cart-content
              .col-lg-8.product-column
                .media
                  .media-left
                    .img-thumbnail.product-image
                      img(src='http://via.placeholder.com/88')
                  .media-body
                    .media-heading.bt-typo-heading SAMSUNG Galaxy S7 Edge 128GB - Black
                    p.bt-typo-body Rp 10.499.000
                    p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka
              .col-lg-4
                .row
                  .col-lg-6
                    .quantity.clearfix
                      p.bt-typo-heading.pull-left Qty: 1
                      p.bt-typo-heading.pull-right Rp 10.499.000
