extends ../_atomic/4_templates/checkout_4.pug

block config
  - var bodyId = 'bt-order-last-step'
  - var bodyClass = 'bt-page-payment'
  - var userLog = true
  - var user = { login: true, firstname: 'Holly' }
  - var orderID = '4313218300'

block head
  title Pembayaran - Sukses

block page_title
  .bt-emoji 👏👏👏
  h2.bt-typo-displaylarge Order Selesai!

block illustration
  img.img-responsive.bt-illustration(src='/images/il_order_success_320px.svg' alt='Order Warning')

block main_left
  .bt-order-summary.panel
    .panel-heading
      span.bt-typo-subheading Nomor Order 
      span.bt-typo-mono 66621994
      if user && user.login
        p.bt-typo-displaysmall Terima Kasih, #{user.firstname}!
      else
        p.bt-typo-displaysmall Terima Kasih!
      p.bt-order-description Ordermu akan segera kami proses, kami juga mengirimkan detail order ini ke #[a(href='#') customer_email@company.com], pengiriman akan dilakukan apabila pembayaran berhasil diverifikasi.
    .panel-body
      .row.bt-cart-content
        .col-lg-8.product-column
          .media
            .media-left
              .img-thumbnail.product-image
                img(src='http://via.placeholder.com/88')
            .media-body
              .media-heading.bt-typo-heading SAMSUNG Galaxy S7 Edge 128GB - Black
              p.bt-typo-body Rp 10.499.000
              p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka
        .col-lg-4
          .quantity
            p.bt-typo-heading Qty: 1
            p.bt-typo-heading Rp 10.499.000
                
      .row.bt-cart-content
        .col-lg-8.product-column
          .media
            .media-left
              .img-thumbnail.product-image
                img(src='http://via.placeholder.com/88')
            .media-body
              .media-heading.bt-typo-heading SAMSUNG Galaxy S7 Edge 128GB - Black
              p.bt-typo-body Rp 10.499.000
              p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka
        .col-lg-4
          .quantity
            p.bt-typo-heading Qty: 1
            p.bt-typo-heading Rp 10.499.000
      
      .row.bt-cart-content
        .col-lg-8.product-column
          .media
            .media-left
              .img-thumbnail.product-image
                img(src='http://via.placeholder.com/88')
            .media-body
              .media-heading.bt-typo-heading SAMSUNG Galaxy S7 Edge 128GB - Black
              p.bt-typo-body Rp 10.499.000
              p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka
        .col-lg-4
          .quantity
            p.bt-typo-heading Qty: 1
            p.bt-typo-heading Rp 10.499.000
          
    .panel-footer
      .bt-cart-summary.clearfix
        .bt-cart-label.pull-left
          p.bt-typo-body Subtotal
          p.bt-typo-body eCoupon
          p.bt-typo-body Biaya Admin
          p.bt-typo-body Ongkir
          p.bt-typo-heading TOTAL
        .bt-cart-value.pull-right
          p.bt-typo-body Rp 34.597.000
          p.bt-typo-body.text-danger -Rp 500.000
          p.bt-typo-body Rp 5.000
          p.bt-typo-body Rp 9.000
          p.bt-typo-heading Rp 34.106.000
      
      hr
          
      .bt-shipping-summary
        p.bt-typo-heading.bt-recipient-name Holly Golightly
        p.bt-recipient-address Jalan Institut Keguruan Ilmu Pendidikan Persatuan Guru Republik Indonesia Sektor 1A Blok DB 23 No. 5
        p DKI Jakarta
        p Jakarta Pusat
        p.bt-recipient-zipcode 40160
        p +6281805812344
        p +62214208137
        
      hr
            
      .bt-cta-section.clearfix
        button.btn.btn-lg.btn-default.pull-left
          span.pt-icon-standard.pt-icon-print
          |  Print
        button.btn.btn-lg.btn-primary.pull-right Selesai
      
