extends ../_layouts/checkout.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-page-payment --static-nav'
  - var userLog = false
  - var prevPage = '/payment/step-2.html'
  - var nextPage = '/'
  - var checkoutSuccess = true
  
block head
  title Pembayaran - Virtual Account

block content
  .bt-page-header
    .container
      .row
        .col-lg-12
          .bt-page-title
            a.btn.bt-payment__button-back(href=prevPage)
              span.pt-icon-large.pt-icon-arrow-left
            p.bt-typo-heading Tahap 2 dari 2
            h2.bt-typo-displaylarge Detail Pembayaran
            p.bt-typo-body Koneksi anda sudah diamankan dengan SSL
                  
                  
  main.container
    .row
      .col-lg-7.bt-left-container.theiaStickySidebar
        .bt-form-container
          .bt-buyer-details
            h3.bt-typo-displaysmall.bt-form-heading Virtual Account
            form.form-horizontal
              .form-group
                label.control-label.col-lg-4(for='vacc') Layanan Virtual Account
                .col-lg-8
                  select#vacc.form-control
                    option(value="0" selected) BCA
                    option(value="1") Permata
                            
              .bt-vacc-bca
                .form-group
                  .col-lg-8.col-lg-offset-4
                    ul
                      li Periksa kembali data pembayaran Anda sebelum melanjutkan transaksi.
                      li Anda akan mendapatkan kode pembayaran BCA Virtual Account untuk transaksi ini.
                      li Cara pembayaran Virtual Account BCA dapat dilihat pada #[a(href='http://www.bca.co.id/va') www.bca.co.id/va]
              
              .bt-vacc-permata.hide
                .form-group
                  .col-lg-8.col-lg-offset-4
                    ul
                      li: strong Batas waktu pembayaran adalah 4 jam, setelahnya transaksi Anda akan dibatalkan atau kadaluwarsa
                      li Fasilitas transfer antarbank bisa digunakan pada mesin ATM jaringan ALTO, ATM Bersama, dan Prima dengan nomor rekening 8773 1160 XXXX XXXX. Gunakan kode 013 (Permata Bank) sebagai bank tujuan transfer
                      li Nasabah Permata Bank dapat memilih menu pembayaran Virtual Account dengan memasukkan nomor rekening 8773 1160 XXXX XXXX.
                      li Dengan metode pembayaran ini, Anda tidak perlu melakukan konfirmasi pembayaran di website kami
                      li Nilai per transaksi untuk metode pembayaran ini adalah Rp 10.000 – Rp 100.000.000

      .col-lg-5.bt-right-container.theiaStickySidebar
        .bt-summary-container.panel.bt-panel.--elevation-1
          .clearfix
            h3.bt-typo-displaysmall.pull-left Informasi Pengiriman
            //- a.btn.btn-link.pull-right(href='/payment/step-1.html') ubah
          .panel-body.bt-row-shipping-summary
            p.bt-typo-heading.bt-recipient-name Holly Golightly
            p.bt-recipient-address Jalan Institut Keguruan Ilmu Pendidikan Persatuan Guru Republik Indonesia Sektor 1A Blok DB 23 No. 5
            p DKI Jakarta
            p Jakarta Pusat
            p.bt-recipient-zipcode 40160
            p +6281805812344
            p +62214208137
        .bt-summary-container.panel.bt-panel.--elevation-1
          button.btn.btn-block.btn-hollow(
            data-toggle='modal'
            data-target='.bt-cart-modal'
            ) lihat keranjang
          .panel-body.bt-row-payment-summary
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body Subtotal
              p.pull-right.bt-typo-body.value Rp 34.597.000
            .clearfix.ecoupon-info
              p.pull-left.bt-typo-body eCoupon
              p.pull-right.bt-typo-body.value.text-danger -Rp 500.000
            .clearfix.subtotal-info
              p.pull-left.bt-typo-body Ongkir
              p.pull-right.bt-typo-body.value Rp 9.000
            .clearfix.total-cart-info
              p.pull-left.bt-typo-heading TOTAL
              p.pull-right.bt-typo-heading.value Rp 34.106.000
          
          .row.bt-row-button-section
            .col-xs-5.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-hollow(href='#') Batal
            .col-xs-7.hidden-md.hidden-lg
              a.btn.btn-block.btn-lg.btn-primary(href=nextPage) Lanjut
                span.pt-icon.pt-icon-arrow-right.text-inverse
                  
        a.bt-geotrust__certificate(href="#")
          img(src="/images/getgeotrustsslseal.gif")
                    
                    
  .modal.fade.in.bt-cart-modal(
    tabindex='-1'
    role='dialog'
    )
    .modal-dialog.modal-lg(
      role='document'
      )
      .modal-content
        .modal-header.clearfix
          span.pt-icon-large.pt-icon-cross.pull-right(
            data-dismiss='modal'
            )
          h4.bt-typo-displaysmall.modal-title.pull-left Keranjang Anda
        .modal-body
          
          - var cartContent = 1;
          while cartContent <= 5
          
            .row.bt-cart-content
              .col-lg-8.product-column
                .media
                  .media-left
                    .img-thumbnail.product-image
                      img(src='/images/dummy/dummy-88.png')
                  .media-body
                    .media-heading.bt-typo-heading SAMSUNG Galaxy S7 Edge 128GB - Black
                    p.bt-typo-body Rp 10.499.000
                    p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka
              .col-lg-4
                .row
                  .col-lg-6
                    .quantity.clearfix
                      p.bt-typo-heading.pull-left Qty: 1
                      p.bt-typo-heading.pull-right Rp 10.499.000
                      
            - cartContent++
