extends ../_atomic/4_templates/checkout_4.pug

block config
  - var bodyId = 'bt-order-last-step'
  - var bodyClass = 'bt-page-payment'
  - var userLog = true

block head
  title Pembayaran - Warning

block page_title
  .bt-emoji ⏳
  h2.bt-typo-displaylarge Menunggu Pembayaran…

block illustration
  img.img-responsive.bt-illustration(src='/images/il_order_confirm_320px.svg' alt='Order Warning')

block main_left
  p.bt-typo-displaysmall Konfirmasi pembayaran via transfer bank
  a.btn.btn-primary.btn-lg(href="/") Lanjut Berbelanja
