.dl-menuwrapper {
	width: 100%;
	position: relative;
}

.dl-menuwrapper ul {
	padding: 0;
	list-style: none;
}

.dl-menuwrapper li { position: relative; }

.dl-menuwrapper li a {
	display: block;
	position: relative;
	padding: 10px $spacing-md;
  color: $text-color;
	outline: none;
  text-decoration: none;
}

.no-touch .dl-menuwrapper li a:hover {
	background: rgba(255,248,213,.1);
}

.dl-menuwrapper li.dl-back > a {
	background: $slate;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 72px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover { background-color: $slate; }
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
	position: absolute;
	top: 0;
	line-height: 40px;
	font-family: 'Icons16';
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: "\e695";
}

.dl-menuwrapper li.dl-back:after {
	left: 10px;
	color: $slate-darkest;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
	right: 10px;
	color: $slate-darker;
}

.dl-menuwrapper .dl-menu {
	margin: 0;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transform: translateY(10px);
	backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
	// transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu { display: none; }

/*
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link.
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
	display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
	display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	margin: 0;
}

.dl-menuwrapper li:not(.dl-back) > a:only-child,
.dl-menuwrapper li.dl-parent a {
  color: $brand-primary;
}

.dl-submenu > li:not(:first-child) > a {
  padding-left: 30px;
}

