extends ../_layouts/base-simple.pug

block config
  - var baseUrl = '../'
  - var bodyId = 'bt-help'
  - var bodyClass = 'bt-page'
  - var userLog = true

block head
  title Bantuan

block content
  .bt-page-header
    .container
      .row
        .col-md-12.bt-page-title
          h2.bt-typo-displaylarge.text-center Bantuan
      //-
        .col-md-8.col-md-offset-2
          form.bt-page-search
            input.form-control(type="search" placeholder="Cari pertanyaan tentang Bhinneka")
            button.btn.btn-link(type="submit")
              span.pt-icon-large.pt-icon-search

  main.container
    .row
      aside.col-md-4
        ul.list-group(role="tablist")
          li.list-group-item.active: a(href="#help-1" data-toggle="tab") Bursa Bhinneka
          li.list-group-item: a(href="#help-2" data-toggle="tab") Garansi Produk dan Purna Jual
          li.list-group-item: a(href="#help-3" data-toggle="tab") Keanggotaan (Member) Bhinneka
          li.list-group-item: a(href="#help-4" data-toggle="tab") Marketplace
          li.list-group-item: a(href="#help-5" data-toggle="tab") Pembayaran
          li.list-group-item: a(href="#help-6" data-toggle="tab") Pembelian
          li.list-group-item: a(href="#help-7" data-toggle="tab") Pengiriman
          li.list-group-item: a(href="#help-8" data-toggle="tab") Kenapa Belanja di Bhinneka?

      .col-md-8.tab-content
        .panel.panel-default.tab-pane.active#help-1
          .panel-heading
            h3.bt-typo-displaysmall Bursa Bhinneka
          .panel-body
            ul.list-unstyled
              li: a(href="#") Apa itu Bursa Bhinneka dan Cara & Syarat untuk menjadi Member Bursa Bhinneka?
              li: a(href="#") Cara Mendaftar Iklan Sponsor di Bursa Bhinneka
              li: a(href="#") Cara Menjual & Membeli di Bursa Bhinneka
        .panel.panel-default.tab-pane#help-2
          .panel-heading
            h3.bt-typo-displaysmall Garansi Produk dan Purna Jual
          .panel-body
            ul.list-unstyled
              li: a(href="#") Cara, Syarat dan Ketentuan Klaim Garansi
              li: a(href="#") Garansi batal
              li: a(href="#") Service Barang yang Tidak di Beli di Bhinneka
        .panel.panel-default.tab-pane#help-3
          .panel-heading
            h3.bt-typo-displaysmall Keanggotaan (Member) Bhinneka
          .panel-body
            ul.list-unstyled
              li: a(href="#") Keuntungan Menjadi Keanggotaan (Member) Bhinneka
              li: a(href="#") Makna Keanggotaan (Member) Bhinneka dan Cara Mendaftar
        .panel.panel-default.tab-pane#help-4
          .panel-heading
            h3.bt-typo-displaysmall Marketplace
          .panel-body
            ul.list-unstyled
              li Apa saja yang dapat dijual Merchant
                ul.list-unstyled
                  li: a(href="#") Apa saja produk yang termasuk Produk Yang Dilarang Untuk Dijual ?
                  li: a(href="#") Apa saja yang dapat dijual Merchant?
                  li: a(href="#") Apakah Merchant dapat menjual Jasa?
                  li: a(href="#") Apakah Merchant dapat menjual produk Bekas/Secondhand, Rekondisi, Refurbished?
                  li: a(href="#") Apakah Merchant dapat menjual produk Pre-Order, Indent, Custom Made?
                  li: a(href="#") Apakah Merchant dapat menjual produk Tidak Asli, Replika, Tidak Berlisensi?
              li Bagaimana cara menjadi Merchant?
                ul.list-unstyled
                  li: a(href="#") Apa saja dokumen persyaratan Merchant?
                  li: a(href="#") Apa saja persyaratan untuk menjadi Merchant?
                  li: a(href="#") Apakah ada dokumen perjanjian yang harus disepakati dan ditanda tangani Merchant?
                  li: a(href="#") Bagaimana cara mendaftar untuk menjadi Merchant?
                  li: a(href="#") Berapa lama proses verifikasi & aktivasi pendaftaran? Dan apa saja yang diverifikasi?
                  li: a(href="#") Bagaimana mekanisme kerja Bhinneka Marketplace?
                  li: a(href="#") Bagaimana untuk memulai Berjualan?
        .panel.panel-default.tab-pane#help-5
          .panel-heading
            h3.bt-typo-displaysmall Pembayaran
          .panel-body
            ul.list-unstyled
              li: a(href="#") Cara Pembayaran
              li: a(href="#") Konfirmasi pembayaran
        .panel.panel-default.tab-pane#help-6
          .panel-heading
            h3.bt-typo-displaysmall Pembelian
          .panel-body
            ul.list-unstyled
              li Cara Berbelanja di Bhinneka
                ul.list-unstyled
                  li: a(href="#") Berbelanja ke Toko atau Kantor Bhinneka
                  li: a(href="#") Berbelanja melalui Chat via website atau Yahoo Messenger
                  li: a(href="#") Berbelanja secara Online via Mobile Apps
                  li: a(href="#") Berbelanja secara Online via Mobile Site
                  li: a(href="#") Berbelanja secara Online via Website
                  li: a(href="#") Berbelanja via E-mail
                  li: a(href="#") Berbelanja via SMS Messenger
                  li: a(href="#") Berbelanja via Telepon
              li: a(href="#") Membeli Produk Rekondisi atau Second
              li: a(href="#") Proses dan Pengecekan Status Order
              li: a(href="#") Waktu Operasional Bhinneka
        .panel.panel-default.tab-pane#help-7
          .panel-heading
            h3.bt-typo-displaysmall Pengiriman
          .panel-body
            ul.list-unstyled
              li: a(href="#") Estimasi Pengiriman
              li: a(href="#") Pengiriman Lambat
              li: a(href="#") Pengiriman melalui Ekspedisi dan Armada Bhinneka
              li: a(href="#") Order dari Luar Negri dan Barang Dikirim ke Alamat di Indonesia
              li: a(href="#") Salah Alamat Pengiriman
        .panel.panel-default.tab-pane#help-8
          .panel-heading
            h3.bt-typo-displaysmall Kenapa Belanja di Bhinneka?
          .panel-body
            ul.list-unstyled
              li: a(href="#") Garansi Resmi
              li: a(href="#") Pengembalian Produk
              li: a(href="#") Produk Asli
              li: a(href="#") Service Center
