extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-about'
  - var userLog = false

block head
  title Tentang Kami

block page_title
  h1.bt-typo-displaylarge Tentang Kami

block main
  .col-md-8.col-md-offset-2
    p Lakukan tugas Anda dengan senang hati dan gunakan humor Anda di waktu kerja terutama saat sulit dan tegang-tegang, itulah salah satu budaya (fun) kami.
    p Religious, Passionate, Tough, Knowledgeable, Fun & Customer Service adalah budaya-budaya yang ada di Bhinneka.Com, dan kami sangat menjunjung tinggi budaya kami dengan cara memberikan yang terbaik bagi pelanggan, diri kita, keluarga, dan masyarakat.
    h2.bt-typo-displaymedium Visi dan Misi
    h3.bt-typo-displaysmall Visi
    p “Menjadi sebuah perusahaan kelas dunia dengan semangat pemanfaatan informasi teknologi, dan menjadi kebanggaan bangsa.”
    h3.bt-typo-displaysmall Misi
    p “Menjadi webstore nomor satu di Indonesia yang menyediakan kelengkapan dan kemudahan belanja, serta memperhatikan dan memberikan pengalaman belanja yang berkesan kepada pelanggan, melalui nilai-nilai delapan dimensi pengalaman.”
    h2.bt-typo-displaymedium Sekapur Sirih
    p Sejak awal Bhinneka.Com berdiri, kami bertekad membangun bisnis yang berdaya tahan panjang. Mengutamakan citra merk dengan pelayanan dan menjadikannya bagian dari budaya kerja. Fokus pada pelayanan berarti memberi nilai tambah dalam setiap layanan. Sebab itulah mengapa pelanggan kami menekan tombol ‘beli’ dan tetap kembali lagi di kemudian hari.
    p Menengok sejenak ke belakang, kami bersyukur fokus pada pelayanan dan ‘human touch’ dalam membangun Bhinneka.Com, yang dirumuskan dengan sebuah kalimat sederhana ‘Pelayanan Dari Hati’. Dan sekarang, kalimat ini telah menjadi esensi dalam setiap langkah yang kami lakukan, mudah dicerna tanpa perlu segala embel-embel dan frase-frase yang sulit untuk dipahami seluruh Bhinnekaners dalam melayani pelanggan kami.
    p Standar pelayanan kami pun semakin tinggi setiap tahun. Berinovasi dan menyajikan pengalamanan berbelanja yang berkesan, mulai dari produk yang lengkap, harga yang kompetitif, mudah dalam bertransaksi, jaminan purna jual, hingga kejutan-kejutan mengasyikkan untuk setiap pelanggan kami, yang menjadikan belanja di Bhinneka.Com semakin nyaman, baik online maupun offline.
    p Untuk teman-teman komunitas Bhinneka.Com yang bersama dengan kami sejak awal perkembangan internet dimulai di Indonesia, kami akan terus perhatikan dan senantiasa mengembangkan banyak fitur yang akan semakin asyik untuk saling bertemu, berbagi, berbincang, belajar, atau sekedar melakukan jual-beli produk. Offline store Bhinneka juga menjadi tempat untuk workshop, tempat berkumpul, dan ngobrol antar komunitas.
    p Akhirnya, saya sangat berbahagia Bhinneka.Com dapat berkontribusi untuk negeri ini dan membawa nilai lebih untuk masyarakat Indonesia. Kami akan selalu berusaha dan mendorong diri kami sendiri untuk menjadi salah satu perusahaan berbasis teknologi yang menjadi kebanggaan bangsa Indonesia.
    h2.bt-typo-displaymedium Penghargaan
    dl.dl-horizontal
      dt 2013
      dd HP Top Performing Partner Sales Representative Enterprise Storage, Servers & Networking 2013
      dt 2012
      dd Digital Marketing Award Category: Online Electronic Store (Great Performing Website)
      dd Logitech Managed Partner
      dd Microsoft Indonesia Country Partner of the Year 2012
      dd Microsoft APAC Platinum Club Subsidiary Partner of the Year FY 2012
      dd Best SMB Revenue Growth FY12 H1
      dd Best SMB Customer Reach Growth FY12 H1
      dd Best Growth SMB Partner FY12 H1
      dd IBM Business Partner of The Year 2012
      dt 2011
      dd Best HP Store 2011
      dd Best Optima Kaspersky Reseller
      dd HP TOP PERFORMER 2011 - Partner Sales Representative (ISS Proliant Server)
      dd IBM Marketing Award 2011– Best Business Partner Category
      dd IBM System X Server Top Achiever (2H 2011)
      dd Reseller of the Year (Kaspersky)
      dt 2010
      dd Best Optima Kaspersky Reseller
      dd HP Consumer Best Loyal Partner 2010
      dd IBM System X Server Promo 2nd Contributor
      dd Reseller of the Year (Kaspersky)
      dt 2009
      dd Best Optima Kaspersky Reseller
      dd Reseller of the Year (Kaspersky)
      dt 2008
      dd Microsoft Indonesia Must New Earn Competency Program
      dd Pendrive Member of Authorized Reseller Partnership Program
      dd Microsoft Indonesia System Builder of the Year
      dd Intel Channel Conference 1st Winner
      dt 2007
      dd IBM Partner Gold Member
      dd Symantec Sistech Kharisma Highest Sales Achievement
      dd Microsoft Indonesia System Builder of the Year
      dd Intel Xeon Champion
      dt 2006
      dd Support and Participation Chip Dream Machine
      dd Intel Xeon Champion
      dd Microsoft Best Contribution for Breaddh Partner
      dd Best Cisco SMB Products Reseller
      dt 2005
      dd Microsoft Indonesia System Builder of the Year
      dd 25 eCorporate Best Practice from SWA
      dd Microsoft Best System Builder Growth
      dd Bubu Awards - E-commerce
      dd Roland Creative Award
      dt 2004
      dd Komputer Aktif - Situs Indonesia Terbaik
      dt 2003
      dd Bubu Awards - E-commerce
      dt 2002
      dd SWA - Pengelolaan Pengetahuan Terbaik
      dd Best Indonesia ICT Award
      dd Enterprise 50
      dd Bubu Awards - E-commerce
      dt 2000
      dd Enterprise 50
      dt 1997
      dd Micron International Distributor of the Year
      dt 1996
      dd Numonics International Distributor of the Year
    h2.bt-typo-displaymedium Kompetensi Bisnis
    ul
      li Apple Authorised Reseller
      li Bose Exclusive Online Reseller
      li Microsoft Certified Partner
      li Microsoft Cloud Accelerate
      li Microsoft Small Business Specialist
      li Adobe Silver Partner
      li Kaspersky Gold Partner
      li IBM Business Partner
      li HP Premier Business Partner
      li Intel Premier Partner and System Builder
      li APC Preferred Online Partner
      li Symantec Software Partner
      li Roland DG - Exclusive Distributor for Indonesia
      li TP-LINK Authorized Reseller 2013
      li 2Wire ADSL Modem Exclusive for Indonesia
      li IPG Fundamental and Office Printing ASP
      li HP Best Growth Consumer Partner
      li HP Enterprise Storage System - ASC - Storage
      li HP Blade University Graduate - ASP - Server
      li HP Supplies - Gold Managed Partner
      li HP Premium Elite Business Partner
      li Lenovo Business partner
      li Authorized Fujitsu Business Partner
      li Intel Premiere Provider
      li Kaspersky Best Gold Partner 2009
      li Symantec SMB Specialization
      li Certified WinRAR Reseller
      li Fujitsu SELECT Partner
    h2.bt-typo-displaymedium Kompetensi Bisnis
    p Bhinnekaners, itulah panggilan sayang untuk seluruh “crew” Bhinneka.Com.
    p Dengan semangat untuk mencapai Visi & Misi bersama, Bhinnekaners bersinergi di dalam tim dan menjadi layaknya keluarga besar yang kompak.
    p Ingin bergabung menjadi bagian keluarga Bhinnekaners? Klik di sini untuk melihat posisi yang tersedia.