extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-account'
  - var userLog = false

block head
  title Akun Bhinneka

block page_title
  h1.bt-typo-displaylarge Akun Bhinneka

block main 
  .col-md-8.col-md-offset-2
    h2.bt-typo-displaymedium Hanya dengan register member Bhinneka, dapatkan berbagai keuntungan menarik

    h3.bt-typo-displaysmall Kupon
    p Belanja jadi benar-benar mudah, karena bisa langsung digunakan untuk potongan belanja berikutnya di shopping cart.

    h3.bt-typo-displaysmall Member Baru
    p Dapatkan langsung hadiah menarik saat kamu melakukan pendaftaran membership.

    h3.bt-typo-displaysmall Banyak Diskon
    p Bisa beli produk baru ciamik tapi dengan harga super murah, dijamin bikin iri orang-orang sekitar! Kesempatan duluan dapat dan pakai kupon alias diskon ekstra untuk belanja online, diskon heboh hingga 90% di midnight sale Bhinneka atau acara lainnya.

    h3.bt-typo-displaysmall Banjir Hadiah
    p Di Bhinneka, Banyak banget program berhadiah yang bisa kamu ikuti, mulai dari program Write & Win (Product Review), Free Gadget, Pre-Order Produk Baru, Bazzar Bhinneka, acara khusus member, #BhinnekaQuiz hingga Undian Berhadiah lainnya.

    h3.bt-typo-displaysmall Serba Cepat 
    p Belanja kilat, nggak perlu lagi input data pengiriman untuk pembelian di masa yang akan datang, nah ini penting kalau pas lagi acara promo, sebab saking murahnya untuk beli saja harus rebutan. Kalau sudah jadi member, bisa lebih cepat rebut-nya daripada yang belum, bukti'in aja sendiri....

    h3.bt-typo-displaysmall Serba Mudah
    p Mengatur semua data personal dengan mudah, profile, jumlah point reward, history belanja, wishlist.