extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-advertise'
  - var userLog = false

block head
  title Beriklan di Bhinneka

block page_title
  h1.bt-typo-displaylarge Beriklan di Bhinneka

block main
  .col-md-8.col-md-offset-2
    p Dengan lebih dari 100.000 unique visitor dan lebih dari 700.000 page views setiap harinya, memasang iklan di Bhinneka menjadi sebuah kampanye yang sangat efektif
    p Semua pengunjung kami melek teknologi, berusia produktif, dan tersebar di seluruh Indonesia.
    p Ingin memasang iklan di Bhinneka? Silakan menghubungi kami via email atau jika lebih suka bicara langsung, telepon ke 021-2929-2828. Kami akan menjelaskan bagian-bagian dimana anda bisa memasang iklan beserta harganya.