extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-contact'
  - var userLog = false

block head
  title Hubungi Kami

block page_title
  h1.bt-typo-displaylarge Hubungi Kami

block page_subtitle
  h2.bt-typo-body Anda ingin belanja, konsultasi, atau ada pertanyaan seputar produk dan layanan kami? Silakan hubungi tim kami.

block main
  .col-md-8.col-md-offset-2

    h3.bt-typo-displaymedium Hubungi Tim Penjualan Kami

    h4.bt-typo-heading Konsultan Penjualan
    p Melayani kebutuhan Anda untuk seluruh kategori produk. Silakan #[a(href='/single-pages/email.html') email kami].

    h4.bt-typo-heading Korporasi & Pemerintah.
    p Melayani kebutuhan korporasi & proyek. Silakan email kami ke #[a(href='mailto:corporate@bhinneka.com') corporate@bhinneka.com].

    h4.bt-typo-heading Solusi Software & Lisensi
    p Melayani kebutuhan lisensi & konsultasi software. Silakan email kami ke #[a(href='mailto:licensing@bhinneka.com') licensing@bhinneka.com].

    h4.bt-typo-heading Solusi Percetakan & Signage
    p Melayani kebutuhan printer besar, signage, & produk 3D. Silakan #[a(href='/single-pages/email.html') email kami].

    hr
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.google.com/maps/embed/v1/place?q=place_id:ChIJswmXd8j1aS4RFVx8xqeyocs&key=AIzaSyAvHizmZ27FF8T8R7n-88DuYqMvyW0j4zs')
    hr
    address.
      #[strong Kantor Pusat]<br>Jl. Gunung Sahari Raya 73C No. 5&ndash;6<br>Jakarta 10610, Indonesia

    h3.bt-typo-displaymedium Hubungi Tim Pendukung Kami
    h4.bt-typo-heading Layanan Klaim Garansi
    p Untuk bantuan teknisi dan klaim garansi produk, silakan telepon ke (021) 2929-2828 atau #[a(href='/single-pages/email.html') email kami].

    h4.bt-typo-heading Layanan Pengembalian Barang & Refund
    p Jika produk yang diterima salah/cacat/rusak & ingin mengurus pengembalian dana, untuk laporan dan bantuan dapat menghubungi kami #[a(href='/single-pages/email.html') email kami].

    h4.bt-typo-heading Layanan Pelanggan
    p Silakan berikan feedback atas pelayanan yang kurang berkenan dari tim kami. Tuliskan masukan Anda #[a(href='/single-pages/email.html') email kami].

    h4.bt-typo-heading Status Pengiriman
    p Untuk bantuan tracking status Order & status pengiriman, silakan telepon ke (021) 2929-2828 atau Anda dapat menghubungi kami #[a(href='/single-pages/email.html') email kami].

    h4.bt-typo-heading Merchant Bhinneka Marketplace
    p Ingin memulai jualan di Bhinneka? Anda bisa mendaftar menjadi merchant & bertanya seputar Bhinneka Marketplace #[a(href='/single-pages/email.html') email kami].

    h4.bt-typo-heading Tidak Dapat Menemukan Tim yang Anda Cari?
    p Anda dapat menghubungi kami #[a(href='/single-pages/email.html') email kami].
