extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-email'
  - var userLog = false

block head
  title Kontak via Email

block page_title
  h1.bt-typo-displaylarge Kontak via Email

block page_subtitle
  h2.bt-typo-body Kami senang mendengar dari Anda, silakan sampaikan komentar, opini, masukan/saran, pertanyaan, atau apa saja kepada kami.

block main
  .col-md-8.col-md-offset-2
    .alert.alert-warning.alert-dismissable(role='alert') Some theoritical error message
    h3.bt-typo-displaysmall.bt-form-heading Form Kontak Email #[small.pull-right Semua wajib diisi]
    form.form-horizontal
      .form-group
        label.control-label.col-lg-4(for='contactName') Nama
        .col-lg-8
          input.form-control(
            type='text'
            id='contactName'
            placeholder=''
            required
            )
      .form-group
        label.control-label.col-lg-4(for='contactEmail') Email
        .col-lg-8
          input.form-control(
            type='email'
            id='contactEmail'
            placeholder=''
            required
            )
      .form-group
        label.control-label.col-lg-4(for='contactPhone') Telepon
        .col-lg-8
          .input-group
            label.input-group-addon(for='contactPhone') +62
            input(
              type='tel'
              class='form-control'
              id='contactPhone'
              aria-describedby='basic-addon1'
              required
            )
    form.form-horizontal
      .form-group
        label.control-label.col-lg-4(for='contactCategory') Subjek
        .col-lg-8
          select.form-control(
            id='contactCategory'
            required
            )
            option(value="0") Pilih subjek pesan
            optgroup(label="Order dan Pembayaran")
              option(value="4") Cicilan non Kartu Kredit
              option(value="5") Feedback for Bhinneka Officer
              option(value="7") Ordering Product Merchant: Price & Product Info
              option(value="8") Ordering Product: Price & Product Info
              option(value="9") Return & Refund
              option(value="14") Transaction Status - Order Tracking
              option(value="12") Technical & Warranty Assistance
            optgroup(label="Bhinneka Bisnis")
              option(value="11") Software & Licensing for Corporate
            optgroup(label="Layanan Servis dan Purna Jual")
              option(value="13") Technical Log Status - Service Tracking
            optgroup(label="Jasa Printing")
              option(value="10") Signage & Large Format Printer
            optgroup(label="Kerjasama")
              option(value="1") Advertisement & Marketing Partnership Program
              option(value="2") Become Our Merchant at Bhinneka Marketplace
              option(value="3") Become Our Vendors
            optgroup(label="Lainnya")
              option(value="6") Idea Box for Bhinneka
              option(value="15") Cannot find the category? Drop any email here
      .form-group
        label.control-label.col-lg-4(for='contactNotes') Pesan
        .col-lg-8
          textarea.form-control(
            type='text'
            id='contactNotes'
            rows='5'
            required
            )
      .form-group.bt-form__submit
        .col-lg-8.col-lg-offset-4
          hr
          button.btn.btn-primary(
            type= "submit"
          ) Kirim Pesan
