extends ../_atomic/4_templates/static-promo.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-index'

block head
  title Index of Single Page Templates

block page_title
  h1.bt-typo-displaylarge Single Page Templates

block page_subtitle
  h2.bt-typo-body This is the index

block main
  .col-lg-8.col-lg-offset-2
    .panel.panel-default
      .panel-heading Ad-hoc Navigation
      ul.list-group
        li.list-group-item #[a(href='/single-pages/promo.html') Promo Page Template]
        li.list-group-item #[a(href='/single-pages/post.html') Single Post Template]
        li.list-group-item #[a(href='/single-pages/about.html') Tentang Kami]
        li.list-group-item #[a(href='/single-pages/email.html') Form Kontak Email]
        li.list-group-item #[a(href='/single-pages/contact.html') Hubungi Kami]
        li.list-group-item #[a(href='/single-pages/advertise.html') Beriklan di Bhinneka]
        li.list-group-item #[a(href='/single-pages/account.html') Akun Bhinneka]
        li.list-group-item #[a(href='/single-pages/tos.html') Syarat dan Ketentuan]
        li.list-group-item #[a(href='/single-pages/privacy.html') Kebijakan Privasi]
        li.list-group-item #[a(href='/single-pages/service-center.html') Servis dan Purna Jual]
        li.list-group-item #[a(href='/single-pages/return.html') Pengembalian Barang]
        li.list-group-item #[a(href='/single-pages/stores.html') Bhinneka Retail Stores]
        li.list-group-item #[a(href='/single-pages/sitemap.html') Peta Situs]
