extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static order-tracking'
  - var userLog = false

block head
  title Cek Status Order

block page_title
  h1.bt-typo-displaylarge Cek Status Order

block page_subtitle
  .row
    .col-md-8.col-md-offset-2
      h2.bt-typo-body Periksa status terakhir dari order Anda.

block main
  .col-md-8.col-md-offset-2
    .alert.alert-warning.alert-dismissable(role='alert') Nomor order Anda tidak ada. Silakan cek kembali beberapa saat kemudian atau hubungi sales yang melayani Anda.
    h3.bt-typo-displaysmall.bt-form-heading Form Cek Status Order
    .col-lg-8.col-lg-offset-4
      p.bt-typo-body Pengecekan status order tidak secara langsung atau real-time, harap maklum jika ada jeda waktu.
    form.form-horizontal
      .form-group
        label.control-label.col-lg-4(for='orderId') Nomor Order
        .col-lg-8
          input.form-control(
            type='input'
            id='orderId'
            placeholder=''
            required
            )
    form.form-horizontal
      .form-group.has-error
        label.control-label.col-lg-4(for='orderIdError') Nomor Order
        .col-lg-8
          input.form-control(
            type='input'
            id='orderIdError'
            placeholder=''
            required
            )
          .help-block Data wajib diisi
      .col-lg-8.col-lg-offset-4
        p.bt-typo-body Bila order Anda tidak ditemukan atau ada yang ingin ditanyakan lebih lanjut, silakan menghubungi #[a(href='tel:+622129292828') 021 2929 2828] di hari kerja.
      .form-group.bt-form__submit
        .col-lg-8.col-lg-offset-4
          hr
          button.btn.btn-primary(
            type= "submit"
          ) Cek Status
