extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static payment-confirmation __success'
  - var userLog = false

block head
  title Konfirmasi Diterima

block page_title
  h1.bt-typo-displaylarge Konfirmasi Diterima 👍

block main
  .col-md-8.col-md-offset-2
    h2.bt-typo-displaysmall.text-center Tunggu email balasan dari kami dalam 24 jam. Barang akan dikirimkan setelah kami memastikan pembayaran Anda sudah kami terima.