extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static payment-confirmation'
  - var userLog = false

block head
  title Konfirmasi Pembayaran

block page_title
  h1.bt-typo-displaylarge Konfirmasi Pembayaran

block page_subtitle
  .row
    .col-md-8.col-md-offset-2
      p.bt-typo-body Isi form ini untuk mengonfirmasikan pembayaran Anda.

block main
  .col-md-8.col-md-offset-2
    .alert.alert-warning.alert-dismissable(role='alert') Nomor order tidak ditemukan, mohon periksa kembali nomor order Anda.
    h3.bt-typo-displaysmall.bt-form-heading Form Konfirmasi #[small.pull-right #[span.text-danger *] Wajib diisi]
    form.form-horizontal
      .form-group
        label.control-label.col-lg-4(for='orderId') Nomor Order #[span.text-danger *]
        .col-lg-8
          input.form-control(
            type='input'
            id='orderId'
            placeholder=''
            required
            )
      .form-group
        label.control-label.col-lg-4(for='transferDate') Tanggal Transfer #[span.text-danger *]
        .col-lg-8
          input.form-control(
            type='date'
            autocomplete='false'
            id='transferDate'
            required
          )
      .form-group
        label.control-label.col-lg-4(for='transferAmount') Nilai Transfer #[span.text-danger *]
        .col-lg-8
          input.form-control(
            type='number'
            id='transferAmount'
            placeholder=''
            required
            )
      .form-group
        label.control-label.col-lg-4(for='recipientFullName') Nama Lengkap
        .col-lg-8
          input.form-control(
            type='input'
            id='recipientFullName'
            placeholder=''
            )
      .form-group
        label.control-label.col-lg-4(for='recepientEmail') Email
        .col-lg-8
          input.form-control(
            type='email'
            id='recepientEmail'
            placeholder=''
            )
      .form-group
        label.control-label.col-lg-4(for='confirmNotes') Catatan Tambahan
        .col-lg-8
          textarea.form-control(
            type='text'
            id='confirmNotes'
            placeholder=''
            )
      .col-lg-8.col-lg-offset-4
        p.bt-typo-body Jika Anda menemui kesulitan atau membutuhkan informasi tambahan, silakan menghubungi #[a(href='tel:+622129292828') 021 2929 2828] di hari kerja.
      .form-group.bt-form__submit
        .col-lg-8.col-lg-offset-4
          hr
          button.btn.btn-primary(
            type= "submit"
          ) Konfirmasi Pembayaran
