extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-index'
  - var userLog = true

block head
  title Post Title - Post Subtitle

block page_title
  h1.bt-typo-displaylarge Post Title

block page_subtitle
  h2.bt-typo-displaysmall Post Subtitle

block main
  .col-md-8.col-md-offset-2
    h1.bt-typo-displaylarge This is heading 1
    
    h2.bt-typo-displaymedium This is heading 2

    h3.bt-typo-displaysmall This is heading 3

    h4.bt-typo-heading This is heading 4
    
    h5.bt-typo-subheading.text-uppercase This is heading 5

    h6.bt-typo-subheading This is heading 6

    h1 This is plain heading 1 in use inside product detail overview
    
    h2 This is plain heading 2 in use inside product detail overview

    h3 This is plain heading 3 in use inside product detail overview

    h4 This is plain heading 4 in use inside product detail overview
    
    h5 This is plain heading 5 in use inside product detail overview

    h6 This is plain heading 6 in use inside product detail overview

    p #[a(href='#') I’ll start with the hard part:] As of today, we are reducing our team by about one third — eliminating 50 jobs, mostly in sales, support, and other business functions. We are also changing our business model to more directly drive the mission we set out on originally.

    p Obviously, this is a tough thing to do, made tougher by the immense respect and love we have for these people who have helped make Medium what it is today. We reached this decision when Medium’s management team came together to review the last year and take a hard look at our business — where we are and where we’re headed. While we could continue on our current path — and there is a business case for doing so — we decided that we risk failing on our larger, original mission if we don’t make some proactive changes while we have the momentum and resources to do so.

    p In terms of momentum, 2016 was our best year yet. Key metrics, such as readers and published posts were up approximately 300% year on year. And we witnessed important stories published on Medium — from world-famous leaders to unknown individuals — on a daily basis. We’re proud of Medium’s role in promoting intelligent viewpoints and new ideas no matter who they’re from, becoming the default outlet for thoughtful people who have something to say about the world.

    figure
      img.img-responsive(src='http://placehold.it/1600x800')

    p In other ways, however, we feel we’re falling short.

    p Our vision, when we started in 2012, was ambitious: To build a platform that defined a new model for media on the internet. The problem, as we saw it, was that the incentives driving the creation and spread of content were not serving the people consuming it or creating it — or society as a whole. As I wrote at the time, “The current system causes increasing amounts of misinformation…and pressure to put out more content more cheaply — depth, originality, or quality be damned. It’s unsustainable and unsatisfying for producers and consumers alike….We need a new model.”

    p This is a #[code blockquote] element:

    blockquote We set out to build a better publishing platform — one that allowed anyone to offer their stories and ideas to the world and that helped the great ones rise to the top. In 2016, we made big investments in teams and technology aimed at attracting and migrating commercial publishers to Medium. And in order to get these publishers paid, we built out and started selling our first ad products. This strategy worked in terms of driving growth, as well as improving the volume and consistency of great content. Some of the web’s best publishers are now on Medium, and we’re happy to work with them every day. We also saw interest from many big brands and promising results from several content marketing campaigns on the platform.

    p However, in building out this model, we realized we didn’t yet have the right solution to the big question of driving payment for quality content. We had started scaling up the teams to sell and support products that were, at best, incremental improvements on the ad-driven publishing model, not the transformative model we were aiming for.
    
    p This is a #[code figure] element:

    figure
      img.img-responsive(src='http://placehold.it/1600x800')
      figcaption This is a #[code figcaption], by the way #[code img] element must always wrapped inside #[code figure]

    p To continue on this trajectory put us at risk — even if we were successful, business-wise — of becoming an extension of a broken system.

    p Upon further reflection, it’s clear that the broken system is ad-driven media on the internet. It simply doesn’t serve people. In fact, it’s not designed to. The vast majority of articles, videos, and other “content” we all consume on a daily basis is paid for — directly or indirectly — by corporations who are funding it in order to advance their goals. And it is measured, amplified, and rewarded based on its ability to do that. Period. As a result, we get…well, what we get. And it’s getting worse.

    p This is a #[code pre] aka block of code element:

    pre.
      private struct AssociatedKeys {
        static var <#name#> = "<#name#>"
      }

      var <#name#>: String? {
        get {
          return objc_getAssociatedObject(self, &AssociatedKeys.<#name#>) as? String
        }

        set {
          if let newValue = newValue {
            objc_setAssociatedObject(self, &AssociatedKeys.<#name#>, newValue as String?,
              .OBJC_ASSOCIATION_RETAIN_NONATOMIC
            )
          }
        }
      }

    p That’s a big part of why we are making this change today.

    p We decided we needed to take a different — and bolder — approach to this problem. We believe people who write and share ideas should be rewarded on their ability to enlighten and inform, not simply their ability to attract a few seconds of attention. We believe there are millions of thinking people who want to deepen their understanding of the world and are dissatisfied with what they get from traditional news and their social feeds. We believe that a better system — one that serves people — is possible. In fact, it’s imperative.

    p This is a #[code kbd] aka keyboard key element: #[kbd &#x2318;] + #[kbd s]

    p So, we are shifting our resources and attention to defining a new model for writers and creators to be rewarded, based on the value they’re creating for people. And toward building a transformational product for curious humans who want to get smarter about the world every day.
    
    p This is an #[code hr] element:

    hr

    p It is too soon to say exactly what this will look like. This strategy is more focused but also less proven. It will require time to get it right, as well as some different skills. Which is why we are taking these steps today and saying goodbye to many talented people. To stay efficient, we are shutting our offices in New York and Washington D.C. (though some people will continue to work remotely from those locales). And we will be parting ways with some of our executives who were brought on to scale these teams. The vast majority of the product development and engineering teams will remain, both to support the Medium you love and to bring it to the next level.

    p This is certainly one of the hardest things I’ve done in my years as a founder and CEO. I want to sincerely thank my management team who has helped think through and implement this process with great care. And, of course, all the team members to whom we are saying goodbye. I’m really proud of the people who have chosen to join Medium over the years and of the culture we’ve built. The quality and success of the Medium platform is due to their efforts. I also want to mention Medium’s board and investors, the best I’ve ever worked with, who have been incredibly supportive and helpful throughout.

    p We know the path ahead will not be easy. But we are excited about our challenge. Thank you for your support of Medium. Look for even more great stories and important ideas in the year ahead.