extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static privacy-policy'
  - var userLog = false

block head
  title Kebijakan Privasi

block page_title
  h1.bt-typo-displaylarge Kebijakan Privasi

block main
  .col-md-8.col-md-offset-2

    h3.bt-typo-displaysmall Kebijakan Privasi
    p  Seluruh informasi pribadi yang Anda berikan kepada Bhinneka hanya akan digunakan dan dilindungi oleh Bhinneka. Setiap informasi yang Anda berikan terbatas untuk tujuan proses yang berkaitan dengan Bhinneka dan tanpa tujuan lainnya. Kami dapat mengubah Kebijakan Privasi ini dari waktu ke waktu dengan melakukan pengurangan ataupun penambahan ketentuan pada halaman ini. Perubahan terhadap kebijakan ini akan diumumkan melalui situs Bhinneka atau melalui alamat dari media lain yang Anda berikan kepada kami. Anda dianjurkan untuk membaca Kebijakan Privasi ini secara berkala agar mengetahui perubahan-perubahan terbaru.

    h3.bt-typo-displaysmall Pendaftaran  
    p Semua orang dapat mengakses dan melihat materi di situs kami, namun Anda dibutuhkan untuk melakukan pendaftaran (#[a(href='/register') Register]) untuk dapat mengakses informasi dan layanan pada situs ini secara penuh. Fitur seperti pesanan barang hanya dapat dilakukan apabila Anda sudah menjadi anggota (member) Bhinneka. Untuk mendaftar pada situs Bhinneka, kami memerlukan informasi seperti berikut:
    ul
      li Nama Lengkap
      li Email
      li Alamat Pengiriman yang Lengkap
      li Nomor Telepon
    p Kami berasumsi bahwa informasi yang Anda berikan saat ini dan perubahan-perubahan yang Anda lakukan di masa mendatang adalah akurat dan benar. Apabila informasi dan perubahan-perubahan yang diberikan tersebut ternyata terbukti tidak benar, maka kami tidak bertanggung jawab atas segala akibat yang dapat terjadi sehubungan dengan pemberian informasi dan perubahan-perubahan yang tidak benar tersebut.

    h3.bt-typo-displaysmall Penggunaan Informasi yang Kami Kumpulkan
    p Semua informasi pribadi yang kami peroleh dari Anda secara sukarela pada saat ada registrasi akan kami simpan, gunakan dan lindungi sesuai dengan undang-undang perlindungan data dan kebijakan privasi ini. Informasi Anda kami kumpulkan untuk menyediakan produk dan layanan yang terbaik bagi Anda. Informasi Anda akan dipakai untuk:
    ul
      li Mempercepat proses belanja Anda
      li Kepentingan konfirmasi pesanan
      li Kepentingan pengiriman pesanan
      li Mempermudah transaksi pembayaran
      li Mengumpulkan data transaksi antara Anda dengan Bhinneka
      li Menghubungi Anda untuk kepentingan riset pasar atau pengembangan situs, agar Kami dapat meningkatkan pelayanan, dan/atau untuk menyesuaikan situs untuk memberikan layanan dan produk yang paling diminati oleh Anda
      li Untuk mengelola sebuah kontes, promosi, survei, riset pasar, kelompok fokus atau lainnya dan untuk menyediakan Anda dengan produk atau layan yang relevan (contoh: untuk mengirimkan hadiah kepada Anda apabila Anda telah menang dalam kontes yang diselenggarakan oleh Bhinneka)
      li Kepentingan administrasi Bhinneka

    h3.bt-typo-displaysmall Promosi dan Acara Khusus
    p Kami seringkali mengadakan promosi dan acara khusus yang diselenggarakan oleh pihak ketiga atau rekanan kami. Jika informasi ini akan dibagi bersama pihak ketiga, kami akan memberitahukan kepada Anda pada saat pengumpulan data.

    h3.bt-typo-displaysmall Berlangganan Email Bhinneka
    p Anda akan mendapatkan pilihan untuk ingin menerima email promosi Bhinneka Jika Anda memilih untuk berlangganan maka Bhinneka akan mengirimkan e-mail secara berkala kepada Anda yang berisikan informasi tentang produk terbaru dan program promosi apa yang sedang ditawarkan. Kami hanya menggunakan email Anda untuk keperluan Bhinneka dan tidak akan membagi, menjual, menyewakan, menukar atau memberikan kepada pihak ketiga tanpa persetujuan Anda. Anda dapat memilih untuk berhenti berlangganan kapan saja, pada setiap email yang Anda terima akan terdapat pilihan untuk berhenti berlangganan dengan listing email kami.

    h3.bt-typo-displaysmall Koneksi ke Situs Lain
    p Untuk mempermudah penggunaan Anda, situs kami mungkin menyediakan link ke situs-situs pihak ketiga lainnya. Namun, pada saat Anda mengunjungi link-link ini, kami tidak bertanggung jawab atas informasi apapun yang Anda berikan kepada situs-situs tersebut. Masing-masing situs memiliki kebijakan penanganan privasi tersendiri dan kami tidak bertanggung jawab atas isi dari situs mereka. Oleh karena itu, Anda harus berhati-hati dan mempelajari pernyataan kebijakan privasi yang berlaku di situs tersebut sebelum memberikan informasi Anda.

    h3.bt-typo-displaysmall Kantor Pusat
    address.
     Jl. Gunung Sahari Raya 73C No. 5-6<br>Jakarta 10610, Indonesia<br>Telp: (021) 2929-2828<br>Fax: (021) 4257787<br> #[a(href='mailto:care@bhinneka.com') Email: care@bhinneka.com]
