extends ../_atomic/4_templates/static-promo.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-promo'

block head
  title Promo Title - Promo Subtitle

block page_title
  h1.bt-typo-displaylarge Promo Title

block page_subtitle
  h2.bt-typo-displaysmall Promo Subtitle

block main
  .col-md-8.col-md-offset-2
    +loop(6)
      figure
        img.img-responsive(
          src='http://placehold.it/1600x800'
          alt='image alt title'
          )
        figcaption This is a #[code figcaption], by the way #[code img] element must always wrapped inside #[code figure]