extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-return'
  - var userLog = false

block head
  title Pengembalian Barang

block page_title
  h1.bt-typo-displaylarge Pengembalian Barang

block page_subtitle
  h2.bt-typo-displaysmall Siap Melayani Anda dengan Hati

block main
  .col-md-8.col-md-offset-2
    p Kepuasan pelanggan menjadi barometer kami untuk terus berinovasi dari hari ke hari. Dari sekian banyak produk unggulan kami dan sebagian besar adalah produk elektronik, tentunya tidak luput dari kemungkinan cacat produksi pabrik ataupun kemungkinan lainnya.
    p Berangkat dari adanya kemungkinan ini, maka apabila Anda ingin mengirimkan kembali produk yang mengalami malfungsi/tidak bekerja sebagaimana mestinya, kami dengan senang hati akan menerima pengiriman kembali dari Anda.
    h2.bt-typo-displaymedium Cara Pengiriman Kembali
    .row
      .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(
            src='/images/im_return_1_200px.jpg'
            alt=''
          )
          .bt-nubbin__topLeft 1
          span Masukkan kembali produk ke dalam packing (kardus). Usahakan menggunakan kardus Bhinneka untuk pengiriman kembali.
      .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(
            src='/images/im_return_2_200px.jpg'
            alt=''
          )
          .bt-nubbin__topLeft 2
          span Download dan print file form pengembalian produk, kemudian tempel menutupi delivery sheet yang ada di packaging Bhinneka
      .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(
            src='/images/im_return_3_200px.jpg'
            alt=''
          )
          .bt-nubbin__topLeft 3
          span Packing yang sudah rapi siap untuk dikirim.
    p Syarat dan ketentuan dapat berubah sewaktu-waktu, dan kebijakan untuk program ini sepenuhnya menjadi keputusan Bhinneka. Kami sebagai penyedia layanan akan selalu berupaya untuk terus meningkatkan kualitas pelayanan kami terhadap pelanggan.