extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-service__center'
  - var userLog = false

block head
  title Servis dan Purna Jual

block page_title
  h1.bt-typo-displaylarge Servis dan Purna Jual

block page_subtitle
  h2.bt-typo-displaysmall Siap Melayani Anda dengan Hati

block main
  .col-md-8.col-md-offset-2
    h2.bt-typo-displaymedium Informasi Servis
    p Bhinneka merupakan satu-satunya eCommerce yang memiliki Service Center Resmi dengan para tenaga ahli yang siap menangani berbagai keluhan dan pertanyaan customer seputar produk Gadget & Teknologi yang dibeli di website atau jaringan store kami. Bhinneka juga telah berpartner dengan beberapa brand teknologi ternama sebagai Authorized Service Partner, di antaranya: HP, Asus, Lenovo, HTC, dan Acer.
    h2.bt-typo-displaymedium Tipe Layanan
    h3.bt-typo-displaysmall Dukungan Garansi Resmi
    p Beberapa brand resmi telah bekerja sama dengan kami. Oleh karena itu, kami siap melayani dan membantu Anda dalam proses klaim garansi atas produk-produk yang dibeli/tidak dibeli di Bhinneka, termasuk dukungan teknis pasca garansi berakhir.
    h3.bt-typo-displaysmall Konsultasi
    p Bagi Anda yang sudah berbelanja di Bhinneka dan ingin berkonsultasi dengan staf teknisi kami tentang produk yang sudah dibeli, silakan berkunjung ke lokasi Bhinneka Service Center atau hubungi kami di kontak di bawah ini.
    h3.bt-typo-displaysmall Layanan Ambil & Antar
    p Jasa pengambilan dan pengantaran produk-produk yang ingin diservis di Bhinneka Service Center tentunya akan memberikan kemudahan bagi Anda yang mungkin tidak sempat berkunjung langsung ke lokasi kami. Layanan ini tersedia untuk wilayah Jakarta.
    hr
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.google.com/maps/embed/v1/place?q=place_id:ChIJswmXd8j1aS4RFVx8xqeyocs&key=AIzaSyAvHizmZ27FF8T8R7n-88DuYqMvyW0j4zs')
    hr
    address.
      #[strong Bhinneka Service Center]<br>Jl. Gunung Sahari Raya 73C No. 5&ndash;6<br>Jakarta 10610, Indonesia<br>#[a(href='mailto:support@bhinneka.com') support@bhinneka.com]
    h3.bt-typo-displaysmall Layanan Ambil & Antar
    p Titipkan produk yang ingin  Anda servis di salah satu Store Bhinneka yang ada di Jabodetabek, lihat #[a(href='/') semua lokasinya].
    h3.bt-typo-displaysmall Jam Kerja
    p Senin&ndash;Jumat (08.00&ndash;18.00 WIB) Sabtu (09.00&ndash;15.00 WIB)