extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-sitemap'
  - var userLog = false

block head
  title Peta Situs

block page_title
  h1.bt-typo-displaylarge Peta Situs

block main
  .col-sm-12
    .row
      .col-sm-3
        h3.bt-typo-displaysmall Product
        ul.list-unstyled
          li #[a(href='/product') Product Detail]
            ul
              li #[a(href='/product/sale.html') Sale]
              li #[a(href='/product/out-stock.html') Out of Stock]
              li #[a(href='/product/loader.html') Loader State]
          li #[a(href='/product-list') Product List]
            ul
              li #[a(href='/product-list/empty.html') Empty State]
              li #[a(href='/product-list/brand.html') Brand]
              li #[a(href='/product-list/promo.html') Promo]
              li #[a(href='/product-list/search.html') Search]
      .col-sm-3
        h3.bt-typo-displaysmall Cart
        ul.list-unstyled
          li #[a(href='/cart') Cart]
            ul
              li #[a(href='/cart/empty.html') Empty State]
              li #[a(href='/cart/loader.html') Loader State]
              li #[a(href='/cart/update.html') Update State]
      .col-sm-3
        h3.bt-typo-displaysmall Checkout (will be excluded from sitemap)
        ul.list-unstyled
          li #[a(href='/payment/step-1.html') Checkout Shipping]
          li #[a(href='/payment/step-2.html') Checkout Payment List]
            ul
              li #[a(href='/payment/step-2-loader.html') Loader State]
              li #[a(href='/payment/credit-card.html') Credit Card]
              li #[a(href='/payment/debit-card.html') Debit Card]
              li #[a(href='/payment/installment.html') Installment]
              li #[a(href='/payment/e-banking.html') e-Banking]
              li #[a(href='/payment/e-money.html') e-Money]
              li #[a(href='/payment/virtual-account.html') Virtual Account]
              li #[a(href='/payment/other-installment.html') Other Installment]
              li #[a(href='/payment/bank-transfer.html') Bank Transfer]
              li #[a(href='/payment/cod.html') Cash on Delivery]
              li #[a(href='/payment/retail.html') Retail]
            li #[a(href='/payment/success.html') Payment Success]
            li #[a(href='/payment/warning.html') Payment Warning]
            li #[a(href='/payment/failed.html') Payment Failed]
      .col-sm-3
        h3.bt-typo-displaysmall Account
        ul.list-unstyled
          li #[a(href='/sign-in') Login and Forget Password]
          li #[a(href='/register') Register and Onboarding]
    .row
      .col-sm-3
        h3.bt-typo-displaysmall Membership (will be excluded from sitemap)
        ul.list-unstyled
          li #[a(href='/membership') Dashboard]
          li #[a(href='/membership/order.html') Order List]
          li #[a(href='/membership/order-list-load.html') Order List - Loader State]      
          li #[a(href='/membership/order-detail.html') Order Detail]
          li #[a(href='/membership/order-detail-load.html') Order Detail - Loader State]
          li #[a(href='/membership/profile.html') Profile]
          li #[a(href='/membership/account.html') Account and Password]
          li #[a(href='/membership/address.html') Shipping Address List]
          li #[a(href='/membership/address-load.html') Shipping Address List - Loader State]
          li #[a(href='/membership/address-detail.html') Shipping Address Detail]
          li #[a(href='/membership/notifications.html') Notifications]
          li #[a(href='/single-pages/order-tracking.html') Order Tracking]
          li #[a(href='/single-pages/payment-confirmation.html') Payment Confirmation]
            ul
              li #[a(href='/single-pages/payment-confirmation-success.html') Success State]
      .col-sm-3
        h3.bt-typo-displaysmall Help and Contact
        ul.list-unstyled
          li #[a(href='/help') Bantuan]
          li #[a(href='/single-pages/contact.html') Hubungi Kami]
          li #[a(href='/single-pages/email.html') Form Kontak Email]
      .col-sm-3
        h3.bt-typo-displaysmall Single Page Templates
        ul.list-unstyled
          li #[a(href='/single-pages') Index]
          li #[a(href='/single-pages/promo.html') Promo Page Template]
          li #[a(href='/single-pages/post.html') Single Post Template]
          li #[a(href='/single-pages/about.html') Tentang Kami]
          li #[a(href='/single-pages/stores.html') Lokasi Retail]
          li #[a(href='/single-pages/service-center.html') Servis dan Purna Jual]
          li #[a(href='/single-pages/account.html') Akun Bhinneka]
          li #[a(href='/single-pages/return.html') Pengembalian Barang]
          li #[a(href='/single-pages/advertise.html') Beriklan di Bhinneka]
          li #[a(href='/single-pages/tos.html') Syarat dan Ketentuan]
          li #[a(href='/single-pages/privacy.html') Kebijakan Privasi]
          li #[a(href='/single-pages/sitemap.html') Peta Situs]
      .col-sm-3
        h3.bt-typo-displaysmall Error Pages
        ul.list-unstyled
          li #[a(href='/error') Index]
          li #[a(href='/error/404.html') 404]
          li #[a(href='/error/500.html') 500]
          
      .col-sm-3
        table(
          width='135',
          border='0',
          cellpadding='2',
          cellspacing='0',
          title='Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.'
        )
        
        tr
          td(
            width='135',
            align='center',
            valign='top'
          )
            script(
              type='text/javascript', 
              src='https://seal.geotrust.com/getgeotrustsslseal?host_name=www.bhinneka.com&size=M&lang=en'
            )
            br
            a(href='http://www.geotrust.com/ssl/', target='_blank', style='color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;')
