extends ../_atomic/4_templates/static.pug

include ../_atomic/3_organisms/service-block.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-stores'
  - var userLog = false

block head
  title Lokasi Retail Bhinneka

block page_title
  h1.bt-typo-displaylarge Lokasi Retail

block main
  .col-md-12
    .row
      h2.bt-typo-displaymedium.text-center Jakarta
      .col-md-4
        .bt-media
          img.img-responsive(
            src='/images/im_store_mangga_dua.png'
            alt='Bhinneka Store Mangga Dua'
          )
          h3.bt-typo-displaysmall Mangga Dua Mall
          .bt-map-link
            a(href='http://www.google.com/maps?daddr=-6.136860,106.824250') #[span.pt-icon-standard.pt-icon-geolocation] Lokasi
          address.
            Mangga Dua Mall Lt. 3 No. 48&ndash;49<br>Phone: 021 6230 1383 / 6220 2226<br>Fax: 021 6230 1381
          p Open: Mon&ndash;Sat (10.00&ndash;18.45 WIB), Sun (10.00&ndash;16.00 WIB)

      .col-md-4
        .bt-media
          img.img-responsive(
            src='/images/im_store_gunung_sahari.png'
            alt='Bhinneka Store Gunung Sahari'
          )
          h3.bt-typo-displaysmall Gunung Sahari
          .bt-map-link
            a(href='http://www.google.com/maps?daddr=-6.165661,106.839078') #[span.pt-icon-standard.pt-icon-geolocation] Lokasi
          address.
            Jl. Gunung Sahari Raya 73C No. 5&ndash;6<br>Phone: 021 4229 555 ext. 1013, 1014<br>Fax: 021 4257 787
          p Open: Mon&ndash;Sat (10.00&ndash;19.00 WIB)

      .col-md-4
        .bt-media
          img.img-responsive(
            src='/images/im_store_poins_square.png'
            alt='Bhinneka Store Poins Square'
          )
          h3.bt-typo-displaysmall Poins Square
          .bt-map-link
            a(href='http://www.google.com/maps?daddr=-6.290174,106.777464') #[span.pt-icon-standard.pt-icon-geolocation] Lokasi
          address.
            Poins Square Lt. 2 No. 88&ndash;89<br>Phone: 021 7590 9567<br>Fax: 021 7590 9367
          p Open: Mon&ndash;Sat (10.00&ndash;18.45 WIB), Sun week 1 & 4 (10.00&ndash;18.45 WIB)

    .row
      .col-md-4
        .bt-media
          img.img-responsive(
            src='/images/im_store_cibubur.png'
            alt='Bhinneka Store Cibubur Junction'
          )
          h3.bt-typo-displaysmall Cibubur Junction
          .bt-map-link
            a(href='http://www.google.com/maps?daddr=-6.369851,106.894355') #[span.pt-icon-standard.pt-icon-geolocation] Lokasi
          address.
            Cibubur Junction Lt. 2 No. 47&ndash;49<br>Phone: 021 8775 6770<br>
          p Open: Mon&ndash;Sun (10.00&ndash;18.45 WIB)

      .col-md-4
        .bt-media
          img.img-responsive(
            src='/images/im_store_ratu_plaza.png'
            alt='Bhinneka Store Ratu Plaza'
          )
          h3.bt-typo-displaysmall Ratu Plaza
          .bt-map-link
            a(href='http://www.google.com/maps?daddr=-6.226534,106.801341') #[span.pt-icon-standard.pt-icon-geolocation] Lokasi
          address.
            Ratu Plaza Lt. 1 No. 7A<br>Phone: 021 7203 032<br>
          p Open: Mon&ndash;Sat (10.00&ndash;18.45 WIB), Sun Week 1 & 4 (10.00&ndash;16.00 WIB)

    .row
      h2.bt-typo-displaymedium.text-center Surabaya
      .col-md-4
        .bt-media
          img.img-responsive(
            src='/images/im_store_surabaya.png'
            alt='Bhinneka Store Surabaya'
          )
          h3.bt-typo-displaysmall Dharma Husada Surabaya
          .bt-map-link
            a(href='http://www.google.com/maps?daddr=-7.268002,112.772651') #[span.pt-icon-standard.pt-icon-geolocation] Lokasi
          address.
            Jl. Dharma Husada No. 205<br>60132 Surabaya<br>Phone: 031  5939 569<br>
          p Open: Mon&ndash;Fri (09.00&ndash;17.00 WIB), Sat (10.00&ndash;16.00 WIB)
