extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-terms'
  - var userLog = false

block head
  title Syarat dan Ketentuan

block page_title
  h1.bt-typo-displaylarge Syarat dan Ketentuan

block main
  .col-md-8.col-md-offset-2
    p
      | Anda harus membaca, memahami, menerima dan menyetujui semua persyaratan dan ketentuan dalam Perjanjian ini sebelum menggunakan aplikasi dan/atau menerima konten yang terdapat di dalamnya. Dengan mengakses atau menggunakan situs Bhinneka, Pengguna dianggap telah memahami dan menyetujui seluruh isi dalam syarat dan ketentuan di bawah ini. Syarat dan ketentuan dapat diubah atau diperbaharui sewaktu-waktu tanpa ada pemberitahuan terlebih dahulu. Perubahan syarat dan ketentuan akan segera berlaku setelah dicantumkan di dalam situs Bhinneka. Jika Pengguna merasa keberatan terhadap syarat dan ketentuan yang kami ajukan dalam Perjanjian ini, maka kami anjurkan untuk tidak menggunakan situs ini.
    ol
      li
        | #[strong Ketentuan Penggunaan Situs]
        p
          | Saat mengunjungi dan menggunakan situs Bhinneka, termasuk setiap fitur dan layanannya, Setiap Pengguna wajib untuk mematuhi ketentuan Pengguna Situs berikut ini:
        ol
          li
            | Pengguna minimum berusia 18 Tahun, Sudah Pernah Menikah, atau Yang telah memiliki persyaratan yang diakui secara hukum termasuk dalam kategori Pengguna yang sudah dewasa / terlepas dari Hukum Perlindungan Anak.
          li
            | Akses situs ini hanya diperkenankan untuk keperluan dan kepentingan berbelanja dan informasi terkait dengan layanan situs ini.
          li
            | Pengguna tidak diperkenankan untuk mereproduksi, mendistribusikan, memajang, menjual, menyewakan, mengirimkan, membuat karya turunan dari, menerjemahkan, memodifikasi, merekayasa balik, membongkar, mengurai atau mengeksploitasi situs Bhinneka.
          li
            | Pengguna tidak diperkenankan untuk memuat dan menerbitkan konten yang:
            ol
              li
                    | Melanggar hak cipta, paten, merek dagang, merek layanan, rahasia dagang, atau hak kepemilikan lainnya.
              li
                    | Mengancam, cabul, tidak senonoh, pornografi atau bisa menimbulkan segala kewajiban Hukum perdata atau pidana Indonesia atau hukum internasional.
              li
                    | Mengandung bug, virus, worm, pintu perangkap, trojan horse atau kode dan property berbahaya lainnya.
          li
            | Produk yang ditawarkan bukan merupakan produk buatan Bhinneka, tetapi dari Vendor.

      li
        | #[strong Review & Komentar]
        ol
          li
            | Seluruh Komentar, Review yang dituliskan, dan gambar/foto/image yang di upload di website Bhinneka akan dikategorikan dan diperlakukan sebagai konten yang bersifat tidak rahasia.
          li
            | Review yang telah dituliskan menjadi milik Bhinneka dan tidak dapat dikembalikan.
          li
            | Gambar/Foto/Image yang diupload melalui fitur Customer Image adalah milik masing-masing, Bhinneka tidak dapat dituntut atas haki maupun etiket foto.
          li
            | Anda dilarang menulis dengan menggunakan identitas orang lain.
          li
            | Anda dilarang untuk menuliskan komentar atau review atau gambar/foto/image yang mengandung kalimat/analogi pelecehan terhadap Bhinneka atau pihak ketiga lainnya/masyarakat.
          li
            | Bhinneka berhak merubah atau menghapus komentar, review dan gambar/foto/image yang mengandung unsur yang tidak layak tayang (SARA, Pornografi, Pelecehan, Penghinaan, Pencemaran , dsb).

      li
        | #[strong Hak Milik Intelektual]
        p
          | PT. Bhinneka Mentari Dimensi adalah pemilik tunggal atau pemegang sah semua hak atas situs dan konten situs Bhinneka. Seluruh konten yang terdapat di dalam situs Bhinneka mencakup hak milik intelektual yang dilindungi oleh undang-undang hak cipta dan undang-undang yang melindungi kekayaan intelektual lainnya yang berlaku di seluruh dunia. Semua hak milik dan hak milik intelektual atas situs Bhinneka dan isinya tetap pada Kami, afiliasinya atau pemilik lisensi Isi situs Bhinneka. Semua hak yang tidak dicantumkan di dalam Perjanjian ini atau oleh Kami dengan ini dilindungi undang-undang diantaranya yaitu:
        ol
          li
            | Seluruh Kepemilikan Perangkat Lunak.
          li
            | Nama Bhinneka, ikon serta logo terkait merupakan merek dagang terdaftar di berbagai wilayah hukum dan dilindungi undang-undang tentang hak cipta, merek dagang atau hak milik kekayaan intelektual lainnya. Dilarang keras menggunakan, mengubah, atau memasang merek-merek tersebut di atas untuk kepentingan pribadi dan untuk mendeskriditkan Bhinneka.

      li
        | #[strong Links]
        p
          | Situs ini dapat berisi link internet ke situs lainnya yang dimiliki dan dioperasikan oleh pihak ketiga. Perlu Anda ketahui, bahwa kami tidak bertanggung jawab terhadap pengoperasian ataupun konten yang terletak di situs tersebut.

      li
        | #[strong Transaksi]
        ol
          li
            | Harga yang tertera di website Bhinneka belum termasuk Ongkos Kirim, Tarif Armada ataupun kurir ke luar kota (ekspedisi).
          li
            | Untuk pembelian online melalui shopping cart, pesanan dan pengiriman akan diproses setelah pembayaran diterima oleh rekening bank atas nama PT. Bhinneka Mentari Dimensi. Lama waktu pengiriman disesuaikan dengan area layanan daerah tujuan. Untuk pengiriman yang yang menggunakan ekspedisi, kami bekerja sama dengan pihak jasa kurir services dengan disertai asuransi untuk mencegah kehilangan atau kerusakan selama dalam perjalanan.
          li
            | Sebagian barang tidak ex-stok sehingga diperlukan pesanan sebelumnya.
          li
            | Setiap produk yang dibeli dari Bhinneka dilengkapi dengan masa garansi yang disesuaikan dengan garansi pabrik masing-masing produk. Silahkan klik garansi produk dan purna jual untuk informasi selengkapnya.
          li
            | Barang yang telah dibeli tidak dapat dikembalikan atau ditukar dengan barang lain, kecuali ada perjanjian terlebih dahulu.
          li
            | Segala usaha maksimal telah dilakukan untuk menyakinkan ketepatan seluruh informasi yang dimuat. PT. Bhinneka Mentari Dimensi tidak menjamin dengan segala hormat akan ketepatan data tersebut, termasuk spesifikasi produk maupun editorial.
          li
            | Jika dalam masa garansi, terjadi kerusakan pada barang, silakan menghubungi Technical Center kami di No. (021) 2929-2828 atau email #[a(href='mailto:support@bhinneka.com')] support@bhinneka.com
          li
            | Anda akan menerima email notifikasi mengenai Nomor Resi Pengiriman sesaat setelah produk pesanan Anda dikirim. Anda juga dapat memantau status pesanan Anda dengan menggunakan fitur Order Tracking yang ada pada halaman depan website Bhinneka. Untuk mengetahui tarif pengiriman, silakan klik menu Tarif Pengiriman.
          li
            | Bhinneka bekerjasama dengan payment gateway sebagai pihak ketiga dalam penyelenggaraan transaksi kartu kredit, serta didukung dengan fitur one time password (3D secure) guna menjamin keamanan transaksi kartu kredit.
          li
            | Bhinneka berhak melakukan pembatalan transaksi kartu kredit apabila terdapat transaksi pembelian barang dengan menggunakan kartu kredit yang melanggar ketentuan hukum dan/atau syarat ketentuan Bhinneka.
          li
            | Pengguna dengan ini menyatakan akan melepaskan Bhinneka (termasuk Induk Perusahaan, direktur, dan karyawan) dari tuntutan ganti rugi atas setiap klaim atau tuntutan akibat adanya tindak penyalahgunaan kartu kredit oleh pihak lain.

      li
        | #[strong Harga]
        p
          | Jika dalam keadaan tertentu, terdapat kesalahan harga ataupun informasi mengenai suatu produk tertentu yang disebabkan oleh kesalahan pengetikan (Typo) atau kesalahan harga dan informasi yang berasal dari supplier, Bhinneka berhak untuk menolak ataupun membatalkan pesanan yang menggunakan harga yang salah termasuk pesanan yang sudah dibayarkan. Jika pesanan tersebut sudah dibayarkan dengan Kartu Kredit, dan kartu kredit Anda telah dikenakan biaya untuk pembelian tersebut, maka kami akan melakukan pengembalian dana sesuai dengan jumlah yang telah dibayarkan.

      li
        | #[strong Deskripsi Produk]
        p
          | Bhinneka selalu berusaha untuk memberikan deskripsi produk seakurat mungkin. Tetapi kami tidak dapat 100% menjamin bahwa seluruh deskripsi atau konten yang terdapat di dalam website adalah akurat, lengkap, terbaru, atau bebas error. Jika produk yang ditawarkan oleh Bhinneka tidak sesuai dengan yang tertera dalam deskripsi produk, maka Anda dapat mengembalikannya dalam keadaan belum terpakai / buka segel.

      li
        | #[strong Ketersediaan Barang]
        p
          | Demi mempertahankan harga jual yang tetap kompetitif, sangat sukar bagi pihak kami untuk selalu menyediakan (ready stock) setiap produk yang kami tampilkan di Bhinneka. Staff kami akan dengan senang hati mengkonfirmasikan kembali jika ada beberapa produk yang perlu dipesan serta lamanya waktu pesanan. Kami percaya hanya dengan cara inilah, kami tetap bisa menjaga harga jual yang terbaik bagi pelanggan kami.

      li
        | #[strong Pengguna Terdaftar – Membership]
        ol
          li
            | Menjadi Pengguna Terdaftar, selanjutnya akan disebut sebagai "Member Bhinneka", tidak dipungut biaya / gratis.
          li
            | Dengan memilih untuk membuat akun sebagai member dari situs Bhinneka, Member Bhinneka akan membuat sebuah nama akun dan password ketika menyelesaikan proses registrasi.
          li
            | Member Bhinneka bertanggung jawab untuk menjaga kerahasiaan dan keamanan atas nama akun dan password serta bertanggung jawab sepenuhnya atas segala kegiatan yang diatasnamakan nama akun Pengguna Terdaftar.
          li
            | Member Bhinneka menyetujui untuk:
            ol
              li
                    | Segera memberitahukan kepada Kami setiap adanya dugaan penyalahgunaan akun Member Anda.
              li
                    | Memastikan bahwa Member Bhinneka keluar (log out) dari akun pada setiap akhir sesi dari aktivitas pada situs Bhinneka untuk menghindari kemungkinan terjadinya penyalahgunaan atas akun yang bersangkutan.
          li
            | Kami berhak sepenuhnya untuk membatasi, memblokir atau mengakhiri pelayanan dari suatu akun, melarang akses ke situs Bhinneka dan konten, layanan, dan memperlambat atau menghapus hosted content, dan mengambil langkah-langkah hukum untuk menjaga Member Bhinneka atau pengguna lain jika Kami menganggap Member Bhinneka atau pengguna lain melanggar hukum-hukum yang berlaku, melanggar hak milik intelektual dari pihak terkait, atau melakukan suatu pelanggaran yang melanggar hal-hal yang tertera pada Perjanjian ini.
          li
            | Bahwa Member Bhinneka tidak diperkenankan menjual, berupaya menjual, menawarkan untuk menjual, memberikan, menyerahkan atau mengalihkan Akun, Identitas Pengguna atau Sandi kepada pihak ketiga tanpa sepengetahuan dan persetujuan tertulis sebelumnya dari Kami. Kami dapat menangguhkan atau menghentikan Akun Member Bhinneka atau Akun pihak yang menerima pengalihan dari Member Bhinneka yang dijual, ditawarkan untuk dijual, diberikan, diserahkan atau dialihkan dengan melanggar ketentuan dalam Pasal ini. Apabila dengan keterbatasan kemampuan Kami dalam mengidentifikasi pelanggaran ini, maka seluruh akibat, resiko adalah merupakan tanggung jawab dari Member Bhinneka yang mengalihkan.
          li
            | Pengguna dengan ini menyatakan akan melepaskan Bhinneka (termasuk Induk Perusahaan, direktur, dan karyawan) dari tuntutan ganti rugi atas setiap klaim atau tuntutan, yang dilakukan oleh pihak ketiga akibat adanya pelanggaran syarat dan ketentuan serta penggunaan Layanan Bhinneka yang tidak semestinya.
          li
            | Bhinneka tidak pernah meminta password akun Pengguna untuk alasan apapun. Dengan ini Bhinneka menghimbau pengguna agar tidak memberikan password akun kepada pihak manapun, baik pihak ketiga atau pihak yang mengatasnamakan Bhinneka.
          li
            | Bhinneka berhak melakukan pemanggilan pengguna ke kantor Bhinneka apabila ditemukan adanya kecurangan dan/atau pelanggaran syarat dan ketentuan yang menyebabkan kerugian bagi pengguna lain, pihak ketiga, ataupun Bhinneka
          li
            | Bhinneka berhak melakukan penangguhan pengembalian dana pembatalan transaksi apabila ditemukan adanya kecurangan dan/atau pelanggaran syarat dan ketentuan Bhinneka selambat-lambatnya selama 30 hari terhitung sejak tanggal pembatalan transaksi
          li
            | Member Bhinneka akan otomatis menjadi subscriber pada saat pertama kali mendaftar.
