include ../_helpers/loop.pug
include ../_atomic/1_atoms/icon.pug
include ../_atomic/1_atoms/link.pug


block config

doctype html
html(class='' lang='id-ID')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    block head
    meta(name='description', content= '')
    meta(name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no")

    // Favicon
    link(rel="apple-touch-icon-precomposed" href="/images/favicons/favicon-152.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicons/favicon-152.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicons/favicon-144.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicons/favicon-120.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicons/favicon-114.png")
    link(rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicons/favicon-76.png")
    link(rel="apple-touch-icon-precomposed" href="/images/favicons/favicon-57.png")
    meta(name="msapplication-TileColor" content="#092c52")
    meta(name="msapplication-TileImage" content="/images/favicons/favicon-144.png")
    link(rel="icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/images/favicons/favicon.ico")
    link(rel="mask-icon" href="/images/favicons/favicon.svg" color="#092c52")

    // Theme color for chrome, firefox and opera
    meta(name="theme-color" content="#092c52")

    // build:css /styles/main.css
    link(rel='stylesheet', href='/styles/main.css')
    // endbuild

  body(id=bodyId, class=bodyClass)
    <!--[if lt IE 11]>
    <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    .bt-body-wrapper
      .bt-overlay
        img.loader(src="/images/loading-spin.svg", alt="loading-spin")

      .bt-page-wrapper
        include ../_atomic/3_organisms/navbar-simple.pug

        block content

    // build:js /scripts/plugins.js
    //- bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/slick-carousel/slick/slick.js')
    script(src='/bower_components/theia-sticky-sidebar/js/theia-sticky-sidebar.js')
    script(src='/bower_components/flatpickr/dist/flatpickr.js')
    script(src='/bower_components/photoswipe/dist/photoswipe.js')
    script(src='/bower_components/photoswipe/dist/photoswipe-ui-default.js')
    //- endbower
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    // endbuild

    // build:js /scripts/main.js
    //- inject:js
    script(src="/scripts/jquery.dlmenu.js")
    script(src="/scripts/product.js")
    script(src="/scripts/atomic/back-to-top.js")
    script(src="/scripts/atomic/footer.js")
    script(src="/scripts/atomic/mega-menu.js")
    script(src="/scripts/atomic/navbar.js")
    script(src="/scripts/atomic/offcanvas-menu.js")
    script(src="/scripts/page/home.js")
    script(src="/scripts/page/payment.js")
    //- endinject
    script(src='/scripts/main.js')
    // endbuild
