// Mixins

@mixin form-control-focus($color: $input-border-focus) {
  $color-rgba: rgba(red($color), green($color), blue($color), .4);
  &:focus {
    border-color: $color;
    outline: 0;
    @include box-shadow(inset 0 1px 0 rgba(0,0,0,.075), 0 0 0px 2px $color-rgba);
  }
}

// Containers

.container-fluid {
  max-width: 1440px;
}

// Menus

.dropdown:hover .dropdown-menu {
    display: block;
}

// Navbars

.navbar .dropdown-menu {
  margin-top: 0;
}

.navbar-static-top {
  z-index: 1030;
}

.navbar-static-top,
.navbar-fixed-top {
  border-bottom: none;
  margin-bottom: 0;
}

// Forms

.form-control {
  box-shadow: none;
  border-radius: 2px;
  border-color: $slate;
  height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  @include form-control-focus($blue);
}

.form-group.has-success {
  .form-control {
    @include form-control-focus($green-darker);
  }
  .control-label {
    color: $green-darker;
  }
}
.form-group.has-warning {
  .form-control {
    @include form-control-focus($yellow-darkest);
  }
  .control-label {
    color: $yellow-darkest;
  }
}
.form-group.has-error {
  .form-control {
    @include form-control-focus($red-darker);
  }
  .control-label {
    color: $red-darker;
  }
}

// Buttons

.btn {
  -webkit-transform: translate3d(0, 0, 0); // Hack to fix flickering render bug in Webkit powered browsers
  transform-style: preserve-3d;            //
  -webkit-backface-visibility: hidden;     //
  -webkit-perspective: 1000;               //
  backface-visibility: hidden;             //
  text-transform: uppercase;
  font-family: $font-geomanist-book;
  letter-spacing: 1px;
  transition: all .15s ease;

  &.btn-warning {
    color: $text-color;
  }

  &.btn-primary , &.btn-warning {
    box-shadow:
      0 4px 6px rgba(8,37,71,.11),
      0 1px 4px rgba(0,0,0,.08);

    &:hover {
      transform: translateY(-1px);
      box-shadow:
      0 8px 16px rgba(8,37,71,.12),
      0 2px 4px rgba(0,0,0,.16);
    }
  }

  &.btn-default {
    background-color: $slate-lightest;
    border: 1px solid #ddd;
    border-radius: $radius-sm;
    color: $carbon-light;

    &:hover {
      background-color: #fff;
      box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    }
  }

  &.btn-hollow {
    background-color: transparent;
    border-color: #c1c3c9;
    color: #a0a3ac;
  }

  &.btn-icon-text {
    position: relative;

    span[class^="pt-icon-"] {
      float: left;
      width: 24px;
      height: 24px;
      padding: 4px;
    }
  }
}

// Button Group
.btn-group {
  .btn-default.active {
      background-color: $slate;
      color: $carbon;
      cursor: default;
      
    &:hover {
      background-color: $slate;
      color: $carbon;
      border-color: transparent;
      box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset;
    }
  }
}

.navbar-search__btn-wrapper > .btn-primary:hover { // Override for the `btn-primary` in the navbar search it’s not worth it to use conditional, hence this.
  transform: none;
}

// Texts

.text-inverse {
  color: $white;
}

// Modals

.modal-body {
  padding: 16px;
}

// Progress

.progress,
.progress-bar {
  box-shadow: none;
}

// Media Queries

@media (min-width: 1441px) {
  .navbar .container,
  .bt-navbar-small .container {
    width: 1440px;
  }
}

// Breadcrumb
ol.breadcrumb {
  margin-bottom: 0;
  background-color: inherit;
}

// Panel
.panel {
  .panel-heading {
    [class*="bt-typo-"] {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// Pagination
.bt-product-pagination {
  .pager {
    display: inline-block;
    padding: 5px 14px;
    margin-top: 16px;
    padding: 16px;
  }

  .pager  {
    input {
      height: 40px;
      width: 72px;
    }

    li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 0;
      font-size: 14px;
      line-height: 20px;

      > button {
        display: inline-block;
        height: 40px;
        padding-top: 7px;
        padding-bottom: 7px;

      }
    }
  }
}
