//===  Color  ===

//---  Common  ---
$black: #000 !default;
$white: #fff !default;

//---  Palette: Carbon  ---
$carbon: #3e3e3f !default;
$carbon-light: #6c6c6d !default;
$carbon-lighter: #979798 !default;
$carbon-lightest: #bdbdbd !default;
$carbon-dark: #363637 !default;
$carbon-darker: #2d2d2e !default;
$carbon-darkest: #252525 !default;

//---  Palette: Slate  ---
$slate: #e1e3e6 !default;
$slate-light: #eff0f2 !default;
$slate-lighter: #f5f5f6 !default;
$slate-lightest: #f9fafa !default;
$slate-dark: #c1c3c9 !default;
$slate-darker: #a0a3ac !default;
$slate-darkest: #7f828d !default;

//---  Palette: Navy  ---
$navy: #092c52 !default;
$navy-light: #445e7b !default;
$navy-lighter: #7b8da2 !default;
$navy-lightest: #aab7c4 !default;
$navy-dark: #082547 !default;
$navy-darker: #071d3c !default;
$navy-darkest: #041a37 !default;

//---  Palette: Blue  ---
$blue: #2f78cf !default;
$blue-light: #6198da !default;
$blue-lighter: #8fb6e5 !default;
$blue-lightest: #b8d1ef !default;
$blue-dark: #2965b3 !default;
$blue-darker: #225196 !default;
$blue-darkest: #1c3d79 !default;

//---  Palette: Red  ---
$red: #ed1c24 !default;
$red-light: #ef383f !default;
$red-lighter: #f1555b !default;
$red-lightest: #f7979b !default;
$red-dark: #d91119 !default;
$red-darker: #bd0f16 !default;
$red-darkest: #a00d12 !default;

//---  Palette: Orange  ---
$orange: #ee7a1c !default;
$orange-light: #f08a37 !default;
$orange-lighter: #f39c55 !default;
$orange-lightest: #f8c397 !default;
$orange-dark: #d96b11 !default;
$orange-darker: #bd5d0f !default;
$orange-darkest: #a14f0c !default;

//---  Palette: Yellow  ---
$yellow: #ffca04 !default;
$yellow-light: #ffda4f !default;
$yellow-lighter: #ffe582 !default;
$yellow-lightest: #ffefb4 !default;
$yellow-dark: #ffbd03 !default;
$yellow-darker: #ffb702 !default;
$yellow-darkest: #ffab01 !default;

//---  Palette: Green  ---
$green: #0f9960 !default;
$green-light: #33a878 !default;
$green-lighter: #57b890 !default;
$green-lightest: #87ccb0 !default;
$green-dark: #0d9158 !default;
$green-darker: #0b864e !default;
$green-darkest: #087c44 !default;

//---  Background  ---
$bt-bg-dark: $navy;
$bt-bg-light: $slate;

//===  Typography  ===
//--- Font Face ---
$font-geomanist-medium: 'geomanistmedium', sans-serif;
$font-geomanist-book: 'geomanistbook', sans-serif;
$font-geomanist-bold: 'geomanistbold', sans-serif;
$font-base: -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Helvetica Neue", "Lucida Grande", sans-serif;

//===  Other  ===
//---  Radius  ---
$radius-sm: 3px !default;
$radius-lg: 5px !default;

//---  Sapcing  ---
$spacing-xs: 4px !default;
$spacing-sm: 8px !default;
$spacing-md: 16px !default;
$spacing-lg: 32px !default;

//---  Offcanvas  ---
$offcanvas-width: 240px;

//---  Shadow  ---
$shadow: fade-out(#10161a, 0.9) !default;

//---  Elevation  ---
$elevation-1: 0 0 0 1px $shadow, 0 1px 1px 0 $shadow;
$elevation-2: 0 0 0 1px $shadow, 0 1px 1px 0 $shadow, 0 1px 2px 0 $shadow;
$elevation-3: 0 0 0 1px $shadow, 0 2px 2px 0 $shadow, 0 2px 8px 0 $shadow;
$elevation-4: 0 0 0 1px $shadow, 0 2px 4px 0 $shadow, 0 8px 16px 0 $shadow;
$elevation-5: 0 0 0 1px $shadow, 0 4px 8px 0 $shadow, 0 18px 40px 6px $shadow;
