//-----  Layout  -----
body {
  // Apply this class to specific page with background color
  // - var bodyClass = 'bt-page'
  &.bt-page { background-color: $slate-lightest; }
}

.bt-static__container {
  p,
  blockquote,
  ol,
  ul,
  li,
  address {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  h1 { @extend .bt-typo-displaylarge; }
  h2 { @extend .bt-typo-displaymedium; }
  h3 { @extend .bt-typo-displaysmall; }
  h4 { @extend .bt-typo-heading; }
  h5 {
    @extend .bt-typo-subheading;
    text-transform: uppercase;
  }
  h6 { @extend .bt-typo-subheading; }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
  }

  figure { margin: 3rem 0; }

  figcaption { margin-top: 1rem; }
}

// .bt-static__container {
//   p:last-child:after { content: '\2301'; } // EOT, end of transmission.
// }

//-----  Mixin  -----
@mixin text-overflow($font-size , $lines-to-show){
  $line-height: 1.5;
  margin: 0;
  display: block;
  display: -webkit-box;
  max-height: $font-size*$line-height*$lines-to-show;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  white-space: normal;
}

//-----  Form  -----
h3.bt-form-heading {
  border-bottom: solid 2px $slate;
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 24px;
}

h3.bt-form-heading {
  small.pull-right { // Required remark
    margin-top: 8px;
    vertical-align: middle;
  }
}

//----- Buttons -----

.bt-back--link {
  margin: 1em 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

//-----  Badges -----

.bt-badge__label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 0 .8px 0 rgba(0,0,0,.3);
}

.--badge-info { background-color: $blue; }
.--badge-success { background-color: $green; }
.--badge-error   { background-color: $red; }
.--badge-warning {
  background-color: $yellow;
  color: $text-color;
  text-shadow: none;
}

//-----  Breadcrumb  -----
ol.breadcrumb {
  max-height: 20px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .breadcrumb-item.--more {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;

    + ol {
      display: none;
      position: absolute;
      list-style-type: none;
      padding: 4px;
      z-index: 3;
      background-color: #fff;
      border-radius: $radius-sm;
      box-shadow: $elevation-1;

      a {
        display: block;
        padding: 4px 8px;
      }
    }

    &.--open {
      background-color: $slate;
      color: $slate-darkest;
      border-radius: $radius-sm;

      + ol { display: block; }
    }
  }
}

//- Modal
.modal {
  .modal-close {
    float: right;
    cursor: pointer;
  }
}

#bt-modal-sign-in.modal {
  .bt-card__logo { margin-bottom: 16px; }

  @media (min-width: $screen-sm-min) {
    .modal-dialog { width: 368px; }
  }
}
