// Copyright 2015 Palantir Technologies, Inc. All rights reserved.
// Licensed under the BSD-3 License as modified (the “License”); you may obtain a copy
// of the license at https://github.com/palantir/blueprint/blob/master/LICENSE
// and https://github.com/palantir/blueprint/blob/master/PATENTS

@font-face {
  font-family: "Icons16";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/icons-16.eot?#iefix) format("embedded-opentype"),
       url(../fonts/icons-16.woff) format("woff"),
       url(../fonts/icons-16.ttf) format("truetype");
}

@font-face {
  font-family: "Icons20";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/icons-20.eot?#iefix) format("embedded-opentype"),
       url(../fonts/icons-20.woff) format("woff"),
       url(../fonts/icons-20.ttf) format("truetype");
}

// Icon variables
$icons16-family: "Icons16" !default;
$icons20-family: "Icons20" !default;
$pt-icon-size-standard: 16px !default;
$pt-icon-size-large: 20px !default;

@import "common/icons";
@import "common/generated/icon-variables";
@import "common/generated/icon-map";

#{$icon-classes} {
  display: inline-block;
}

span.pt-icon-standard {
  @include pt-icon($pt-icon-size-standard);
}

span.pt-icon-large {
  @include pt-icon($pt-icon-size-large);
}

span.pt-icon {
  line-height: 1;
  font-family: $icons20-family;
  font-size: inherit;
  font-weight: 400;
  font-style: normal;

  &::before {
    @include pt-icon-font-smoothing();
  }
}

@each $name, $content in $icons {
  .pt-icon-#{$name}::before {
    content: $content;
  }
}
