body.bt-index-category {
  background-color: #f5f5f6;

  main.container {
    padding-top: 32px;
    padding-bottom: 32px;

    .page-title {
      position: relative;
      margin-bottom: 16px;
      h2 {
        margin-bottom: 4px;
        margin-top: 0;
        text-align: center;
      }
      p {
        margin-bottom: 0;
        text-align: center;
      }
    }

    a {
      color: $carbon;
    }

    a:hover {
      color: $blue;
      text-decoration: none;
    }

    .panel-title {
      h3 {
        display: inline-block;
        margin: 0;
      }
    }

    .panel-body {
      li {
        padding-bottom: 8px;
        padding-bottom: 8px;
      }
    }
    .ais-hierarchical-menu--list__lvl1 {
      a {
        font-size: 14px;
      }
    }

    .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl1 {
        padding-left: 16px;
    }

    .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl2 {
        padding-left: 16px;
    }

    .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl3 {
        padding-left: 16px;
    }
  }
}
