// Desktop
// Category Filter
.ais-hierarchical-menu--item {
    font-size: 12px;
    margin-bottom: 8px;
}

.ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl1,
.ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl2,
.ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl3 {
    margin-top:  8px;
    margin-bottom:  8px;
}

.ais-hierarchical-menu--list a {
    color: #3e3e3f;
}

.ais-hierarchical-menu--list a:hover {
    color: #2f78cf;
    text-decoration: none;
}

.ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl1 {
    padding-left: 8px;
}

.ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl2 {
    padding-left: 8px;
}

.ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl3 {
    padding-left: 8px;
}

.ais-hierarchical-menu--item.ais-hierarchical-menu--item__active > div:first-child > a {
    font-weight: bold;
}

// Price Filter
.ais-price-ranges--item {
  margin-bottom: 8px;
}

.ais-price-ranges--item a {
  text-decoration: none;
}

.ais-price-ranges--label.input-group {
  margin-bottom: 8px;
}

.bt-filter {
  padding-bottom: 40px;
}

// Brand Filter
.bt-filter-content {
  input.form-control {
    margin-bottom: 8px;
  }
}

.bt-list-overflow {
  height: 400px;
}

.ais-refinement-list--label {
  font-size: 12px;
  font-weight: normal;
}

.ais-refinement-list--count {
  margin-left: 4px;
}

.ais-refinement-list--item {
  padding: 2px;
}

// Modal - Mobile
.bt-filter-modal {
// Category Filter

  .ais-hierarchical-menu--item {
      font-size: 14px;
      margin-bottom: 16px;
  }

  .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl1,
  .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl2,
  .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl3 {
      margin-top:  16px;
      margin-bottom:  16px;
  }

  // Price Filter

  .ais-price-ranges--item {
    margin-bottom: 16px;
  }

  .ais-price-ranges--label.input-group {
    margin-bottom: 16px;
  }

  .ais-price-ranges--form {
    text-align: right;
  }

  // Brand Filter

  .bt-filter-content {

    input.form-control {
      margin-bottom: 24px;
    }
  }

  .ais-refinement-list--label {
    font-size: 14px;
  }

  .bt-filter__update {
    margin-top: 40px;

    button { height: 44px; }
  }

}
