#bt-help {
  .bt-page-title {
    padding-bottom: 40px;

    h2 { margin-bottom: 0; }
  }

  main.container { margin-top: 32px; }

  .panel.panel-default {
    margin-bottom: 32px;

    .panel-body { padding: 0 16px 16px; }

    .panel-heading {
      padding: 16px;
      background-color: transparent;
      border-bottom: none;
    }

    ul { margin-bottom: 0; }

    li + li { margin-top: 16px; }
  }

  .list-unstyled .list-unstyled {
    margin-top: 16px;
    padding-left: 16px;
  }

  .bt-page-search {
    margin-bottom: 32px;
    position: relative;

    > input {
      height: 40px;
      padding-left: 32px;
      padding-right: 56px;
    }

    > button[type="submit"] {
      height: 40px;
      border: none;
      padding: 8px 16px;
      color: $slate-darkest;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .list-group[role="tablist"] {
    .list-group-item {
      padding: 0;

      &.active > a { color: #fff; }

      > a {
        display: block;
        padding: 10px 16px;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    aside .list-group { display: none; }

    .tab-content > .tab-pane { display: block; }

    .panel.panel-default {
      .panel-body { padding: 0 24px 24px; }

      .panel-heading { padding: 24px; }

      li + li { margin-top: 24px; }
    }


    .list-unstyled .list-unstyled { margin-top: 24px; }
  }
}
