body.bt-static {

  background-color: $slate-lightest;

  main {
    margin-top: 32px;
    margin-bottom: 160px;
  }

  // max 991px, Only Phone and Tablet
  @media (max-width: $screen-sm-max) {

    .bt-carousel__nav-prev.slick-arrow,
    .bt-carousel__nav-next.slick-arrow {
      visibility: hidden;
    }
  }

  // min 992px, Larger than Tablet
  @media (min-width: $screen-desktop) {
    .bt-page-jumbotron {
      height: auto;
      position: relative;

      img {
        width: 100%;
        height: auto;
        overflow: hidden;
      }
    }
  }

  // max 991px, Only Phone and Tablet
  @media (max-width: $screen-sm-max) {

    .bt-page-jumbotron {
      height: 240px;
      position: relative;
      overflow: hidden;

      img {
        height: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.bt-static.static-terms {

  main.container {

    ol {
      counter-reset: item;
      margin-bottom: 1em;
      padding-left: 1em;
    }

    li {

      margin-bottom: 1em;
      display: block;

      p { margin-left: 1.1em; } // Hack to push `p` elements to be vertically align with first level `li`

    }

    li:before {

      content: counters(item, ".") ". "; // Autonumbering questionable solution
      counter-increment: item;
      font-weight: bold;
      text-align: right;
    }
  }

}

.bt-static.static-return {
  .thumbnail {
    margin-top: 1em;
    padding: 8px;

    .bt-nubbin__topLeft {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 32px;
      height: 32px;
      background-color: $blue;
      border-radius: 100%;
      text-align: center;
      vertical-align: middle;
      padding-top: 6px;
      color: #fff;
      font-weight: bold;
      box-shadow: $elevation-4;

    }

    img { margin-bottom: 8px; }

    @media (max-width: $screen-tablet) {
      .bt-nubbin__topLeft {
        top: 8px;
        left: 24px;
      }
    }
  }
}

.bt-static.static-stores {

  .bt-map-link {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: .5em;
  }
  .row { margin-bottom: 2em; } // Remember to make a set of margin utilities classes, this rule should be temporary
}
