body.bt-page-payment {
  background-color: $slate-lightest;
  padding-bottom: 0;

  .pt-icon-help { margin-left: 8px; }

  .bt-page-header {
    background-color: $white;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid $slate;

    .bt-page-title {
      padding-top: 40px;
      padding-bottom: 16px;

      .btn {
        padding: 0;
        margin-right: 8px;

        .pt-icon-large { padding: 0; }
      }

      .bt-typo-heading { display: inline-block; }
    }

    .bt-typo-heading {
      text-transform: uppercase;
      font-weight: bold;
    }

    h2 {
      margin-bottom: 10px;
      margin-top: 0;
    }
  }

  .bt-left-container { padding-left: 16px; }

  .bt-right-container { padding-right: 16px; text-align: right; }

  .bt-geotrust__certificate { margin-bottom: 24px; margin-right: 16px; }

  .bt-panel {
    @extend .panel-default;
  }

  .bt-form-container {
    border-radius: 5px;
    padding-top: 16px;
    padding-bottom: 16px;

    .jp-card-container{
      margin: 0;
      margin-bottom: 24px;
    }
  }

  .bt-summary-container {
    border-radius: 5px;
    padding: 16px;
    text-align: left;

    .panel-body {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    button.btn-hollow {
      border-color: #6198da;
      color: $brand-primary;
      letter-spacing: 1px;
      margin-bottom: 24px;
      height: 48px;
    }

    .btn-row-button-section {
      margin-top: 8px;

      .btn-default {
        font-size: 14px;
        height: 46px;
      }
    }

    .modal.fade .modal-dialog { transform: translate3d(0, 0.5vh, 0); }

    .modal.in .modal-dialog { transform: translate3d(0, 0, 0); }

    h3 {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }

  .form-group {

    label { font-weight: normal; }

    textarea { resize: vertical; }

    ul {
      padding-left: 16px;

      li { margin-top: 6px; }
    }
  }

  .bt-row-button-section {
    padding: 0;

    > .col-xs-7 { padding-left: 0; }
  }

  .bt-row-payment-summary, .bt-row-shipping-summary {
    border-top: 1px solid #e1e3e6;
    border-bottom: none;
    padding-bottom: 24px;
    margin-bottom: 0;

    .text-danger { color: #ed1c24; }

    .pt-icon { margin-left: 8px; }
  }

  .bt-row-shipping-summary {
    p {
      margin-bottom: 0;
    }

    .bt-recipient-name, .bt-recipient-zipcode, .bt-recipient-address {
      margin-bottom: 10px;
    }
  }

  // Thank You Pages / Order Summary
  .bt-order-summary.panel {
    .panel-heading {
      border-bottom: 1px solid $slate;

      .bt-order-description {
        padding-top: 8px;
      }
    }

    .panel-footer {
      background-color: $white;
    }
  }

  .quantity {
    padding-top: 8px;
    padding-bottom: 8px;

    p {
      margin-bottom: 0;
    }
  }

  .bt-shipping-summary {
    p {
      text-align: left;
      margin-bottom: 0;
    }

    .bt-recipient-name, .bt-recipient-zipcode, .bt-recipient-address {
      margin-bottom: 10px;
    }

  }

  .bt-cart-label {
    p {
      text-align: left;
    }
  }

  .bt-cart-value {
    p {
      text-align: right;
    }
  }

}

body.bt-page-payment.--loader-state {
  .bt-summary-container {
    h3.bt-typo-displaysmall {
      background-color: $slate-light;
      color: transparent;
    }
  }

  .panel-body.bt-row-shipping-summary {
    p {
      background-color: $slate-light;
      min-height: 20px;
    }

    p:nth-child(1) {
      height: 24px;
      max-width: 240px;
    }

    p:nth-child(2) { height: 40px; }

    p:nth-child(n+3) { max-width: 160px; }

    p:nth-child(n+6) { display: none; }
  }

  .bt-payment-select {
    span.bt-typo-displaysmall {
      display: inline-block;
      background-color: $slate-light;
      height: 26px;
      width: 120px;
    }

    label > p {
      background-color: $slate-light;
      height: 20px;
      width: 200px;
    }
  }

  button.btn-hollow[disabled] { color: transparent; }

  .bt-row-payment-summary {
    > .clearfix {
      p {
        height: 20px;
        width: 120px;
        background-color: $slate-light;
      }

      &:first-child { display: none; }

      &:nth-child(2) {
        .pull-left { width: 100px; }
        .pull-right { width: 140px; }
      }
      &:nth-child(3) {
        .pull-left { width: 80px; }
        .pull-right { width: 100px; }
      }

      &.total-cart-info {
        p { height: 24px; }
        .pull-right { width: 200px; }
      }
    }
  }

  footer.bt-footer-mini { bottom: -80px; }
}

.bt-cart-modal {
  .modal-body {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.bt-cart-content {
  padding-top: 16px;
  padding-bottom: 16px;
}

.bt-cart-content + .bt-cart-content {
  border-top: 1px solid $slate;
}

.bt-payment-select {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 0;
  padding-right: 0;

  .panel{
    margin-bottom: 16px;
    box-shadow: $elevation-1;
    transition: margin-bottom .2s ease;

    &:not(.--active) {
      background-color: transparent;
      margin-bottom: 0;
      box-shadow: 0 0 0 transparent;

      .panel-body {
        border-top-color: transparent;
        max-height: 0;
        height: 0;

        img { height: 0; }
      }
    }
  }

  .panel-heading {
    padding-top: 0;
    padding-bottom: 0;
  }

  label[role='button']{
    padding: 24px;
    display: block;
    position: relative;
    z-index: 1;

    > input{
      float: left;
      margin-left: -24px;
    }

    > p { font-weight: normal; }

    p { margin-bottom: 0; }
  }

  .panel-body{
    padding: 16px 0 0 40px;
    border-top: 1px solid $slate;
    overflow: hidden;
    max-height: 400px;
    transition: max-height .4s ease;

    img {
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }
}

// Gap for scroll, only at desktop
@media (min-width: $screen-desktop) {
  body.bt-page-payment { padding-bottom: 64px; }

  .bt-cart-modal .modal-body {
    max-height: 131px * 4.5;
    overflow-y: scroll;
  }
}

// Tablet & up
@media (min-width: $screen-tablet) {

  .bt-payment-select {
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .bt-form-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .form-group {
    .bt-fullname-input {
      padding-left: 8px;
      padding-top: 0;
      padding-right: 0;
    }
  }

  main.container {
    margin-top: 32px;
    margin-bottom: 64px;
  }

  .bt-left-container { padding-left: 0; }
}

#bt-order-last-step {

  .bt-page-title {
    padding-bottom: 24px;

    h2 { margin-bottom: 0; }
  }

  .bt-emoji {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 16px;
  }

  img.bt-illustration {
    max-height: 140px;
    margin-left: auto;
    margin-right: auto;
  }

  main.container {
    margin-top: 24px;

    .panel { box-shadow: $elevation-2; }
  }

  .panel-body {
    p:last-child { margin-bottom: 0; }
  }

  &.bt-page-payment.--failed {
    .btn-hollow {
      background-color: #fff;
      border-color: $blue;
      color: $blue;
    }
  }

  // Phone Only
  @media (max-width: $screen-xs-max) {
    .quantity {
      p {
        width: 49%;
        display: inline-block;
      }

      p:first-child {
        text-align: left;
      }

      p:last-child {
        text-align: right;
      }
    }

    .bt-page-header {
      margin: 16px;
      box-shadow: $elevation-1;
      border-radius: $radius-lg;
    }

    .bt-page-title {
      padding-top: 32px;
      padding-bottom: 32px;
      text-align: center;
    }

    .bt-emoji { margin-bottom: 8px; }

    .panel-heading .bt-order-description,
    .panel-body .media-body {
      text-align: left;
    }

    main.container {
      text-align: center;

      .bt-final-checkout__main-col {
        > .bt-typo-displaysmall {
          font-size: 16px;
          line-height: 24px;
          font-family: $font-base;
          margin-bottom: 16px;
        }
      }

      p + .btn.btn-lg {
        display: block;
        margin-bottom: 32px;
      }
    }
  }
}
