body.bt-error {
  background-color: $slate-lightest;
  main {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media (min-width: $screen-tablet) {

    .cart-empty { border-radius: 5px; } // To do, replace this container class to a more generic class – Art B.
  }
}