body.bt-sign--in {
  main {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.bt-card--primary {
  background-color: $navy-darker;
  border-radius: 6px;
  background-image: url(../images/im_acc_dark.png);
  background-size: 100% auto;
  background-repeat: no-repeat;

  .panel-body {
    padding: 16px;
  }

  form {
    margin-top: 24px;
  }
}

.bt-card__logo {
  display: inline-block;
  width: 100px;
  img {
    width: 100px;
    height: auto;
  }
  em {
    font-family: $font-geomanist-medium;
    color: #7b8da2;
  }
}

.bt-card__button {
  height: 40px;
}

.bt-login__social {
  padding-top: 16px;
  padding-bottom: 32px;

  h4 {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.bt-login__social-facebook {
  p {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
