.bt-membership , .bt-membership-detail {

  background-color: $slate-lightest;

  main {
    margin-top: 32px;
    margin-bottom: 160px;
  }
}

.bt-subnav.list-group > .bt-list-group-header {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.bt-subnav.list-group {
  .list-group a.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
}

.bt-btn-subnav { // Mobile navigation button in the sidebar
  position: absolute;
  top: 16px;
  right: 16px;
}x

.bt-subnav + .bt-card__logo { margin-bottom: .5em; }

.bt-list-group-header { // Custom `.list-group-header` element
  background-color: $slate-lighter;
  background-image: url(../images/im_acc_light.png);
  background-size: cover;
  background-repeat: no-repeat;

  h3.list-group-item-heading { // Graceful text wrapping for loooong names
    max-width: calc(100% - 64px);
  }
}

  .bt-list-group {

    a.btn.btn-block.btn-link:hover {
      text-decoration: none;
      background-color: $slate-lighter;
    }
  }

a.list-group-item {

  &:hover { // Override hover styling for anchored `.list-group-item`
    background-color: white;
    color: $blue;

    dd { color: $blue; }
  }

  dl.dl-horizontal {

    margin-bottom: 8px; // Tighten up the margin for `.dl-horizontal` class in a `list-group-item`, it’s just looked right okay!

    address {
      margin-bottom: 0; // Margin override for `address` element in a `dl`
      white-space: pre-wrap; // Specific whitespace adjustment for `address` in a `dl`
    }
  }

  .list-group-item-heading , .list-group-item-text {
    margin-bottom: 0;
  }

  span.pt-icon-chevron-right {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}

span.list-group-item.title {
    background: #DDD;
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px 10px;
}

.btn.btn-link.--danger { // Specific styling for address deletion button, for now …
  border-radius: $radius-sm;
  color: $red-darker;
  text-decoration: none;

    &:hover {
      background-color: $slate-light;
    }
}

.form-group.bt-form__submit {

  hr {
    border-top: 2px solid $slate;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

// Desktop
@media (min-width: $screen-desktop) {
  .list-group.collapse { display: block; } // Showing the sidebar on the desktop
}


// Load State Address List & Order List
.bt-membership.--loader-state {
  .bt-list-group {

    .list-group-item-heading,
    .list-group-item-text {
      background-color: $slate-light;
      color: transparent;
      height: 20px;
    }

    .dl-horizontal {

      .list-group-item-heading {
        margin-bottom: 8px;
        max-width: 160px;
      }

      .list-group-item-text {
        max-width: 320px;
      }
    }

    address {
      background-color: $slate-light;
      color: transparent;
    }
  }
}

.bt-membership-detail.--loader-state {

  // Load State Order Detail
  .bt-page-title {

    h4, .bt-badge__label {
      background-color: $slate-light;
      color: transparent;
    }

    h4 {
      height: 26px;
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }

    .bt-badge__label {
      height: 24px;
      max-width: 128px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .dl-horizontal {

    .list-group-item-heading,
    .list-group-item-text {
      background-color: $slate-light;
      color: transparent;
    }

    .list-group-item-text {
      max-width: 360px;
    }
  }

  .list-group-item {
    h4, h5, p {
      background-color: $slate-light;
      color: transparent;
    }

    h4 {
      height: 26px;
      max-width: 360px;
      margin-bottom: 8px;
    }

    h5, p { height: 20px; }

    h5 { width: 128px; }

    p { width: 240px; }
  }
}
