body.bt-catalog {
  main.container-fluid {
    background-color: #fff;

    // min 992px, Larger than Tablet
    @media (min-width: $screen-desktop) {
      .bt-catalog-header {
        height: auto;
        position: relative;

        img {
          width: 100%;
          height: auto;
          overflow: hidden;
        }
      }
    }

    // max 991px, Only Phone and Tablet
    @media (max-width: $screen-sm-max) {

      .bt-catalog-header {
        height: 240px;
        position: relative;

        img {
          height: 100%;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .bt-filter-opt {
        margin-bottom: 16px;
      }
    }

    .bt-product-empty {
        margin-bottom: 24px;
        text-align: center;

        img {
          margin-top: 64px;
        }

        .bt-typo-displaysmall {
          margin-top: 24px;
          margin-bottom: 8px;
        }
    }

    .bt-catalog-header {
      overflow: hidden;
      text-align: center;
      background-image:
        linear-gradient(rgba(255, 255, 255, 0) 0,rgba(255, 255, 255, 1) 80%),
        url('/images/pattern.png');
      background-repeat: repeat;

      img {
        width: auto;
        height: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }

      .bt-typo-displaylarge {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 0;
      }

      .bt-store-logo {
        display: inline-block;
        width: 80px;
        height: 80px;

        img {
          margin-top: 24px;
          overflow: hidden;
          border: solid 1px $slate;
          border-radius: $radius-sm;
        }
      }
    }

    .bt-catalog-info {
      border-bottom: solid 1px $slate-light;
      padding: 0 16px 16px;
      margin-bottom: 16px;

      .bt-catalog-menu {
        display: inline-block;
        width: 100%;

        .bt-total-shown-product {
          margin-top: 8px;
          margin-bottom: 8px;
        }

        .bt-search-query {
          margin-bottom: 16px;
        }

        .bt-catalog-opt {
          text-align: right;
        }

        .bt-filter-button {
          padding-right: 4px;
          .pt-icon { margin-right: 8px; }
        }

        .bt-sort-button {
          margin-right: 8px;
          display: block;
          width: 100%;
        }

        .bt-catalog-view {
          display: inline-block;
        }
      }
    }

    .bt-product-content {
      padding: 16px;

      .bt-filter-content {
        padding: 0;
      }

      .bt-product-pagination {
        text-align: center;
      }

      a {
        text-decoration: none;
        color: $carbon;
      }

      .row.no-gutters {
        margin-right: 0;
        margin-left: 0;
      }
      .row.no-gutters > [class^="col-"],
      .row.no-gutters > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
      }

      .stockAvailable {
        color: $green;
      }
      .lowStock {
        color: $orange;
      }
      .outStock {
        color: $red;
      }

      .bt-product-normalPrice {
        height: 16px;
        margin: 0;
      }
    }
  }

  .bt-aside-filter {
    @include gradient-directional($slate-lightest, #fff, -135deg);
    padding-right: 16px;
    padding-bottom: 32px;
    overflow: auto;
    height: 100%;

    // Set specific padding for bt-filter * only for desktop view *
    .bt-filter {
      padding-bottom: 8px;
      padding-top: 16px;

      .btn-link {
        text-transform: uppercase;
      }
    }
  }

  .bt-list-overflow {
    overflow-y: auto;
    height: 150px;
  }

  .bt-clear-filter {
    padding-right: 16px;
  }

  .bt-filter-title {
    margin-bottom: 8px;
    padding-bottom: 4px;
    font-weight: bold;

    a {
      position: absolute;
      right: 0;
    }
  }

  .bt-filter-content {
    padding: 4px;

    li {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .form-group {
      margin-bottom: 10px;
    }
  }
}

// Tablet only
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  .bt-search-query {
    width: 100%;
  }

  .bt-filter-opt {
    width: 49.5%;
    float: left;
  }

  .bt-catalog-opt {
    width: 49.5%;
    float: right;
  }
}

// Tablet & up
@media (min-width: $screen-lg-desktop) {

  body.bt-catalog {
    main.container-fluid {

      .bt-catalog-info {

        .bt-catalog-menu {
          display: inline-block;

          .bt-active-category {
            float: left;
          }

          .bt-search-query {
            padding-top: 8px;
            width: 60%;
            float: left;
            margin-bottom: 0;
          }

          .bt-catalog-opt {
            width: 40%;
            float: right;
          }

          .bt-filter-button {
            padding-right: 8px;
          }

          .bt-sort-button {
            margin-top: 0;
            display: inline-block;
            width: auto;

            .bt-catalog-view {
              display: inline-block;
              width: auto;
            }
          }
        }
      }

      .bt-product-content {
        .bt-product-pagination {
          text-align: right;
        }
      }
    }
  }
}

.bt-catalog-breadcrumb {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid $slate;
  border-bottom: 1px solid $slate;

  .breadcrumb {
    padding: 0;
    display: inline-block;
  }

  span.breadcrumb-item {
    color: $slate-darkest;
  }
}

// List & Grid View
.bt-product-list {

  .btn-warning {
    display: none;
  }

  .bt-button-addCart {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  .bt-product-list-title {
    @include text-overflow(16px , 3);
    min-height: 72px;
    margin-bottom: 8px;
  }
}

// List View
.bt-product-content.--list-view {

  .bt-product-list.col-lg-3,
  .bt-product-list.col-md-4 {
    width: 100%;
  }

  // Mobile
  .bt-product-list {
    border-bottom: none;
    border-bottom: solid 1px $slate;

    .btn.bt-button-addCart { display: block; }

    .bt-product-main-info {
      font-size: 0;

      .bt-product-list-image {
        padding-top: 64px;
        display: block;
        vertical-align: top;
        text-align: center;
        margin-bottom: 24px;
      }

      .bt-product-list-info {
        display: block;
        vertical-align: top;
        padding-left: 0;

        .bt-product-list-spec {
          display: none;
        }
      }
    }

    .bt-product-list-price {
      display: table-cell;
      vertical-align: top;
      margin-top: 16px;

      .btn {
        display: none;
        color: $carbon;
      }
    }
  }

  //Desktop
  @media (min-width: $screen-desktop) {
    .bt-product-list {
      padding: 16px;

      .btn.bt-button-addCart { display: none; }

      .bt-product-main-info {
        font-size: 0;
        padding-left: 16px;
        padding-right: 8px;

        .bt-product-list-title:hover {
          color: $blue;
        }

        .bt-product-list-image {
          padding-top: 0;
          display: table-cell;

          img {
            width: auto;
          }
        }

        .bt-product-list-info {
          display: table-cell;
          padding-left: 16px;
          padding-right: 16px;

          .bt-product-list-spec {
            display: block;
            @include text-overflow(14px , 3);
            min-height: 63px;

          }
        }
      }

      .bt-product-list-price {
        margin-top: 0;

        .btn {
          display: block;
        }
      }
    }
  }
}

// Grid View
.bt-product-content.--grid-view {

  .bt-product-list-spec {
    display: none;
  }

  a {
    display: block;
  }

  .bt-product-list-image {
    padding-top: 32px;
    text-align: center;

    img {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

  .bt-product-list {
    border-bottom: solid 1px $slate;
    position: relative;

    > .row {
      margin-left: 0;
      margin-right: 0;
    }

    .bt-product-main-info,
    .bt-product-list-price {
      width: 100%;
    }
  }

  .bt-product-list:hover {
    > a {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .bt-button-addCart { z-index: 3; }
  }

  .btn.bt-button-addCart { display: block; }

  // on Desktop, show add to cart on hover
  @media (min-width: $screen-desktop) {

    .bt-product-list {
      border-radius: $radius-lg;
      border-bottom: none;
    }

    .bt-product-list:hover {
      box-shadow: $elevation-1;
    }
  }
}

// Loader State
body.bt-catalog.--loader-state {
  .bt-product-list {
    border-radius: 0;
  }

  .bt-product-list:hover {
    box-shadow: none;

  }

  .bt-catalog-header {
    img {
      width: 60px;
      height: 60px;
    }
    .bt-typo-displaylarge{
      height: 80px;
    }
  }

  .bt-catalog-breadcrumb {
    ol.breadcrumb {
      background-color: $slate-light;
      width: 240px;
      border-radius: 0;
    }
    .bt-total-shown-product {
      background-color: $slate-light;
      width: 160px;
      height: 20px;
    }
  }

  .bt-catalog-opt {
    height: 36px;
  }

  .bt-aside-filter {
    height: 550px;
  }

  .bt-product-list-title { background-color: $slate-light; }
  .bt-product-list-stock {
    height: 14px;
    margin-bottom: 8px;
    width: 96px;
    background-color: $slate-light;
  }
  .bt-product-normalPrice {
    width: 128px;
    background-color: $slate-light;
    margin-bottom: 4px;
  }
  .bt-product-webPrice {
    width: 160px;
    margin-top: 4px;
    height: 12px;
    background-color: $slate-light;
  }
  .bt-product-list-spec { background-color: $slate-light; }

  .bt-button-addCart {
    height: 30px;
    width: 38px;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #ffe582;
    border-color: #ffda4f;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
