body.bt-page-cart {
  background-color: $slate-lightest;

  main.container {
    margin-top: 32px;
    margin-bottom: 64px;
    .page-title {
      position: relative;
      margin-bottom: 16px;
      h2 {
        margin-bottom: 4px;
        margin-top: 0;
        text-align: center;
      }
      p {
        margin-bottom: 0;
        text-align: center;
      }
    }
  }

  input.number-input[disabled] {
    color: $slate;
    cursor: not-allowed;
  }

  button.btn[disabled] {
    box-shadow: none;
    transform: none;
  }

  button.btn-default[disabled] {
    &:hover,
    &:focus {
      border-color: #ddd;
    }
  }

}

// Loader State

.bt-page-cart.--loader-state {

  .page-title {
    .bt-typo-displaylarge, p {
      background-color: $slate-light;
      color: transparent;
    }

    .bt-typo-displaylarge {
      height: 32px;
      width: 320px;
    }

    p {
      height: 18px;
      width: 128px;
    }
  }

  .product-image {
    background-color: $slate-light;
    color: transparent;
    height: 88px;
    width: 88px;
  }

  .media-body {

    .bt-typo-heading,
    .bt-typo-body,
    .bt-typo-subheading {
      background-color: $slate-light;
      color: transparent;
      width: 100%;
    }

    .bt-typo-heading {
      max-width: 320px;
      height: 18px;
      margin-bottom: 8px;
    }

    .bt-typo-body {
      max-width: 280px;
      height: 18px;
    }

    .bt-typo-subheading {
      max-width:240px;
      height: 18px;
    }
  }

  .row-cart-summary {
    .pull-left, .pull-right {
      background-color: $slate-light;
      color: transparent;
    }
  }

  .product-line-price {

    .bt-typo-heading {
      background-color: $slate-light;
      color: transparent;
      width: 168px;
      margin-bottom: 4px;
    }
  }

  .product-quantity {

    .bt-remove-quantity,
    .bt-add-quantity {
      height: 34px;
      width: 43px;
      pointer-events: none;
      cursor: not-allowed;
      background-color: $slate-light;
      border-color: $slate;
      -webkit-box-shadow: none;
      box-shadow: none;

    }
  }

}

.cart-container.--fetch-update {

  // Fade out cart content
  .row-cart-content:not(.--updating) {
    .media,
    .product-quantity,
    .product-line-price {
      opacity: .4;
    }
  }

  // Loader on cart content
  .product-line-price {
    > .loader {
      float: right;
      margin-right: 32px;
    }
  }

  .total-cart-info {
    > .loader {
      margin-top: 10px;
      margin-right: 32px;
    }
  }

}

.row-cart-content {
  background-color: $white;
  box-shadow: $elevation-1;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  margin-bottom: 24px;

  .product-column {
    margin-top: 16px;
    margin-bottom: 0;
    padding-bottom: 16px;
  }

  .product-image {  overflow: hidden;  }

  .product-quantity {

    .bt-remove-quantity {
      margin-left: 108px;
    }

    .number-input {
      text-align: center;
      width: 44px;
      height: 36px;
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  .product-line-price {
    clear: both;
    margin-top: 16px;
    border-top: solid 1px $slate;
    p {
      display: block;
      float: right;
      margin-bottom: 0;
      margin-top: 4px;
    }
    .btn-link {
      display : block;
      float: left;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.media-body {
  .bt-typo-heading {
    font-family: $font-geomanist-book;
  }
  .bt-typo-subheading {
    color: #919191;
    font-size: 14px;
  }
}

.row-cart-feature {
  background-color: $white;
  box-shadow: $elevation-1;
  padding-top: 16px;
  padding-bottom: 16px;
  input[readonly] {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding-left: 0;
  }

  form {
    padding-left: 0;
    padding-right: 82px;

    .form-control {
      height: 40px;
      display: block;
      width: 98%;
    }

    button {
      height: 40px;
      margin-top: -40px;
      margin-right: -82px;
      display: inline-block;
      min-width: 74px;
      float: right;
    }

    .btn-link {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.row-cart-summary {
  background-color: $white;
  box-shadow: $elevation-1;
  padding: 16px;
  padding-left: 0;
  padding-right: 0;
  .text-danger {
    color: #ed1c24;
  }
  .bt-typo-heading {
    font-weight: bold;
  }
  .bt-typo-body {
    position: relative;
    display: inline-block;
    font-size: 14px;
    .value {
      display: inline-block;
      float: right;
    }
  }
}

.row-checkout {
  background-color: #f9f9fa;
  box-shadow: 0 1px 3px 0 rgba(127,130,141,60);
  padding: 16px;
  border-radius: 0;
  .btn {
    width: 100%;
    padding: 16px;
    position: relative;
    right: 0;
    p {
      letter-spacing: 150%;
      margin-bottom: 0;
    }
  }
}

.cart-empty {
  margin-bottom: 24px;
  text-align: center;
  padding: 64px;
  background-color: #fff;
  box-shadow: $elevation-1;

  img {
    width: 160px;
    height: 160px;
  }
  h2 {
    margin-top: 24px;
    margin-bottom: 8px;
  }
  .btn {
    margin-top: 24px;
    letter-spacing: 2px;
    height: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

}



// Tablet & up
@media (min-width: $screen-desktop) {
  .bt-page-cart {
    .cart-container {
      box-shadow: 0 1px 3px 0 rgba(127,130,141,60);
      border-radius: 5px;
      overflow: hidden;
    }

    .page-title {
      position: relative;
      margin-bottom: 16px;
      clear: both;
      h2 {
        margin-bottom: 0;
        margin-top: 0;
        float: left;

      }
      p {
        margin-bottom: 0;
        float: right;
        margin-top: 12px;
      }
    }

    .row-cart-content {
      background-color: $white;
      box-shadow: none;
      padding: 0;
      padding-left: 0;
      padding-right: 0;
      border-bottom: solid 1px $slate;
      position: relative;
      margin-bottom: 0;
      .product-column {
        margin-top: 16px;
        margin-bottom: 16px;
        padding-bottom: 0;
        border-bottom: none;
      }

      .product-image {
        overflow: hidden;

        img {
          width: 88px;
          height: 88px;
        }
      }

      .product-quantity {
        margin-top: 16px;
        margin-bottom: 16px;

        .bt-remove-quantity {
          margin-left: 0;
        }

        .number-input {
          text-align: center;
          width: 44px;
          height: 36px;
        }
      }

      .product-line-price {
        clear: none;
        margin-top: 16px;
        margin-bottom: 16px;
        padding-top: 0;
        padding-bottom: 0;
        border-top: none;
        p {
          float: none;
          display: block;
          text-align: right;
        }
        .btn-link {
          margin-top: 16px;
          float: right;
          display : block;
          text-align: right;
          width: auto;
        }
      }

      .media-body {
        .bt-typo-heading {
          font-family: $font-geomanist-book;
        }
        .bt-typo-subheading {
          color: #919191;
          font-size: 14px;
        }
      }
    }

    .row-cart-feature {
      background-color: $white;
      box-shadow: none;
      padding-top: 16px;
      padding-bottom: 16px;

      form {
        padding-left: 22px;

        .form-inline {
          text-align: right;
          padding-right: 0;
          padding-left: 0;

          }

        .form-control {
          display: block;
          height: 40px;
        }

        button {
          height: 40px;
          margin-left: 8px;
        }
      }
    }

    .row-cart-summary {
      border-bottom: solid 1px $slate;
      background-color: $white;
      box-shadow: none;
      padding: 16px;
      padding-left: 0;
      padding-right: 0;
      .text-danger {
        color: #ed1c24;
      }
      .bt-typo-heading {
        font-weight: bold;
      }
      .bt-typo-body {
        position: relative;
        display: inline-block;
        font-size: 14px;
        .value {
          display: inline-block;
          float: right;
        }
      }
    }

    .row-checkout {
      box-shadow: none;
      padding: 16px;
      text-align: right;
      .btn {
        width: 240px;
        padding: 16px;
        p {
          letter-spacing: 150%;
          margin-bottom: 0;
        }
      }
    }

    .cart-empty { border-radius: 5px; } // This should be a generic container, we use it in 404 and 500 error pages – Art B.

    .row-cart-feature {
      border-bottom: solid 1px $slate;
    }
  }
}
