body.bt-register {
  main {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.bt-card--secondary {
  background-color: $slate-lighter;
  border-radius: $radius-sm;
  background-image: url(../images/im_acc_light.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  

  .panel-body {
    padding: 16px;
  }
    
  .bt-figure {
    margin: 4em 0; // Ganti jadi variabel spacing-lg
      &.__center {
        text-align: center;
     }
  }

    .bt-figure__icon {
      color: $brand-success;
      font-size: 4em;
  }

}

.bt-card__logo {
  display: inline-block;
  width: 100px;
  img {
    width: 100px;
    height: auto;
  }
  em {
    font-family: $font-geomanist-medium;
    color: $navy;
  }
}

.bt-card__button {
  height: 40px;
}

.bt-login__social {
  padding-top: 16px;
  padding-bottom: 32px;

  h4 {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.bt-login__social-facebook {
  p {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

a.bt-toggle--password {
  color: $slate-darker;
  position: relative;
  top: -28px;
  right: 10px;
    :hover {
      color: $brand-primary;
    }
}