body#bt-product {
  main.container {
    padding-top: 16px;
    padding-bottom: 64px;
  }

  // Responsive: Only Phone
  @media (max-width: $screen-xs-max) {
    .bt-breadcrumb {
      padding-bottom: 16px;
      display: block;
      max-width: 100%;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    ol.breadcrumb {
      text-overflow: clip;
      overflow: visible;
      margin-left: 4px;
      margin-right: 4px;

      li {}
    }

    .bt-product__top-row {
      text-align: center;
    }

    .bt-product__rating-link {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }

    .bt-product__wrapper-image {
      padding-left: 0;
      padding-right: 0;
    }

    .bt-product__section-cta .btn.btn-warning {
      display: block;
      width: 100%;
    }

    .bt-product__image-thumbs { display: none; }

    .bt-product__content h1.bt-typo-displaylarge { margin-top: 44px; }
  }

  // Responsive: Tablet to Up
  @media (min-width: $screen-tablet) {
    .bt-product__rating-link { float: right; }
  }
}

body#bt-product.--loader-state {
  .bt-breadcrumb,
  .bt-product__rating-link {
    background-color: $slate-light;
  }

  .bt-product__rating-link {
    max-width: 150px;
    height: 16px;
  }

  .bt-product__content {
    h1.bt-typo-displaylarge {
      width: 80%;
      background-color: $slate-light;
      height: 32px;
    }
  }

  dt.bt-typo-heading {
    position: relative;
    height: 24px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 64%;
      height: 24px;
      background-color: $slate-light;
    }
  }

  dd.bt-product__price {
    position: relative;
    height: 32px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 39%;
      height: 32px;
      background-color: $blue-lightest;
    }
  }

  dl:not(.bt-product__section-cta) {
    dd:not(.bt-product__price) {
      position: relative;
      height: 48px;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 48px;
        background-color:$slate-light;
      }
    }
  }

  dd .btn-warning {
    width: 200px;
    height: 46px;
    pointer-events: none;
    cursor: not-allowed;
    background-color: $yellow-lighter;
    border-color: $yellow-light;
    box-shadow: none;
  }

  // Responsive: Tablet and down
  @media (max-width: $screen-tablet) {
    dt.bt-typo-heading {

      margin-bottom: 1em;
      &::after { left: 0; }
    }
  }
}

.bt-product__top-row { padding-bottom: 16px; }

.bt-breadcrumb {
  display: inline-block;
  max-width: calc(100% - 200px);


  ol.breadcrumb { padding: 0; }
}

.bt-product__wrapper-image {}

// .bt-product__image { max-height: calc(720px - 32px); }

.bt-product__image-big {
  display: inline-block;
  vertical-align: top;

  .slick-dots {
    font-size: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -28px;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      z-index: 2;
      cursor: default;
    }

    li {
      text-align: center;
      height: auto;
      margin: 0 2px;
    }

    button {
      margin: 0;
      height: 12px;
      width: 12px;
      display: inline-block;
    }
  }
}

.bt-product__image-thumbs {
  position: relative;
  margin-top: 8px;

  .thumb {
    &.active {
      border-width: 2px;
      border-color: #6198DA;
    }
    &:hover { border-color: $brand-primary; }
  }

  .slick-thumb {
    display: inline-block;
    width: 90px;
    height: auto;
    border-radius: 3px;
    border: 1px solid $slate;
    padding: 4px;
    background-color: #fff;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;

    > img {
      display: inline-block;
      width: 100%;
      max-width: 80px;
      height: auto;
    }
  }

  .slick-slider.slick-no-slide .slick-track { margin-left: 0; }
}

.bt-photoswipe-gallery {}

.bt-product__image-navs {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;

  > button {
    outline: none;
    display: inline-block;
    height: 100%;
    background-color: #f9fafa;
    padding: 8px;
    position: absolute;
    z-index: 2;
    box-shadow: 0 0 8px fade-out($black, 0.7);

    &.slick-disabled { display: none !important; }
  }

  .bt-product__nav-prev { left: 0; }

  .bt-product__nav-next { right: 0; }
}

.bt-product__image-big {
  padding: 20px;
  width: 100%;
  background-color: $white;
  border: 1px solid $slate;
  cursor: pointer;

  & .img-responsive { margin: 0 auto; }
}

.bt-product__rating-link {
  font-size: 0;
  height: 20px;
  padding-bottom: 4px;
  background-color: $slate-lightest;

  > a {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -1px;
  }

  .bt-rating__base { margin-right: 8px; }
}

.bt-product__section-1 {

  h1 {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .bt-product__sku {
    color: #a0a3ac;
    display: inline-block;
    font-family: $font-family-monospace;
  }
}
  .bt-product__price { color: $blue; }

.bt-product__section-description {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;

  dd > ul { padding-left: 1em; }

  hr { border-color: $slate; }
}

.bt-product__price-old {
  text-decoration: line-through;
  color: $slate-darker;
  display: inline-block;
}

.bt-label-discount {
  position: relative;
  color: $white;
  background-color: $red-darkest;
  text-align: center;
  display: inline-block;
  padding: 2px 4px;
  min-width: 48px;
  font-size: 12px;
  line-height: 16px;
  margin-left: 6px;
  margin-right: 6px;
}

.bt-label-discount::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 10px 0;
  border-color: transparent $red-darkest transparent transparent;
}

.bt-product__stock-available {
  color: $brand-success;
  margin-top: 16px;
}
.bt-product__stock-out {
  color: $brand-danger;
  margin-top: 16px;
}

.bt-product__section-cta {
  .btn {
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .btn-warning {
    background-color: $yellow;
    color: $carbon-darkest;

    &:active { color: $carbon-darkest; }
  }
}

.bt-product__wrapper-overview {
  position: relative;
  padding-bottom: 20px;
  overflow: hidden;

  &.--collapsed {
    max-height: 160px;

    > .bt-product__btn-expand { opacity: 1; }
  }

  &.--expanded {
    > .bt-product__overview-fade { display: none; }
    > .bt-product__btn-collapse { opacity: 1; }
  }

  > .btn {
    opacity: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: $brand-primary;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.bt-product__overview-fade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
  background: linear-gradient(180deg, fade-out(#f9fafa, .9) 0, fade-out(#f9fafa, .7) 10%, fade-out(#f9fafa, .5) 30%, fade-out(#f9fafa, .3) 50%, fade-out(#f9fafa, .1) 70%, #f9fafa 100%);
}

.bt-product__table {
  tbody {
    > tr {

      td {
        border-top: none;
        padding: 8px 16px;

        &:first-child { font-weight: 500; }

        span { float: left; }
      }
    }
  }
}

.bt-product__section-5 {

  p.bt-typo-heading {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .btn-lg {
    height: 40px;
    padding: 13px 16px 11px;
    font-size: 14px;
    line-height: 1;
    color: #7F828D;
    letter-spacing: 1px;
    border-radius: 3px;
    background-color: $slate;
    box-shadow: inset 0 0 0 1px #7F828D;
    border: none;
  }
}

.bt-product__section-carousel {

  .box {
    width: 196px;
    height: 228px;
    display: inline-block;
    background-color: $white;
    border: 1px solid $slate;
    border-radius: 5px;
    padding: 8px 16px;
    color: #252525;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;

    &:hover {
      p.bt-typo-body {
        color: $blue;
      }
    }

    > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    > p.bt-slick-product-title {
      @include text-overflow(12px , 2);
      margin-top: 8px;
      margin-bottom: 8px;
    }

    > p.text-muted {
      margin-bottom: 0;
    }

    > p.bt-typo-body {
      margin-bottom: 0;
    }
  }

  h3.bt-typo-displaysmall {
    padding-top: 32px;
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

// Responsive
@media (max-width: $screen-xs-max) {
  .bt-product__image-big { border-width: 1px 0; }
}

@media (max-width: $screen-sm-max) {
  .bt-product__image-big { border-radius: 4px; }

  .bt-carousel__navs { display: none; }

  .bt-carousel__wrapper {
    margin-left: -15px;
    margin-right: -15px;

    .item {
      display: inline-block;
      white-space: normal;
    }

    .item + .item { margin-left: 8px; }

    .bt-carousel__items {
      margin-left: 16px;
      margin-right: 16px;
      height: 228px;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      // Make it smooth on iOS
      -webkit-overflow-scrolling: touch;
    }
  }
}

@media (min-width: $screen-md-min) {
  .bt-product__section-carousel {
    > div[class^="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.bt-review__summary {
  width: 80px;
  text-align: center;
  float: left;

  > .bt-typo-caption { margin-top: 8px; }
}

.bt-review__chart { padding-left: 80px + 16px; }

.bt-review__chart-item {
  position: relative;
  display: block;
  height: 16px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 2px;
  font-weight: 300;

  &:after {
    content: attr(data-count);
    font-size: 12px;
    width: 24px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .progress {
    background-color: $slate;
    height: 6px;
    margin-bottom: 0;
  }
}

.bt-progress__label {
  color: $slate-darkest;
  position: absolute;
  left: 0;
  height: 16px;
  font-size: 0;

  &:before {
    content: attr(data-point);
    font-size: 12px;
    width: 12px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  .pt-icon-star {
    font-size: 12px;
    vertical-align: middle;
  }
}

.bt-review__bar {
  display: block;
  padding-top: 5px;
}

.bt-progress__bar { background-color: $yellow-darkest; }

.bt-review__accuracy {}

.bt-review__list { margin-top: 32px; }

.bt-review__list-item {
  margin-bottom: 24px;

  h4 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .bt-rating__base { margin-bottom: 8px; }

  .bt-review__content {
    > p { margin-bottom: 0; }
  }

  .bt-review__date-by {
    color: $slate-darkest;
    display: block;
    margin-bottom: 4px;
  }
}

#bt-modal-buy {
  .modal-body {
    .thumbnail { margin-bottom: 0; }
    p.bt-typo-heading { margin-bottom: 4px; }
  }

  @media (max-width: $screen-sm-max) {
    button.btn-default { display: none; }

    button.btn-primary {
      display: block;
      width: 100%;
    }
  }
}

#bt-product.--product-sale {
  .bt-product__price { color: $red-darkest; }
}

.bt-modal-content {
  @extend .hide;
}

#bt-product-review.--empty {
  span { display: block; }
}

.bt-tabs > li > a > h2 {
  margin: 0;
}

//=====  Styling Product Overview  =====
.bt-product__wrapper-overview {

  p { margin-bottom: 16px; }

  p > img,
  h3 > img {
    display: inline-block;
    max-width: 100%;
    width: auto !important;
    height: auto !important;
    margin: 16px auto;
  }

  h2 {
    @extend .bt-typo-displaymedium;
  }

  h3 {
    @extend .bt-typo-heading;
    margin-top: 0;
    margin-bottom: 16px;

    > span { font-size: inherit !important; }

    img ~ span { display: block; }
  }

}
