#bt-home {
  // Loader state layout
  &.--loader-state {

    .bt-home__slide-banner {
      background-color: $slate-light;

      img { opacity: 0; }
    }

    .bt-editors__pick {
      background-color: $slate-light;
      height: 17px;
      width: 128px;
      display: block;
    }

    .bt-title__carousel {
      background-color: $slate-light;
      height: 32px;
      width: 320px;
    }

    .bt-brand-logo__container {
      background-color: $slate-light;
      box-shadow: none;

      > img { opacity: 0; }
    }

    .bt-home-section__banner {
      background-color: $slate-light;

      > a img { opacity: 0; }
    }

    .bt-slick-product-title { min-height: 36px; }

    // dummy carousel
    .bt-scrollbox {
      display: block;
      height: 240px;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      font-size: 0;

      > .item {
        display: inline-block;

        a {

          > img { opacity: 0; }

          > p { height: 20px; }

          > p:not(.discount-price) { background-color: $slate-light; }

          > .price { width: 120px; }

        }
      }
    }

  }

  .bt-brand-logo__container,
  a {
    &:focus { outline: 1px dotted $carbon-darkest; }
  }

  .slick-slide:focus { outline: none; }

  .slick-dots {
    li {
      height: 8px;
      width: 8px;
      margin: 0 4px;
      list-style-type: none;
    }

    button {
      border-radius: 50%;
      height: 8px;
      width: 8px;

      &:before {
        color: transparent;
        opacity: 0;
      }
    }
  }

  .bt-home-section__carousel,
  .bt-recommendation__carousel {
    img { display: block; }
  }

  .bt-home__recommendation-carousel,
  .bt-home__banner-carousel,
  .bt-home__brand-carousel {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .bt-home__slider {
    .pt-icon-chevron-left,
    .pt-icon-chevron-right {
      font-size: 40px;
      color: white;
      text-shadow: 2px 0 0 $carbon;
    }

    .slick-arrow {
      position: absolute;
      z-index: 10;
      top:  50%;
      transform: translateY(-50%);
      background: transparent;

      &:focus { outline: none; }
    }

    .bt-carousel__nav-prev.slick-arrow { left: 0; }
    .bt-carousel__nav-next.slick-arrow { right: 0; }
  }

  .bt-editors__pick {
    text-transform: uppercase;
    color: $red;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .bt-typo-displaylarge {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .container-fluid.bt-home__slider {
    padding-left: 0;
    padding-right: 0;
  }

  .bt-carousel__more {
    text-align: left;
    padding-top: 16px;
  }

  .bt-home-section {
    height: 240px;
    overflow: hidden;
    padding-left: 0;
    position: relative;
  }

  .bt-recommendation__wrapper {
    height: 240px;
    overflow: hidden;
    position: relative;
  }

  .bt-recommendation__carousel,
  .bt-home-section__carousel {
    position: relative;

    .bt-carousel__navs {
      left: 0;
      right: 0;
    }
  }

  .bt-home-section__banner {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 360px;
    overflow: hidden;
    border-radius: $radius-lg;
  }

  .bt-recommendation__carousel,
  .bt-home-section__carousel,
  .bt-product__section-carousel {

    .bt-carousel__navs {
      height: 240px;

      &:focus { outline: 1px dotted $carbon-darkest; }
    }

    .box {
      width: 196px;
      height: 240px;
      display: inline-block;
      background-color: $white;
      border: 1px solid $slate;
      border-radius: $radius-lg;
      padding: 8px 16px;
      color: #252525;
      margin-left: 8px;
      margin-right: 8px;
      text-decoration: none;

      &:hover {
        p.bt-typo-body {
          color: $blue;
        }
      }

      > img {
        margin-left: auto;
        margin-right: auto;
      }

      > p.bt-slick-product-title {
        @include text-overflow(12px , 2);
        margin-top: 16px;
        margin-bottom: 8px;
      }

      > p.text-muted {
        margin-bottom: 0;
      }

      > p.bt-typo-body {
        margin-bottom: 0;
      }
    }
  }

  .bt-brand__carousel-wrapper {
    font-size: 0;
    white-space: nowrap;
  }

  .bt-brand-section {
    width: 80px;
    display: inline-block;
  }

  .bt-brand-logo__container {
    display: inline-block;
    border-radius: $radius-sm;
    background-color: $white;
    box-shadow: $elevation-1;
    overflow: hidden;

    > img {
      display: block;
      width: 100%;
      max-width: 80px;
    }
  }

  // max 767px, Only Phone
  @media (max-width: $screen-xs-max) {

    .bt-editors__pick,
    .bt-title__carousel,
    .bt-carousel__more {
      padding-left: 16px;
    }

    .bt-carousel__items {
      padding-left: 8px;
      padding-right: 8px;
    }

    .bt-title__carousel { font-size: 20px; }

    .bt-home__recommendation-carousel,
    .bt-home__banner-carousel,
    .bt-home__brand-carousel {
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  // min 992px, Larger than Tablet
  @media (min-width: $screen-desktop) {

    .bt-home__slide-banner {
      img {
        width: 100%;
        height: auto;
      }
    }

    .bt-home-section { padding-left: 376px; }

    .bt-brand__carousel-wrapper { padding-left: 0; }

    .bt-brand__carousel-wrapper { padding-left: 0; }

    .bt-home__recommendation-carousel,
    .bt-home__banner-carousel,
    .bt-home__brand-carousel {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    .bt-brand__carousel-wrapper { text-align: center; }

    .bt-brand-section {
      width: 8.333%;
      padding-right: 4px;
      padding-left: 4px;
    }
  }

  // max 991px, Only Phone and Tablet
  @media (max-width: $screen-sm-max) {

    .bt-carousel__nav-prev.slick-arrow,
    .bt-carousel__nav-next.slick-arrow {
      visibility: hidden;
    }

    .bt-home__slide-banner {
      height: 240px;
      position: relative;

      img {
        width: auto;
        height: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .bt-brand__carousel-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      padding-left: 16px;
      // Make it smooth on iOS
      -webkit-overflow-scrolling: touch;
    }

    .bt-brand-section { margin-right: 16px; }

    .bt-carousel__navs { display: none; }

    .bt-brand-logo__container:focus { outline: 1px dotted $carbon-darkest; }

    .bt-home__recommendation-carousel,
    .bt-home__banner-carousel {

      .item {
        display: inline-block;
        white-space: normal;

        &:focus { outline: 1px dotted $carbon-darkest; }
      }

      .item + .item { margin-left: 8px; }

      .bt-carousel__items {
        height: 240px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        // Make it smooth on iOS
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  // more than 1440px, Larger Desktop
  @media (min-width: 1441px) {
    main.container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // modified for homepage
  .bt-carousel__navs {

    > button {
      height: auto;
      padding: 8px;
      top: 50%;
      transform: translateY(-50%);
    }

    .bt-carousel__nav-prev { border-radius: 0 3px 3px 0; }

    .bt-carousel__nav-next { border-radius: 3px 0 0 3px; }
  }
}
