// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

// Slick
.slick-arrow { border: 0; }
.slick-dots {
  @extend .list-inline;
  display: block;
  text-align: center;
  margin: 0;
  width: 100%;

    li {
      position: relative;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;

        button {
            border: 0;
            background: black;
            border-radius: 20px;
            display: block;
            height: 14px;
            width: 14px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 0;
            margin: 3px;
            cursor: pointer;
            opacity: 0.25;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '\2022';
                width: 20px;
                height: 20px;
                font-size: 6px;
                line-height: 20px;
                text-align: center;
                color: black;
                opacity: 0.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        &.slick-active button {
            opacity: 0.75;
        }
    }
}

//-----  Algolia  -----
.algolia-autocomplete {

  &,
  .aa-input,
  .aa-hint {
    width: 100%;
  }

  .aa-hint { color: $slate-darkest; }

  .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid $slate-darkest;
    border-top-color: transparent;

    .aa-suggestion {
      cursor: pointer;
      padding: 5px 4px;

      &.aa-cursor { background-color: #B2D7FF; }

      em {
        font-weight: bold;
        font-style: normal;
      }
    }
  }
}

// Loader
//---  Bar  ---
.loader-bar {
  display: none;
}

.loader-bar,
.loader-bar:before,
.loader-bar:after {
  background: $blue;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader-bar {
  color: $blue;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader-bar:before,
.loader-bar:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader-bar:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader-bar:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}




