@import 'geomanist-webfont';
@import 'bt_variables';

// Override Bootstrap Variables
$brand-primary: $blue;
$brand-success: $green;
$brand-warning: $yellow;
$text-color: $carbon-dark;
$link-hover-color: $brand-primary !default;
$grid-gutter-width: $spacing-lg;
$container-large-desktop: (1168px + $grid-gutter-width) !default;
$navbar-height: 64px !default;
$navbar-inverse-bg: $bt-bg-dark;
$font-family-base: $font-base;
$btn-default-color: $text-color;
$btn-default-bg: $slate-lighter;
$btn-default-border: $slate-dark;

// Genesis Icon (extracted from Blueprint)
@import '_genesis_icons';

// Geomanist Webfont
@import '_typography';

// Bootstrap & Override
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import '_bootstrap_override';

// Import Atomic Component
@import 'atomic/back-to-top';
@import 'atomic/footer-mini';
@import 'atomic/footer';
@import 'atomic/mega-menu';
@import 'atomic/navbar-mini';
@import 'atomic/navbar';
@import 'atomic/offcanvas-menu';
@import 'atomic/rating';
@import 'atomic/seo-block';

// Import Partial
@import 'bt_general';

// Import Page
@import '_page_home';
@import '_page_product';
@import '_page_sign--in';
@import '_page_register';
@import '_page_cart';
@import '_page_payment';
@import '_page_membership';
@import '_page_error';
@import '_page_product-list';
@import '_page_single-pages';
@import '_page_promo-pages';
@import '_page_help';
@import '_index-category';

// Algolia
@import '_instantsearch-algolia';

//-----  Plugin  -----
$slick-font-path: '/fonts/' !default;
@import 'bower_components/slick-carousel/slick/slick.scss';
@import 'bower_components/flatpickr/dist/flatpickr';
$pswp__assets-path: '/images/plugins/' !default;
@import 'bower_components/photoswipe/src/css/main';
@import 'bower_components/photoswipe/src/css/default-skin/default-skin';
@import '_plugins';
@import 'plugins/component';

body {

  &.--overlay {
    // Show overlay
    .bt-overlay { display: block; }
  }

  &.--loading {
    overflow: hidden;

    // Show overlay for ajax
    .bt-overlay {
      display: block;
      z-index: 1031;

      > .loader {
        display: block;
        width: 48px;
      }
    }
  }

  &.--sticky-header { padding-top: 104px; }

  @media (max-width: $screen-xs-max) {
    &:not(.--static-nav) { padding-top: 0; }
  }
}

// Overlay or backdrop
.bt-overlay {
  display: none;
  background-color: fade-out($navy-darkest, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1020;

  > .loader {
    display: none;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

span.pt-icon-large { padding: 2px; }

.bt-tabs {
  border-bottom: 1px solid $slate;

  > li {
    display: inline-block;
    margin-bottom: -1px;

    &.active {
      > a {
        color: $brand-primary;
        font-weight: 500;
        box-shadow: inset 0 -2px 0 0 $brand-primary;
      }
    }

    > a {
      color: #7f8a8d;
      padding: 4px 20px 8px;

      &:focus {
        background-color: transparent;
      }
    }
  }
}

.bt-tabs__pane {
  padding-top: 16px;
  padding-bottom: 16px;

  &:not(.active) {
    display: none;
  }
}

.bt-carousel__wrapper {
  position: relative;
}

.bt-carousel__navs {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;

  > button {
    display: block;
    height: auto;
    background-color: #f9fafa;
    padding: 8px;
    position: absolute;
    z-index: 2;
    box-shadow: 0 1px 4px -1px fade-out($black, 0.7);
    top: 50%;
    transform: translateY(-50%);

    &.slick-disabled {
      display: none !important;
    }

    span.pt-icon-large {
      transform: scale(1.6);
    }
  }

  .bt-carousel__nav-prev {
    left: 0;
    border-radius: 0 $radius-sm $radius-sm 0;
  }

  .bt-carousel__nav-next {
    right: 0;
    border-radius: $radius-sm 0 0 $radius-sm;
  }
}

.container-example {
  padding-bottom: 100px;

  .cart-title h2 { display: inline-block; }
}

div[class*="cart-table__"] {
  .cart-table__cell {
    background-color: $white;
  }
}

.cart-table__title {
  box-shadow: 0 1px 3px 0 rgba(127,130,141,60);
}

.bt-page-header {
  background-color: $white;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid $slate;

  .bt-page-title {
    padding-top: 40px;
    padding-bottom: 16px;
  }

  .card-container {
    padding-right: 0;

    .bt-card--primary {
      background-color: $brand-primary;
      border-radius: 6px 6px 0 0;
      margin-top: 40px;
      height: 122px;

      &.--elevation-4 {
        box-shadow: $elevation-4;
      }
    }
  }

  .bt-typo-heading {
    text-transform: uppercase;
    font-weight: bold;
  }

  h2 {
    margin-bottom: 10px;
    margin-top: 0;
  }

}
