extends ../_layouts/base.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-page-cart'
  - var cartFull = true
  - var couponSuccess = true
  - var warningBar = false
  
block head
  title Keranjang Belanja

block content

  if cartFull
    main.container
      
      if warningBar
        .alert.alert-warning.alert-dismissable.fade.in(
          a href="#"
          data-dismiss='alert'
          aria-label="close"
          ) Oops something went wrong!
      
      .row
        .col-lg-12.page-title
          h2.bt-typo-displaylarge Keranjang Belanja
          p Total (#) Barang
                      
      .row
        .col-lg-12.cart-container
          
          .row.row-cart-content
            .col-lg-8.product-column
              .media
                .media-left
                  .img-thumbnail.product-image
                    img(src='http://placehold.it/88x88')
                .media-body
                  .media-heading.bt-typo-heading SAMSUNG Galaxy S7 Edge 128GB - Black
                  p.bt-typo-body Rp 10.499.000
                  p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka
                  
            .col-lg-4
              .row
                .col-lg-6.product-quantity
                  .quantity
                    input.number-input(
                      type='number'
                      name='quantity'
                      min='1'
                      max='99'
                      value='1'
                      maxlength='2'
                      )
                .col-lg-6.product-line-price
                  p.bt-typo-heading Rp 10.499.000
                  a(href="#") Hapus
                    
          .row.row-cart-content
            .col-lg-8.product-column
              .media
                .media-left
                  .img-thumbnail.product-image
                    img(src='http://placehold.it/88x88')
                .media-body
                  .media-heading.bt-typo-heading SAMSUNG Galaxy J1 [SM-J100H] - White
                  p.bt-typo-body Rp 1.299.000
                  p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka
                  
            .col-lg-4
              .row
                .col-lg-6.product-quantity
                  .quantity
                    input.number-input(
                      type='number'
                      name='quantity'
                      min='1'
                      max='99'
                      value='1'
                      maxlength='2'
                      )
                .col-lg-6.product-line-price
                  p.bt-typo-heading Rp 1.299.000
                  a(href="#") Hapus
                      
          .row.row-cart-content
            .col-lg-8.product-column
              .media
                .media-left
                  .img-thumbnail.product-image
                    img(src='http://placehold.it/88x88')
                .media-body
                  .media-heading.bt-typo-heading APPLE iPhone 5S 16GB (Merchant) - Silver
                  p.bt-typo-body Rp 3.500.000
                  p.bt-typo-subheading Dijual dan Dikirim oleh RizkyApple
                  
            .col-lg-4
              .row
                .col-lg-6.product-quantity
                  .quantity
                    input.number-input(
                      type='number'
                      name='quantity'
                      min='1'
                      max='99'
                      value='1'
                      maxlength='2'
                      )
                .col-lg-6.product-line-price
                  p.bt-typo-heading Rp 3.500.000
                  a(href="#") Hapus
                      
          .row.row-cart-content
            .col-lg-8.product-column
              .media
                .media-left
                  .img-thumbnail.product-image
                    img(src='http://placehold.it/88x88')
                .media-body
                  .media-heading.bt-typo-heading Nintendo Switch [Merchant] - Neon
                  p.bt-typo-body Rp 5.300.000
                  p.bt-typo-subheading Dijual dan Dikirim oleh Games Box
                  
            .col-lg-4
              .row
                .col-lg-6.product-quantity
                  .quantity
                    input.number-input(
                      type='number'
                      name='quantity'
                      min='1'
                      max='99'
                      value='1'
                      maxlength='2'
                      )
                .col-lg-6.product-line-price
                  p.bt-typo-heading Rp 5.300.000
                  a(href="#") Hapus
        
          .row.row-cart-content
            .col-lg-8.product-column
              .media
                .media-left
                  .img-thumbnail.product-image
                    img(src='http://placehold.it/88x88')
                .media-body
                  .media-heading.bt-typo-heading Apple iPad Pro WiFi Cellular 256GB [Merchant] - Grey
                  p.bt-typo-body Rp 13.999.000
                  p.bt-typo-subheading Dijual dan Dikirim oleh RizkyApple
                  
            .col-lg-4
              .row
                .col-lg-6.product-quantity
                  .quantity
                    input.number-input(
                      type='number'
                      name='quantity'
                      min='1'
                      max='99'
                      value='1'
                      maxlength='2'
                      )
                .col-lg-6.product-line-price
                  p.bt-typo-heading Rp 13.999.000
                  a(href="#") Hapus
          
          if couponSuccess       
            #row-coupon.row
              .col-lg-12.row-cart-feature
                form.bt-ecoupon-form.col-lg-4.col-lg-offset-8
                  input.form-control(
                    type='input'
                    value='ECOUPON'
                    placeholder='Kode eCoupon'
                    id='eCoupon'
                    readonly
                    )
                  button.btn.btn-link.bt-ecoupon-cancel(
                    type='submit'
                    ) Batal
            .row
              .col-lg-12.row-cart-summary
                .col-lg-8
                .col-lg-4
                  .clearfix.subtotal-info
                    p.pull-left.bt-typo-body Subtotal
                    p.pull-right.bt-typo-body.value Rp 34.597.000
                  .clearfix.ecoupon-info
                    p.pull-left.bt-typo-body eCoupon
                    p.pull-right.bt-typo-body.value.text-danger -Rp 500.000
                  .clearfix.total-cart-info
                    p.pull-left.bt-typo-heading TOTAL
                    p.pull-right.bt-typo-heading.value Rp 33.597.000
                    
            .row
              .col-lg-12.row-checkout
                a.btn.btn-primary(href='/payment') Checkout
          else        
            #row-coupon.row
              .col-lg-12.row-cart-feature
                form.bt-ecoupon-form.col-lg-4.col-lg-offset-8
                  input.form-control(
                    type='input'
                    placeholder='Kode eCoupon'
                    id='eCoupon'
                    )
                  button.btn.btn-link(
                    type='submit'
                    ) Submit    
            .row
              .col-lg-12.row-cart-summary
                .col-lg-4.col-lg-offset-8
                  .clearfix.subtotal-info
                    p.pull-left.bt-typo-body Subtotal
                    p.pull-right.bt-typo-body.value Rp 34.597.000
                  .clearfix.total-cart-info
                    p.pull-left.bt-typo-heading TOTAL
                    p.pull-right.bt-typo-heading.value Rp 33.597.000
                      
            .row
              .col-lg-12.row-checkout
                a.btn.btn-lg.btn-primary(href='/payment/step-1.html') Checkout
                  
                  
  else      
    main.container
      .row
        .col-lg-12
          .row.cart-empty
            img(src='/images/im_cart_empty_128px.svg')
            h2.bt-typo-displaymedium Keranjang Kosong
            p Silahkan cari produk di Bhinneka
            button.btn.btn-primary Kembali Berbelanja
