extends ../_layouts/base.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-page-cart --loader-state'
  - var cartFull = true
  - var couponSuccess = false
  - var warningBar = false

block head
  title Keranjang Belanja

block content

  if cartFull
    main.container

      if warningBar
        .alert.alert-warning.alert-dismissable.fade.in(
          a href="#"
          data-dismiss='alert'
          aria-label="close"
          ) Oops something went wrong!

      .row
        .col-lg-12.page-title
          h2.bt-typo-displaylarge
          p

      .row
        .col-lg-12.cart-container
          +loop(3)
            .row.row-cart-content
              .col-md-7.col-lg-8.product-column
                .media
                  .media-left
                    .img-thumbnail.product-image
                      
                  .media-body
                    .media-heading.bt-typo-heading
                    p.bt-typo-body
                    p.bt-typo-subheading

              .col-md-5.col-lg-4
                .row
                  .col-md-6.product-quantity
                  .col-md-6.product-line-price
                    p.bt-typo-heading Rp 10.499.000


  else
    main.container
      .row
        .col-lg-12.page-title
          h2.bt-typo-displaylarge Keranjang Belanja
          p Total (#) Barang
      .row.cart-empty
        .col-lg-12
          .row
            img(src='/images/im_cart_empty_128px.svg')
            h2.bt-typo-displaymedium Keranjang Kosong
            p Silahkan cari produk di Bhinneka
            button.btn.btn-primary Kembali Berbelanja
