extends ../_layouts/base.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyId = 'bt-page-cart'
  - var bodyClass = 'bt-page-cart'
  - var couponSuccess = false

block head
  title Keranjang Belanja

block content

  main.container
    .row
      .col-lg-12.page-title
        h2.bt-typo-displaylarge Keranjang Belanja
        p Total (#) Barang

    .row
      .col-lg-12.cart-container.--fetch-update
        .row.row-cart-content.--updating
          .col-lg-8.product-column
            .media
              .media-left
                .img-thumbnail.product-image
                  img(src='http://placehold.it/88x88')
              .media-body
                .media-heading.bt-typo-heading SAMSUNG Galaxy S7 Edge 128GB - Black
                p.bt-typo-body Rp 10.499.000
                p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka

          .col-lg-4
            .row

              .col-lg-6.product-quantity
                .quantity
                  button.btn.btn-default.bt-remove-quantity(disabled)
                    span.pt-icon-standard.pt-icon-minus
                  input.number-input(
                    type='number'
                    name='quantity'
                    min='1'
                    max='99'
                    value='2'
                    maxlength='2'
                    disabled
                    )
                  button.btn.btn-warning.bt-add-quantity(disabled)
                    span.pt-icon-standard.pt-icon-plus

              .col-lg-6.product-line-price
                img.loader(src="/images/loading-spin.svg", alt="loading-spin")

        .row.row-cart-content
          .col-lg-8.product-column
            .media
              .media-left
                .img-thumbnail.product-image
                  img(src='http://placehold.it/88x88')
              .media-body
                .media-heading.bt-typo-heading SAMSUNG Galaxy J1 [SM-J100H] - White
                p.bt-typo-body Rp 1.299.000
                p.bt-typo-subheading Dijual dan Dikirim oleh Bhinneka

          .col-lg-4
            .row
              .col-lg-6.product-quantity
                .quantity
                  button.btn.btn-default.bt-remove-quantity(disabled)
                    span.pt-icon-standard.pt-icon-minus
                  input.number-input(
                    type='number'
                    name='quantity'
                    min='1'
                    max='99'
                    value='1'
                    maxlength='2'
                    disabled
                    )
                  button.btn.btn-warning.bt-add-quantity(disabled)
                    span.pt-icon-standard.pt-icon-plus
              .col-lg-6.product-line-price
                p.bt-typo-heading Rp 1.299.000
                button.btn.btn-link.--danger(type="button" disabled) Hapus

        .row.row-cart-content
          .col-lg-8.product-column
            .media
              .media-left
                .img-thumbnail.product-image
                  img(src='http://placehold.it/88x88')
              .media-body
                .media-heading.bt-typo-heading APPLE iPhone 5S 16GB (Merchant) - Silver
                p.bt-typo-body Rp 3.500.000
                p.bt-typo-subheading Dijual dan Dikirim oleh RizkyApple

          .col-lg-4
            .row
              .col-lg-6.product-quantity
                .quantity
                  button.btn.btn-default.bt-remove-quantity(disabled)
                    span.pt-icon-standard.pt-icon-minus
                  input.number-input(
                    type='number'
                    name='quantity'
                    min='1'
                    max='99'
                    value='1'
                    maxlength='2'
                    disabled
                    )
                  button.btn.btn-warning.bt-add-quantity(disabled)
                    span.pt-icon-standard.pt-icon-plus
              .col-lg-6.product-line-price
                p.bt-typo-heading Rp 3.500.000
                button.btn.btn-link.--danger(type="button" disabled) Hapus

        .row.row-cart-content
          .col-lg-8.product-column
            .media
              .media-left
                .img-thumbnail.product-image
                  img(src='http://placehold.it/88x88')
              .media-body
                .media-heading.bt-typo-heading Nintendo Switch [Merchant] - Neon
                p.bt-typo-body Rp 5.300.000
                p.bt-typo-subheading Dijual dan Dikirim oleh Games Box

          .col-lg-4
            .row
              .col-lg-6.product-quantity
                .quantity
                  button.btn.btn-default.bt-remove-quantity(disabled)
                    span.pt-icon-standard.pt-icon-minus
                  input.number-input(
                    type='number'
                    name='quantity'
                    min='1'
                    max='99'
                    value='1'
                    maxlength='2'
                    disabled
                    )
                  button.btn.btn-warning.bt-add-quantity(disabled)
                    span.pt-icon-standard.pt-icon-plus
              .col-lg-6.product-line-price
                p.bt-typo-heading Rp 5.300.000
                button.btn.btn-link.--danger(type="button" disabled) Hapus

        #row-coupon.row
          .col-lg-12.row-cart-feature
            form.bt-ecoupon-form.col-lg-4.col-lg-offset-8
              input.form-control(
                type='input'
                placeholder='Kode eCoupon'
                id='eCoupon'
                disabled
                )
              button.btn.btn-warning(
                type='submit'
                disabled
                ) Submit
        .row
          .col-lg-12.row-cart-summary
            .col-lg-4.col-lg-offset-8
              .clearfix
                .subtotal-info.pull-left
                  p.bt-typo-body Subtotal
                  p.bt-typo-heading TOTAL
                .total-cart-info.pull-right.text-right
                  img.loader(src="/images/loading-spin.svg", alt="loading-spin")
        .row
          .col-lg-12.row-checkout
            button.btn.btn-lg.btn-primary(disabled) Checkout
