.bt-back-to-top {
  background-color: $slate-light;
  text-align: center;
  border: none;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 99;
  cursor: pointer;

  &:focus, &:hover {
    outline: 0;
    background-color: $slate-lighter;
    text-decoration: none;
  }

}

body.bt-catalog.--loader-state {
  .bt-back-to-top {
    display: none;
  }
}
