$footer-mini-height: 80px;
$footer-mini-inner: 46px;
$footer-mini-v-pad: (($footer-mini-height - $footer-mini-inner)/2);

.footer-fixed-bottom {
  @extend .navbar-fixed-bottom;
}

.bt-footer-mini {
  background-color: #fff;
  height: $footer-mini-height;
  padding-top: $footer-mini-v-pad;
  padding-bottom: $footer-mini-v-pad;
  border-top: 1px solid #e1e3e6;
  transition: bottom .2s;

  .btn {
    height: 48px;
    letter-spacing: 2px;

    .pt-icon { margin-left: 8px; }
  }
}

// Tablet & up
@media (min-width: $screen-tablet) {
  .bt-footer-mini {
    .button-column {
      padding-right: 16px;
      padding-left: 32px;
    }
  }
}

// min 992px
@media (min-width: $screen-desktop) {
  .bt-footer-mini {
    .button-column {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
