.bt-footer {
  border-top: 1px solid #eff0f2;
  background-color: #f9fafa;

  h6 {
    font-size: 12px;
    font-weight: bold;
  }

  p { margin: 0; }
}

.footer-menu {
  padding-top: 8px;
  padding-bottom: 8px;

  &::after {
    content: '';
    width: 100%;
    display: block;
    border-bottom: 1px solid #e1e3e6;
  }

  li {
    line-height: 28px;
    margin-left: -8px;

    a {
      color: #7f828d;
      line-height: 40px;
      font-size: 14px;
      font-weight: normal;
      padding: 6px 8px 6px 8px;

      &:hover {
        text-decoration: none;
        border-radius: 3px;
        background-color: $slate-lighter;
        color: #2f78cf;
      }
    }
  }

  h6 {
    line-height: 44px;
    margin-bottom: 0;
    margin-top: 0;
    color: #3e3e3f;
    position: relative;
  }

  .bt-caret { // Now using Genesis `pt-icon-chevron-down`
    position: absolute;
    right: 10px;
    line-height: 3; // Vertical center-align, the lazy way, LGTM
    transition: transform 0.2s;

    &.rotated { transform: rotate(180deg); }
  }
}

.footer-apps {

  a img {
    margin-bottom: 16px;
    height: 40px;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-1px);
      box-shadow:
      0 8px 16px rgba(8,37,71,.12),
      0 2px 4px rgba(0,0,0,.16);
      border-radius: 6px; // Matching the `border-radius` for the app store badges
    }
  }

  img {
    margin: 0 auto;
  }
}

.footer-socmed {

  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 0px;

  ul {
    text-align: center;
    height: 44px;
  }

  li {
    margin-left: 8px;
    margin-right: 8px;
    transform: scale(1.2);
    padding-top: 10px;
  }

  a img { // An overly convoluted hover state styling
    filter: saturate(0%);
    &:hover {
      filter: saturate(100%);
    }
  }
}

.row-subscribe {
  text-align: center;
  padding-bottom: 24px;

  .form-inline {
    margin-top: 16px;

    input { height: 44px; }

    .btn {
      height: 44px;
      width: 100%;
      margin-top: 16px;
    }
  }

  .footer-subscribe {
    padding: 0;

    p { color: #3e3e3f; }
  }
}

.row-credit {
  line-height: 44px;
  font-size: 12px;
  background-color: #f9fafa;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #e1e3e6;
  margin: 0;

  .footer-credit {
    padding: 0;

    .footer-copyright { display: block; }
  }

  .list-inline {
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 0;

    li {
      display: block;
      padding: 0;
      margin-left: -24px;
    }
  }

  a:not(.bt-geotrust__certificate) {
    color: #7f828d;
    margin-right: 0;
    line-height: auto;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 8px;

    &:hover {
      text-decoration: none;
      border-radius: 3px;
      background-color: $slate-lighter;
      color: #2f78cf;
    }
  }

  .footer-copyright {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #a0a3ac;
  }
}

// Tablet & up
@media (min-width: $screen-desktop) {

  .footer-menu {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 16px;

    &::after {
      content: '';
      width: 100%;
      display: inline-block;
      border-bottom: 0;
    }

    li {
      line-height: 16px;

      a {
        color: #6c6c6d;
        line-height: 32px;
      }
    }

    h6 { position: relative; }

    .bt-caret { display: none; }

    .collapse { display: block; }
  }

  .footer-apps {
    img { margin: 0 } // Margin centering in desktop
  }

  .footer-socmed {
    margin-top: 16px;
    padding-top: 16px;
    margin-bottom: 0;

    ul {
      text-align: left;

      li {
        margin: 0;
        transform: none;
        transition: transform 0.2s;

        &:hover { transform: scale(1.1); }
      }
    }
  }

  .row-subscribe {

    text-align: left;

    .footer-subscribe { line-height: 40px; }

    .form-inline {
      text-align: right;
      display: block;
      margin-top: 0;

      input {
        height: 40px;
        width: 240px;
      }

      .btn {
        margin-top: 0;
        margin-left: 8px;
        height: 40px;
        width: 118px;
      }
    }
  }

  .row-credit {
    line-height: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    .list-inline {
      margin-bottom: 0;
      margin-left: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-left: -8px;

        a { margin-right: 24px; }
      }
    }

    .footer-credit {
      > .right {
        text-align: right;

        > .footer-copyright {
          display: inline-block;
          padding: 0;
        }
      }
    }
  }
}

// Geotrust Certificate
.bt-geotrust__certificate {
  display: inline-block;
  margin-left: 16px;
  margin-right: -8px;

  img { height: 32px; }
}

// < 992px, set .form-inline width
@media (max-width: $screen-sm-max) {
  .bt-footer .form-inline .form-control { width: 100%; }

  .footer-credit {
    > .right {
      text-align: center;

      > .bt-geotrust__certificate {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

// Center align in awkward portrait table
@media (min-width: $screen-tablet) and (max-width: $screen-md-max) {
  .row-subscribe {
    p { text-align: center; }

    .form-inline { text-align: center; }
  }
}
