$debug: false;

.bt-navbar__mega-menu {
  position: relative;
  display: block;

  // Sticky on header
  &.--is-sticky {
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;

    .btn { display: none; }

    .bt-mega-menu {
      top: 64px;
      border-radius: 0 0 $radius-lg $radius-lg;
    }
  }

  &:not(.--is-sticky) {
    margin-left: -16px;

    &:hover { z-index: 1021; }

    .navbar-toggle-category { display: none; }
  }

  &:hover {
    .bt-mega-menu {
      display: block;
      visibility: visible;
    }
    .bt-offcanvas.--side-left {
      display: block;
    }
  }

  .navbar-toggle-category {
    position: absolute;
    padding: 20px 16px;
  }

  .btn {
    background-color: #fff;
    border-radius: 0;
    width: 220px;
    height: 40px;
    position: absolute;
    z-index: 1019;
    box-shadow: 1px 0 0 $slate;

    .pt-icon-standard {
      margin-right: 12px;
      color: $navy-lightest;
    }

    .bt-btn__text {
      letter-spacing: 2px;
      color: $navy-dark;
      font-family: $font-geomanist-bold;
      font-size: 16px;
      line-height: 20px;
    }

    &:hover::after { display: block; }

    &:focus { outline: none; }
  }

  .btn::after {
    content: '';
    width: 100%;
    height: 40px;
    background-color: transparent;
    position: absolute;
    top: -1px;
    left: 159px;
    display: none;
  }
}

body.--overlay {
  .bt-navbar__mega-menu:hover .btn,
  .bt-mega-menu {
    z-index: 1021;
  }
}

.bt-mega-menu__wrapper {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 0;
}

.bt-mega-menu__left {
  background-color: $slate-light;
  font-size: 12px;
  line-height: 17px;
  width: 220px;
  display: inline-block;
  vertical-align: top;
  position: relative;

  a {
    display: inline-block;
    padding: 6px 16px;
    text-decoration: none;
    width: 100%;
  }

  .--is-active { background-color: #fff; }
}

.bt-mega-menu__right {
  display: none;
  position: relative;
  background-color: transparent;
  height: 464px;
  vertical-align: top;

  &.--is-active {
    display: inline-block;
  }
}

.bt-mega-menu__content {
  background-color: #fff;
  height: 100%;
  position: relative;
  padding-right: 100px;
  font-size: 0;
}

.bt-mega-menu__col {
  width: 240px;
  display: inline-block;
  vertical-align: top;
  padding: 16px;
  font-size: initial;

  li > a {
    padding: 4px 0;
    display: block;
    text-decoration: none;
  }

  li > ul {
    padding-top: 8px;
    list-style-type: none;
    padding-left: 20px;
    font-size: 13px;
  }

  ul ul a {
    color: $text-color;
  }
}

.bt-mega-menu__parent-category {}

.bt-mega-menu__banner {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: -100px;
}


@media (min-width: $screen-md-min) {
  .bt-mega-menu {
    @if $debug {
      display: block;
    } @else {
      display: none;
    }
    position: absolute;
    z-index: 1019;
    top: 40px;
    font-size: 0;
    overflow: hidden;
    border-radius: 0 $radius-lg $radius-lg $radius-lg;
  }
}


@media (max-width: $screen-sm-max) {
  .bt-navbar__mega-menu {
    > button { display: none; }
  }
}
