header.navbar {
  .navbar-logo {
    float: left;
    padding-top: 14px;
    margin-left: -$navbar-padding-horizontal;

    > img { height: 32px; }
  }
}

header.navbar-static-top {}

header.navbar-fixed-top {
  .bt-navbar-small--top { display: none; }
}

header.navbar-fixed-top.--shrink {
  .navbar-logo {
    @media (min-width: 1200px) and (max-width: 1296px) {
      margin-left: 56px - 16px;
    }
    @media (min-width: 1441px) {
      margin-left: 56px - 16px;
    }
  }
}

.navbar-logo {
  padding: $navbar-padding-horizontal;
  display: inline-block;
  transition: margin .25s ease;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @media (min-width: $grid-float-breakpoint) {}
}

.bt-navbar__badge {
  @extend .badge;
  min-width: 16px;
  font-size: 10px;
  font-weight: initial;
  background-color: $brand-warning;
  color: $text-color;
  padding: 3px 4px;
  position: absolute;
  top: 16px;
  right: 8px;
}

.navbar-form {
  margin-top: 12px;
  margin-bottom: 12px;

  .navbar-search { display: inline; }

  &.--phone {

    .navbar-search__input {
      height: 40px;
      border-radius: 3px;
    }
  }
}

.navbar-search__form {
  position: relative;
  display: table;
  border-collapse: separate;
  padding-left: $navbar-padding-horizontal;
  padding-right: $navbar-padding-horizontal;

  input, button, select {
    height: 40px;
    border: none;
  }
}

.navbar-search__input {
  padding: 10px 16px;
  display: table-cell;
  position: relative;
  z-index: 2;
  width: 101%;
  outline: none;
  vertical-align: middle;
}

.navbar-search__cat-wrapper {
  display: table-cell;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
  position: relative;
  width: 1%;
  border-radius: $radius-sm 0 0 $radius-sm;

  select {
    opacity: 0;
    top: 0;
    height: 40px;
    cursor: pointer;
    visibility: visible;
    width: 100%;
    z-index: 10;
    position: absolute;
    background-image: none;
    border: none;
    padding: 8px;
  }
}

.navbar-search__cat-display {
  padding: 12px 32px 12px 8px;
  background-color: $slate-light;
  height: 40px;
  width: 200px;
  font-size: 0;
  position: relative;

  > .navbar-search__cat {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  > .pt-icon-caret-down {
    position: absolute;
    top: 12px;
    right: 8px;
  }
}

.navbar-search__btn-wrapper {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  z-index: 20;

  .btn {
    border-width: 0;
    -webkit-border-radius: 0 3px 3px 0;
       -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
  }
}

.bt-navbar__account {
  color: #fff;
  float: right;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: $navbar-padding-horizontal;
  padding-right: $navbar-padding-horizontal;
  min-width: 120px;

  &:hover { background-color: fade-out(#000, .75); }

  span { display: block; }

  > a {
    font-weight: bold;
    color: #fff;
  }

  > a:not(:hover) { text-decoration: none; }
}

.bt-navbar__user {
  .dropdown-menu {
    width: 183px; //2col = 368px
    padding: 0 16px;

    ul { margin-bottom: 0; }

    li > a {
      display: block;
      padding: 8px 16px;
      text-decoration: none;
    }

    a:not(:hover) {
      color: $text-color;
    }

    .dropdown-col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.navbar-cart {
  float: right;

  > a {
    padding: $navbar-padding-horizontal;
    display: inline-block;
    position: relative;

    &:hover {
      background-color: fade-out(#000, .75);
    }
  }
}

div[class^="navbar-small"] { height: 40px; }

.bt-navbar-small--top {
  background-color: $navbar-inverse-bg;

  a {
    color: $navy-lightest;
    padding: 10px 12px;
    display: inline-block;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  i.caret {
    margin-left: 4px;
    margin-right: 4px;
  }

  .bt-navbar-small__nav {
    margin-left: -12px;
  }
}

.navbar-small--bottom {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(16,22,26,0.1), 0 1px 1px 0 rgba(16,22,26,0.2);
  position: relative;
  z-index: 1000;

  ul {
    margin-bottom: 0;
    margin-left: 0;
    font-family: $font-geomanist-book;
  }

  // Space for faux button
  .row {
    padding-left: 220px;
  }

  .list-inline {
    display: inline;

    &.pull-right {
      a { font-weight: bold; }
    }

    li { padding: 0; }
  }

  ul:not(.bt-navbar__promo) {
    li > a {
      color: $navy;

      &:hover {
        color: $blue;
      }
    }

  }

  li {
    a {
      padding: 10px 16px;
      display: inline-block;
      text-decoration: none;

      &:hover {
        background-color: $slate-lightest;
      }
    }
  }
}

.bt-navbar__promo {
  float: right;

  .bt-navbar__promo-a > a {
    color: $red;

    &:hover {
      color: $red-darker;
    }
  }
  .bt-navbar__promo-b > a {
    color: $green;

    &:hover {
      color: $green-darker;
    }
  }
  .bt-navbar__promo-c > a {
    color: $blue;

    &:hover {
      color: $blue-darker;
    }
  }

}

button[class*="navbar-toggle"] {
  background-color: transparent;
  border: none;
  padding: 16px 12px;
  cursor: pointer;

  &:hover {
    background-color: fade-out(#000, .75);
  }
}

.navbar-toggle-menu {}

.navbar-toggle-search {
  float: right;
}

// Desktop
@media (min-width: $grid-float-breakpoint) {
  header.navbar {
    min-height: $navbar-height;
  }

  .navbar-cart-icon {
    width: 32px;
    height: 32px;
  }

  .navbar-toggle-search {
    display: none;
  }
}

.bt-navbar-small {
  i.caret {
    transition: transform .3s ease;
  }
}

.bt-navbar-small__nav {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;

  &,
  > li {
    display: inline-block;
  }

  > li > a { position: relative; }

  .dropdown.open {
    > a i.caret {
      transform: rotate(-180deg);
    }
  }

  .dropdown-menu {
    z-index: 1001;
  }
}

.dropdown-menu-form {
  padding: 16px 0 0;
  margin-top: 0;
  border-color: $slate;

  .form-control {
    @include placeholder($slate);
    font-weight: normal;
    font-size: 12px;
  }

  .form-group {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;

    label { display: block; }
  }

  .form-separator {
    margin-bottom: 16px;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
      height: 0;
      border-bottom: 1px solid $slate;
    }

    .content {
      display: inline-block;
      position: relative;
      z-index: 2;
      padding: 8px;
      background-color: #fff;
    }
  }
}

.bt-navbar-small__dropdown-tracking {
  .dropdown-menu {
    width: 234px;
  }
  input[type="text"] {
    margin-top: 4px;
  }
}

.bt-navbar-small__dropdown-payment {
  .dropdown-menu {
    width: 234px;
  }

  input[type="text"] {
    margin-top: 4px;
  }
}

.bt-navbar__autocomplete,
.bt-navbar-mobile__autocomplete {
  position: relative;
}
.bt-autocomplete {
  list-style: none;
  padding: 0 0 8px;
  margin: 0;
  outline: 0;
  //
  background-color: #fff;
  max-height: 468px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100% !important;
  z-index: 999;
  position: absolute;
  top: 1px;
  display: none;
}
.bt-autocomplete__item {
  @extend .bt-typo-caption;

  a {
    color: $text-color;
    padding: 8px 16px;
    display: block;
    text-decoration: none;

    &:hover {
      background-color: $slate-lighter;
    }
  }

  &.bt-autocomplete__product {
    .media-body {
      p { margin-bottom: 4px; }
    }

    .bt-autocomplete__sale {
      margin-bottom: 4px;

      span {
        text-decoration: line-through;
        color: $slate-dark;
        line-height: 16px;
        display: inline-block;
      }

      .bt-label-discount {
        font-size: 10px;
        line-height: 12px;
        padding: 2px;
        min-width: 32px;
      }

      .bt-label-discount::after {
        border-width: 8px 6px 8px 0;
      }
    }
  }
}

.bt-autocomplete__title {
  @extend .bt-typo-caption;
  text-transform: uppercase;
  padding: 16px 16px 8px;
  font-weight: bold;
}

.bt-autocomplete__empty {
  @extend .bt-typo-caption;
  padding: 8px 16px;
}

// link Bhinneka Bisnis
a.bt-navbar-small__bisnis {
  margin-right: -12px;
  color: #fff;
  font-style: italic;

  > span {
    color: $brand-warning;
    font-weight: bold;
  }
}


// Mobile
@media (max-width: $grid-float-breakpoint) {
  nav.navbar {
    border-bottom-width: 0;

    > .container {}
  }
  .navbar-header {
    text-align: center;
    font-size: 0;
  }

}

.bt-navbar-mobile {
  @extend .navbar-inverse;

  height: 56px;
  min-height: 56px;

  .pt-icon-large { color: #fff; }

  .navbar-cart {
    width: 48px;
  }

  .navbar-cart-icon {
    width: 28px;
    height: 28px;
  }

  .navbar-cart > a {
    display: block;
    text-align: center;
    padding: 14px 0;
  }

  .bt-navbar__badge {
    font-size: 9px;
    top: 10px;
    right: 6px;
  }

  .bt-navbar__form {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;

    form {
      position: relative;
      padding-left: 8px;
      padding-right: 8px;
    }

    label {
      margin-bottom: 0;
      font-weight: normal;
      color: $slate-darker;
      background-color: #fff;
      height: 36px;
      width: 100%;
      border-radius: $radius-sm;
      cursor: text;
      padding: 10px;
      text-align: center;
      line-height: 16px;
      position: relative;
      z-index: 2;

      > span { margin-right: 4px; }
    }

    .form-control {
      padding-right: 34px;
      position: relative;
      width: 100%;
      border: none;
      margin-top: -36px;
    }

    .form-control:focus ~ label {
      opacity: 0;
    }

    .bt-navbar__btn-clear {
      border: none;
      width: 36px;
      height: 36px;
      padding: 0;
      line-height: 36px;
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      display: none;
    }

    button.btn-link {
      color: #fff;
      display: none;
      float: right;
      width: 80px;
    }
  }
}

body.--search-mobile {
  .bt-overlay {
    display: block;
    background-color: #fff;
  }
  .bt-navbar-mobile {
    .container {
    }
    .bt-navbar__left,
    .bt-navbar__right {
      display: none;
    }
  }
  .bt-navbar__form {
    width: 100%;
    height: 56px;

    form {
      width: auto;
      overflow: hidden;
      height: 36px;
      padding-left: 0;
      padding-right: 0;
    }

    label {
      display: none;
    }

    .form-control {
      margin-top: 0;
      width: 100%;
    }

    button.btn-link {
      display: inline-block;
      border: none;
      height: 36px;
      padding-left: 16px;
      padding-right: 16px;
      margin-right: -16px;
    }
  }
  .bt-navbar__btn-clear.in {
    display: block;
  }
}

.bt-navbar-mobile__logo {
  display: inline-block;
  padding: 12px 8px;
  vertical-align: top;
}

.bt-navbar-mobile__account {
  display: inline-block;
  padding: 16px 12px;

  &:hover {
    background-color: fade-out(#000, .75);
  }
}

.bt-navbar__left {
  float: left;
  margin-left: -16px;
}

.bt-navbar__right {
  float: right;
  margin-right: -16px;
}

#bt-header .container {
  transition: padding .25s;
}

// Fix Responsive
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #bt-header .container {
    width: 100%;
  }
}

@media (min-width: $screen-md-min) and (max-width: 1040px) {
  #bt-header .navbar-logo {
    .img-responsive { display: none; }
    > .hide { display: inline-block !important; }
  }

  #bt-header.--shrink {
    .container {
      padding-left: 56px + 16px;
    }
  }
}

body#bt-membership #toggle-offcanvas-left { visibility: hidden; }
