.bt-navbar-mini {
  height: 64px;

  &.--elevation-3 { box-shadow: $elevation-3; }

  .navbar-brand {

    margin-left: -16px; // Hack to snap logo to viewport, eschewing `.container`’s paddings
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 0;    

    img {

      margin-top: 4px;
      transition: transform 0.2s;
      
      &:hover {
        transform: scale(1.1);
      }
    }

    &:hover { background-color: $navy-darker; }
  }

  .navbar-aside {

    float: right;

    a.btn.btn-primary { margin-top: 16px; }
  }

  .navbar-text {

    min-height: 64px;
    max-width: 240px;
    padding-top: 22px;
    margin: 0;
    color: #fff;
    letter-spacing: 0.05em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span.pt-icon-large.pt-icon-user {
      margin-left: 8px;    
      transition: transform 0.2s;      
    }


    &:hover {

      span.pt-icon-large.pt-icon-user {
        transform: scale(1.1);
        margin-left: 8px;
      }
    }
  }
}