.bt-offcanvas { font-size: 14px; }

// min 992px, Desktop to up
@media (min-width: $screen-md-min) {
  .bt-offcanvas {
    font-size: 12px;
    display: none;
  }

  .bt-offcanvas__title { display: none; }

  .bt-mega-menu {
    .dl-menuwrapper {
      li a {
        padding: 6px 16px;
        line-height: 16px;
      }

      li a:hover { background-color: $slate-light; }
    }

    .dl-menuwrapper li.dl-back:after,
    .dl-menuwrapper li > a:not(:only-child):after {
      line-height: 28px;
    }
  }

  .bt-offcanvas.--side-left {
    width: 400px;
    overflow: hidden;

    .bt-offcanvas__content {
      width: 110%;
      height: 350px;

      .dl-menuwrapper {
        width: 400px;
      }
    }
  }

  .bt-offcanvas__content {
    .dl-menuwrapper > .dl-menu { padding-bottom: 28px; }
  }
}

// max 991px, Phone to Tablet only
@media (max-width: $screen-sm-max) {
  .bt-offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1032;
    outline: 0;
    height: auto;
    min-height: auto;
    visibility: visible;
    transition: transform .25s;

    &.--side-left {
      left: 0;
      transform: translateX(-100%);
    }

    &.--side-right {
      right: 0;
      transform: translateX(100%);
    }
  }

  // iOS Tab Bar
  .bt-offcanvas__content {
    .dl-menuwrapper > .dl-menu {
      padding-bottom: 40px * 2;
    }
  }
}

.bt-offcanvas__content {
  background-color: #fff;
  height: 100vh;
  width: 400px;
  max-width: 85vw;
  overflow-x: hidden;
  overflow-y: scroll;
  // Make it smooth on iOS
  -webkit-overflow-scrolling: touch;
}

.bt-offcanvas__title {
  height: 56px;
  padding: 16px 16px 15px;
  border-bottom: 1px solid $slate;
}

.bt-offcanvas__list {
  ul { margin-bottom: 0; }

  li > a {
    display: block;
    padding: 10px 16px;
    color: $text-color;
    outline: none;
    text-decoration: none;
  }

  ul + ul  { margin-top: 32px; }
}

body.--offcanvas-left,
body.--offcanvas-right {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  .bt-navbar-mobile { z-index: 1019; }

  // min 768px
  @media (min-width: $screen-md-min) {
    .bt-offcanvas { display: none; }
  }

  // max 991px
  @media (max-width: $screen-sm-max) {
    .bt-mega-menu { display: block; }
  }
}

body.--offcanvas-left {
  .bt-offcanvas.--side-left { transform: translateX(0); }
}

body.--offcanvas-right {
  .bt-offcanvas.--side-right { transform: translateX(0); }
}

#dl-menu img.loader { display: none; }

#dl-menu.--loader {
  height: 100%;

  img.loader {
    position: relative;
    display: block;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .dl-menu { display: none; }
}
