//-----  Star Rating  -----
.bt-rating__base {
  width: 100px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background: transparent url('/images/star-rating-base.svg') 0 0 no-repeat;

  &.--small {
    width: 80px;
    height: 16px;
    background-size: cover;

    .bt-rating__fill {
      height: 16px;
      background-size: cover;
    }
  }
}
.bt-rating__fill {
  width: 0;
  height: 20px;
  display: block;
  position: absolute;
  background: transparent url('/images/star-rating-fill.svg') 0 0 no-repeat;

  &.--star-0 { width: 20% * 0; }
  &.--star-1 { width: 20% * 1; }
  &.--star-2 { width: 20% * 2; }
  &.--star-3 { width: 20% * 3; }
  &.--star-4 { width: 20% * 4; }
  &.--star-5 { width: 20% * 5; }

  &.--star-0-5 { width: 20% * 0.5; }
  &.--star-1-5 { width: 20% * 1.5; }
  &.--star-2-5 { width: 20% * 2.5; }
  &.--star-3-5 { width: 20% * 3.5; }
  &.--star-4-5 { width: 20% * 4.5; }
}
