.bt-seo__footer {
  color: $carbon-light;
  margin: 2em 0;

  h2 {
    font-size: 1em;
    font-weight: bold;
  }

  p,
  li {
    font-size: 0.8em;
  }

  ul {
    padding-left: 0;
    list-style-type: circle;
  }

  a { color: $carbon-dark; }
}
