extends ../_layouts/base.pug

block config
  - var bodyID = 'bt-index-category'
  - var bodyClass = 'bt-index-category bt-index-category'
  - var userLog = false

block head
  title Semua Kategori

block content
  main.container
    .row
      .col-lg-12
        .page-title
          h3.bt-typo-displaylarge Semua Kategori
      
      .col-lg-12
        +loop(28)
          .panel.panel-default
            .panel-heading
              .panel-title
                .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl0
                  .ais-hierarchical-menu--item
                    div
                      a.ais-hierarchical-menu--link(href='/')
                        h3.bt-typo-displaysmall {subCategory lv0}
                        h3.ais-hierarchical-menu--count (#)
            .panel-body
              .row
                +loop(4)
                  .col-sm-3
                    .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl1
                      .ais-hierarchical-menu--item
                        div
                          a.ais-hierarchical-menu--link(href='/')
                            | {subcategory lv1} 
                            span.ais-hierarchical-menu--count (#)
                        .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl2
                          .ais-hierarchical-menu--item
                            div
                              a.ais-hierarchical-menu--link(href='/')
                                | {subcategory lv2} 
                                span.ais-hierarchical-menu--count (#)
                        .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl2
                          .ais-hierarchical-menu--item
                            div
                              a.ais-hierarchical-menu--link(href='/')
                                | {subcategory lv2} 
                                span.ais-hierarchical-menu--count (#)
                            .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl3
                              .ais-hierarchical-menu--item
                                div
                                  a.ais-hierarchical-menu--link(href='/')
                                    | {subcategory lv3} 
                                    span.ais-hierarchical-menu--count (#)
                            .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl3
                              .ais-hierarchical-menu--item
                                div
                                  a.ais-hierarchical-menu--link(href='/')
                                    | {subcategory lv3} 
                                    span.ais-hierarchical-menu--count (#)
                            .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl3
                              .ais-hierarchical-menu--item
                                div
                                  a.ais-hierarchical-menu--link(href='/')
                                    | {subcategory lv3} 
                                    span.ais-hierarchical-menu--count (#)
                        .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl2
                          .ais-hierarchical-menu--item
                            div
                              a.ais-hierarchical-menu--link(href='/')
                                | {subcategory lv2} 
                                span.ais-hierarchical-menu--count (#)
                    .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl1
                      .ais-hierarchical-menu--item
                        div
                          a.ais-hierarchical-menu--link(href='/')
                            | {subcategory lv1} 
                            span.ais-hierarchical-menu--count (#)
                    .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl1
                      .ais-hierarchical-menu--item
                        div
                          a.ais-hierarchical-menu--link(href='/')
                            | {subcategory lv1} 
                            span.ais-hierarchical-menu--count (#)
                    .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl1
                      .ais-hierarchical-menu--item
                        div
                          a.ais-hierarchical-menu--link(href='/')
                            | {subcategory lv1} 
                            span.ais-hierarchical-menu--count (#)
                    .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl1
                      .ais-hierarchical-menu--item
                        div
                          a.ais-hierarchical-menu--link(href='/')
                            | {subcategory lv1} 
                            span.ais-hierarchical-menu--count (#)
