//- Category Filter
#categoryFilter.bt-filter
  div
    .ais-root.ais-hierarchical-menu
      .ais-hierarchical-menu--header.ais-header
        p.bt-typo-heading.bt-filter-title Kategori
      .ais-body.ais-hierarchical-menu--body
        .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl0
          .ais-hierarchical-menu--item.ais-hierarchical-menu--item__active
            div
              a.ais-hierarchical-menu--link(href='/')
                | Aksesoris Gadget & Komputer 
                span.ais-hierarchical-menu--count 277
            .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl1
              .ais-hierarchical-menu--item.ais-hierarchical-menu--item__active
                div
                  a.ais-hierarchical-menu--link(href='/')
                    | Cable / Connector 
                    span.ais-hierarchical-menu--count 277
                .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl2
                  .ais-hierarchical-menu--item.ais-hierarchical-menu--item__active
                    div
                      a.ais-hierarchical-menu--link(href='/')
                        | Cable / Connector Audio 
                        span.ais-hierarchical-menu--count 277
                    .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl3
                      .ais-hierarchical-menu--item
                        div
                          a.ais-hierarchical-menu--link(href='/')
                            | Cable / Connector Analog 
                            span.ais-hierarchical-menu--count 232
                      .ais-hierarchical-menu--item(style='')
                        div
                          a.ais-hierarchical-menu--link(href='/')
                            | Cable / Connector Optical Audio 
                            span.ais-hierarchical-menu--count 11
                      .ais-hierarchical-menu--item.ais-hierarchical-menu--item__active
                        div
                          a.ais-hierarchical-menu--link(href='/')
                            | Cable / Connector Rca 
                            span.ais-hierarchical-menu--count 34
          .ais-hierarchical-menu--item
            div
              a.ais-hierarchical-menu--link(href='/')
                | Camera and Video 
                span.ais-hierarchical-menu--count 4,593
          .ais-hierarchical-menu--item
            div
              a.ais-hierarchical-menu--link(href='/')
                | Fashion & Busana Pria 
                span.ais-hierarchical-menu--count 35,266
          .ais-hierarchical-menu--item
            div
              a.ais-hierarchical-menu--link(href='/')
                | Fashion & Busana Wanita 
                span.ais-hierarchical-menu--count 12,090
          .ais-hierarchical-menu--item
            div
              a.ais-hierarchical-menu--link(href='/')
                | Furnitur & Perlengkapan Rumah Tangga 
                span.ais-hierarchical-menu--count 8,611
          .ais-hierarchical-menu--item
            div
              a.ais-hierarchical-menu--link(href='/')
                | Kesehatan dan Kecantikan 
                span.ais-hierarchical-menu--count 10,766
          .ais-hierarchical-menu--item
            div
              a.ais-hierarchical-menu--link(href='/')
                | Peralatan Dapur & Rumah Tangga 
                span.ais-hierarchical-menu--count 7,435
          .ais-hierarchical-menu--item
            div
              a.ais-hierarchical-menu--link(href='/')
                | Perkakas & Otomotif 
                span.ais-hierarchical-menu--count 16,907
          .ais-hierarchical-menu--item
            div
              a.ais-hierarchical-menu--link(href='/')
                | Perlengkapan Bayi & Anak 
                span.ais-hierarchical-menu--count 6,888
          .ais-hierarchical-menu--item
            div
              a.ais-hierarchical-menu--link(href='/')
                | Printer, Scanner & Supplies 
                span.ais-hierarchical-menu--count 4,373
        
#priceFilter.bt-filter
  div
    .ais-root.ais-price-ranges
      .ais-price-ranges--header.ais-header
        p.bt-typo-heading.bt-filter-title Harga
      .ais-body.ais-price-ranges--body
        div
          .ais-price-ranges--list
            .ais-price-ranges--item
              a.ais-price-ranges--link(href='/')
                div
                  | ≤
                  | 3,750
            .ais-price-ranges--item
              a.ais-price-ranges--link(href='/')
                div
                  | Rp 3,750
                  | -
                  | 174,400
            .ais-price-ranges--item
              a.ais-price-ranges--link(href='/')
                div
                  | Rp 174,400
                  | -
                  | 345,000
            .ais-price-ranges--item
              a.ais-price-ranges--link(href='/')
                div
                  | Rp 345,000
                  | -
                  | 515,600
            .ais-price-ranges--item
              a.ais-price-ranges--link(href='/')
                div
                  | Rp 515,600
                  | -
                  | 142,010,400
            .ais-price-ranges--item
              a.ais-price-ranges--link(href='/')
                div
                  | Rp 142,010,400
                  | -
                  | 283,505,200
            .ais-price-ranges--item
              a.ais-price-ranges--link(href='/')
                div
                  | ≥
                  | Rp 283,505,200
          form.ais-price-ranges--form
            label.ais-price-ranges--label.input-group
              span.ais-price-ranges--currency.input-group-addon Rp  
              input.ais-price-ranges--input.form-control(type='number' placeholder='Dari')
            span.ais-price-ranges--separator
            label.ais-price-ranges--label.input-group
              span.ais-price-ranges--currency.input-group-addon Rp  
              input.ais-price-ranges--input.form-control(type='number' placeholder='Hingga')
            button.btn.btn-default.ais-price-ranges--button(type='submit') Kirim

#brandFilter.bt-filter
  p.bt-typo-heading.bt-filter-title
    | Merek
  .bt-filter-content
    input.form-control(type='search', placeholder='Cari Merek...')
    #list-brand.list-unstyled.bt-list-overflow
      div
        .ais-root.ais-refinement-list
          .ais-body.ais-refinement-list--body
            .ais-refinement-list--list
              .ais-refinement-list--item
                div
                  label.ais-refinement-list--label
                    input.ais-refinement-list--checkbox(type='checkbox', value='ORDINAL')
                    | 		      ORDINAL
                    span.ais-refinement-list--count 19,552
              .ais-refinement-list--item
                div
                  label.ais-refinement-list--label
                    input.ais-refinement-list--checkbox(type='checkbox', value='GUDANG FASHION')
                    | 		      GUDANG FASHION
                    span.ais-refinement-list--count 2,578
              .ais-refinement-list--item
                div
                  label.ais-refinement-list--label
                    input.ais-refinement-list--checkbox(type='checkbox', value='HP')
                    | 		      HP
                    span.ais-refinement-list--count 1,840
              .ais-refinement-list--item
                div
                  label.ais-refinement-list--label
                    input.ais-refinement-list--checkbox(type='checkbox', value='OTOMOBIL')
                    | 		      OTOMOBIL
                    span.ais-refinement-list--count 1,535
              .ais-refinement-list--item
                div
                  label.ais-refinement-list--label
                    input.ais-refinement-list--checkbox(type='checkbox', value='SAMSUNG')
                    | 		      SAMSUNG
                    span.ais-refinement-list--count 1,525
              .ais-refinement-list--item
                div
                  label.ais-refinement-list--label
                    input.ais-refinement-list--checkbox(type='checkbox', value='ASUS')
                    | 		      ASUS
                    span.ais-refinement-list--count 1,175
              .ais-refinement-list--item
                div
                  label.ais-refinement-list--label
                    input.ais-refinement-list--checkbox(type='checkbox', value='LENOVO')
                    | 		      LENOVO
                    span.ais-refinement-list--count 1,112
              .ais-refinement-list--item
                div
                  label.ais-refinement-list--label
                    input.ais-refinement-list--checkbox(type='checkbox', value='SONY')
                    | 		      SONY
                    span.ais-refinement-list--count 1,043
              .ais-refinement-list--item
                div
                  label.ais-refinement-list--label
                    input.ais-refinement-list--checkbox(type='checkbox', value='BASEUS')
                    | 		      BASEUS
                    span.ais-refinement-list--count 1,034
              .ais-refinement-list--item
                div
                  label.ais-refinement-list--label
                    input.ais-refinement-list--checkbox(type='checkbox', value='TITANIUM RING')
                    | 		      TITANIUM RING
                    span.ais-refinement-list--count 981      
        
