mixin icon(type, size, name, customClass)
  - customClass = customClass || ''

  if type == 'genesis'
    if size == 'large'
      span(class="pt-icon-large pt-icon-" + name + " " + customClass)&attributes(attributes)
    else if size == 'standard'
      span(class="pt-icon-standard pt-icon-" + name + " " + customClass)&attributes(attributes)

mixin iconGenesis(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.size = spec.size || 'standard'
  - spec.name = spec.name || ''

  +icon('genesis', spec.size, spec.name, spec.__class)&attributes(attributes)
