extends ../_layouts/base-mini.pug

block config
  - var baseUrl = '../'
  - var bodyClass = 'bt-register --static-nav'

block head
  title Form Register

block content
  main.container
    //- Alert
    .container-fluid
      .row
        .alert.alert-warning
          button.close
          span This is a warning, use it sparingly, and respectfully

    //- Registration
    .row
      .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
        h1.text-center.bt-typo-displaysmall Register Akun
        p.text-center Sudah memiliki akun Bhinneka? #[a(href="/sign-in") Login]
        //- Registration Form
        .panel.panel-default.bt-card--secondary
          .panel-heading
            .bt-card__logo
              img(src="/images/logo-mark-red-24px.svg", alt="Logo")
              em Account
          .panel-body
            form(autocomplete="off")
              .form-group
                label Gender
                select.form-control
                  option(value="1" selected) Pria
                  option(value="2") Wanita
              .form-group
                label(for="firstName") Nama Depan
                input.form-control(
                    type='text'
                    id='firstName'
                    placeholder=''
                    required
                )
              .form-group
                label(for="lastName") Nama Belakang
                input.form-control(
                    type='text'
                    id='lastName'
                    placeholder=''
                    required
                )
              .form-group
                label(for="bt-register__date") Tanggal Lahir
                input#bt-register__date.form-control(
                  type="text"
                  autocomplete="false"
                  required
                )
              .form-group
                label(for="email") Email
                input.form-control(
                  type='email'
                  id='email'
                  autocomplete="false"
                  required
                )
              //- prevent Chrome autofill before password field
              .form-group.hidden
                input.hidden(type="text")
              .form-group
                label(for="password") Password
                input.form-control(
                  type='password'
                  id='password'
                  autocomplete="false"
                  required
                )
                a.bt-toggle--password.pull-right(
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tampilkan password"
                  container='form-group'
                  href="#"
                  )
                  span.pt-icon-standard.pt-icon-eye-open
                small.help-block Minimum 6 karakter alfanumerik
              .form-group
                label(for="newPassword") Konfirmasi Password
                input.form-control(
                  type='password'
                  id='newPassword'
                  autocomplete="false"
                  required
                )
                small.help-block Minimum 6 karakter alfanumerik
              .form-group
                button.btn.btn-primary.btn-block.bt-card__button(
                  label=
                  type='button'
                ) Register
        p.text-center.
            Dengan mengklik tombol “Register”, maka Anda setuju dengan #[a(href="/") Syarat & Ketentuan] kami.

        //- Registration Success
        h1.text-center.bt-typo-displaysmall Satu langkah lagi …
        .panel.panel-default.bt-card--secondary
          .panel-heading
            .bt-card__logo
              img(src="/images/logo-mark-red-24px.svg", alt="Logo")
              em Account
          .panel-body.text-center
            figure.bt-figure.--center
              span.bt-figure__icon.pt-icon-large.pt-icon-confirm
            h2.bt-typo-displaysmall Kami sudah mengirimkan email verifikasi akun Anda
            pre alamat.email@user.com
            p Jangan lupa cek folder spam.
          ul.list-group
            li.list-group-item Registrasi akun Bhinneka dengan email
            li.list-group-item Verifikasi email dengan link
            li.list-group-item Berbelanja di Bhinneka
