extends ../_layouts/base.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyId = 'bt-catalog'
  - var bodyClass = 'bt-catalog --loader-state'
  - var promoQuery = false
  - var Query = false
  - var brandQuery = true
  - var gridView = false

block head
  title Daftar Produk

block content
  main.container-fluid

    .row
      if promoQuery
        .bt-catalog-header
      else
        br.hidden

      if Query
        .bt-catalog-header
          p.bt-typo-displaylarge
      else
        br.hidden

      if brandQuery
        .bt-catalog-header
          .bt-store-logo
            img(src='/images/image-product-loader.svg')
          p.bt-typo-displaylarge
      else
        br.hidden

    .row
      .bt-catalog-breadcrumb.col-sm-12
        ol.breadcrumb
        .bt-total-shown-product.pull-right.text-overflow.hidden-xs

    .row
      aside.bt-aside-filter.theiaStickySidebar.col-lg-2.visible-lg
    
      main.bt-product-content.--grid-view.theiaStickySidebar.col-lg-10

        .row
          .bt-catalog-info.col-xs-12.col-lg-12
            .row.bt-catalog-menu
              .col-xs-6.bt-filter-opt.hidden-lg
                
              .col-lg-12.col-xs-6.bt-catalog-opt


        .row.no-gutters
          +loop(4)
            .col-lg-3.col-md-4.col-sm-6.bt-product-list
              .row
                .col-md-9.bt-product-main-info
                  .bt-product-list-image
                    img(src='/images/image-product-loader_grey.svg')

                  .bt-product-list-info
                    .bt-typo-heading.bt-product-list-title
                    .bt-typo-body.bt-product-list-stock
                      p.stockAvailable
                      p.lowStock.hidden
                      p.outStock.hidden
                    p.bt-typo-body.bt-product-list-spec 
                .col-md-3.col-xs-12.bt-product-list-price
                  p.bt-typo-caption.bt-product-normalPrice.text-muted
                  p.bt-typo-heading.bt-product-webPrice
                  button.btn.btn-lg.btn-block.btn-warning Beli Sekarang
                  
                button.btn.btn-sm.btn-warning.bt-button-addCart

        .row
          .col-lg-12

  +back-to-top

  .bt-filter-modal.modal.fade.in(tabindex='-1' role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          span.pt-icon-large.pt-icon-cross.pull-right(data-dismiss='modal')
          h4.bt-typo-displaysmall.modal-title Filter (#)
        .modal-body


          
