extends ../_layouts/base.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-catalog'
  - var promoQuery = true
  - var Query = false
  - var brandQuery = false
  - var gridView = false

block head
  title Daftar Produk

block content
  main.container-fluid

    .row
      if promoQuery
        .bt-catalog-header
          img(src='/images/dummy/banner-1.jpg')
      else
        br.hidden

      if Query
        .bt-catalog-header
          p.bt-typo-displaylarge Menampilkan hasil untuk &ldquo;{searchQuery}&rdquo; / {categoryName}
      else
        br.hidden

      if brandQuery
        .bt-catalog-header
          .bt-store-logo
            img(src='http://placehold.it/64x64')
          p.bt-typo-displaylarge {brandName}
      else
        br.hidden

    .row
      .bt-catalog-breadcrumb.col-sm-12
        ol.breadcrumb
          li
            a.breadcrumb-item.--more(href="#")
              span.pt-icon-standard.pt-icon-more
            ol
              li: a.bt-breadcrumb-collapsed(href="#") Kategori
              li: a.bt-breadcrumb-collapsed(href="#") Kategori
          li: a.breadcrumb-item(href="#") Kategori
          li: a.breadcrumb-item(href="#") Kategori
          li: span.breadcrumb-item Kategori
        .bt-total-shown-product.pull-right.text-overflow.hidden-xs 24 dari {totalProduk}

    .row
      aside.bt-aside-filter.theiaStickySidebar.col-lg-2.visible-lg
        include ../_helpers/instantsearch-algolia.pug
        //- .bt-filter#categoryFilter
        //-   p.bt-typo-heading.bt-filter-title Kategori
        //-   .bt-filter-content
        //-     ul.list-unstyled
        //-       li: a(href='#') {parentCategory}
        //-       li: a(href='#') {parentCategory}
        //-         ul.list-unstyled
        //-           li: a(href='#') {childCategory}
        //-           li: a(href='#') {childCategory}
        //-           li: a(href='#') {childCategory}
        //-       li: a(href='#') {parentCategory}
        //-       li: a(href='#') {parentCategory}
        //-       li: a(href='#') {parentCategory}
        //- 
        //- .bt-filter#priceFilter
        //-   p.bt-typo-heading.bt-filter-title Harga
        //-     btn.btn-link.btn-sm.pull-right.bt-clear-filter Hapus
        //-   .bt-filter-content
        //-     form
        //-       .form-group
        //-         .input-group#lowestPrice
        //-           label.input-group-addon Rp
        //-           input(
        //-             type='number'
        //-             class='form-control'
        //-             placeholder='Dari'
        //-             max='9999999999'
        //-             maxlength='9999999999'
        //-           )
        //-       .form-group
        //-         .input-group#highestPrice
        //-           label.input-group-addon Rp
        //-           input(
        //-             type='number'
        //-             class='form-control'
        //-             placeholder='Hingga'
        //-             max='9999999999'
        //-             maxlength='9999999999'
        //-           )
        //- 
        //- .bt-filter#brandFilter
        //-   p.bt-typo-heading.bt-filter-title Merek
        //-     btn.btn-link.btn-sm.pull-right.bt-clear-filter Hapus
        //-   .bt-filter-content.bt-list-overflow
        //-     input.form-control(
        //-       type='search'
        //-       placeholder='Cari Merek...'
        //-       onkeyup='myFuction()'
        //-       )
        //-     ul.list-unstyled#list-brand
        //-       +loop(5)
        //-         li.checkbox
        //-           label
        //-             input(
        //-               type='checkbox'
        //-               id='brand1'
        //-               value='value1'
        //-               )
        //-             | {brandName} {#}
        
        hr            
        //- button.btn.btn-link.--danger Hapus Semua Filter

      main.bt-product-content.--grid-view.theiaStickySidebar.col-lg-10
        .row
          .bt-catalog-info.col-xs-12.col-lg-12
            .bt-catalog-menu
              .bt-filter-opt.hidden-lg
                a.btn.btn-block.btn-default.bt-filter-button(
                  data-toggle='modal'
                  data-target='.bt-filter-modal'
                  )
                  span.pt-icon.pt-icon-list-detail-view
                  span Filter (#)
                  
              .bt-catalog-opt
                label.control-label.visible-lg-inline(for='sortCatalog') Urutkan:
                select#sortCatalog.form-control.bt-sort-button
                  option(value='0') Harga Terendah
                  option(value='1') Harga Tertinggi
                  option(value='2') Rating Tertinggi
                  option(value='3') Rating Terendah
          
                #viewToggle.btn-group.visible-lg-inline-block.bt-catalog-view(
                  role='group'
                  data-toggle='buttons'
                  )
                  label.btn.btn-default.active
                    input(
                    type='radio'
                    name='viewType'
                    id='grid'
                    value='grid'
                    checked
                    )
                    span.pt-icon.pt-icon-grid-view
                  label.btn.btn-default
                    input(
                    type='radio'
                    name='viewType'
                    id='list'
                    value='list'
                    )
                    span.pt-icon.pt-icon-list

        .row.no-gutters
          +loop(24)
            .col-lg-3.col-md-4.col-sm-6.bt-product-list
              .row
                .col-md-9.bt-product-main-info
                  .bt-product-list-image
                    a(href='/product')
                      img(src='http://placehold.it/128x128')

                  .bt-product-list-info
                    a.bt-typo-heading.bt-product-list-title(href='/product') HP Monitor LED ProDisplay-P202-K7X27AA Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem
                    .bt-typo-body.bt-product-list-stock
                      p.stockAvailable Stok Tersedia
                      p.lowStock.hidden Tersisa # Unit Lagi
                      p.outStock.hidden Habis
                    p.bt-typo-body.bt-product-list-spec Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

                .col-md-3.col-xs-12.bt-product-list-price
                  p.bt-typo-caption.bt-product-normalPrice.text-muted #[del Rp 1.000.000]
                  p.bt-typo-heading.bt-product-webPrice Rp 999.999
                  button.btn.btn-lg.btn-block.btn-warning Beli Sekarang
                  
                button.btn.btn-sm.btn-warning.bt-button-addCart
                  img(src='/images/ic_add_cart_black_24px.svg')

          .row
            .col-lg-12
              nav.bt-product-pagination
                ul.pager
                  li 
                    button.btn.btn-default
                      span.pt-icon-large.pt-icon-chevron-left
                  li: input.form-control(
                        type='number'
                        min='1'
                        value='2'
                      )
                  li dari 365
                  li 
                    button.btn.btn-default
                      span.pt-icon-large.pt-icon-chevron-right

  +back-to-top

  .bt-filter-modal.modal.fade.in(tabindex='-1' role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          span.pt-icon-large.pt-icon-cross.pull-right(data-dismiss='modal')
          h4.bt-typo-displaysmall.modal-title Filter (#)
        .modal-body
            .bt-filter#categoryFilter
              p.bt-typo-heading.bt-filter-title Kategori
              .bt-filter-content
                ul.list-unstyled
                  li: a(href='#') {parentCategory}
                  li: a(href='#') {parentCategory}
                    ul.list-unstyled
                      li: a(href='#') {childCategory}
                      li: a(href='#') {childCategory}
                      li: a(href='#') {childCategory}
                  li: a(href='#') {parentCategory}
                  li: a(href='#') {parentCategory}
                  li: a(href='#') {parentCategory}
                  
            .bt-filter#priceFilter
              p.bt-typo-heading.bt-filter-title Harga
                btn.btn-link.btn-sm.pull-right.bt-clear-filter Hapus
              .bt-filter-content
                form
                  .form-group
                    .input-group#lowestPrice
                      label.input-group-addon Rp
                      input(
                        type='number'
                        class='form-control'
                        placeholder='Dari'
                        max='9999999999'
                        maxlength='9999999999'
                      )
                  .form-group
                    .input-group#highestPrice
                      label.input-group-addon Rp
                      input(
                        type='number'
                        class='form-control'
                        placeholder='Hingga'
                        max='9999999999'
                        maxlength='9999999999'
                      )

            .bt-filter#brandFilter
              p.bt-typo-heading.bt-filter-title Merek
                btn.btn-link.btn-sm.pull-right.bt-clear-filter Hapus
              .bt-filter-content.bt-list-overflow
                input.form-control(
                  type='search'
                  placeholder='Cari Merek...'
                  onkeyup='myFuction()'
                  )
                ul.list-unstyled#list-brand
                  +loop(5)
                    li.checkbox
                      label
                        input(
                          type='checkbox'
                          id='brand1'
                          value='value1'
                          )
                        | {brandName} {#}

          
