extends ../_layouts/base.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyId = 'bt-example'
  - var bodyClass = ''
  - var user = { login: false }
  - var cart_counter = ''

block head
  title Example

block content
  .container
    h1 Example

    .testcardcc
    form#testformcc
      input(type="text" name="number")
      input(type="text" name="name")
      input(type="text" name="expiry")
      input(type="text" name="cvc")

    .panel.panel-default
      .panel-heading
        h2.panel-title Genesis Icon
      .panel-body
        span.pt-icon-large.pt-icon-add.text-success
        span.pt-icon-standard.pt-icon-add
        br
        +iconGenesis({name: 'user'})(data-foo="bar")
        +icon('genesis', 'large', 'user', 'cok')(data-foo="bar")

    .panel.panel-default
      .panel-body
        p.text-danger.
          Lorem #[br] ipsum #[a(href="/") Link]

    form.form-horizontal
      .form-group
        label.control-label.col-lg-3(for='fullName') Nama Lengkap
        .col-lg-9
          input.form-control(
            type='input'
            id='fullName'
            placeholder='Nama lengkap'
            )


    button.btn.btn-default(type="button", data-toggle="tooltip", data-placement="left", title="Tooltip on left") Tooltip on left

    form
      .input-group
        input.form-control(
          type='password'
          name='Password'
          placeholder='Password'
          required
        )
        span.input-group-addon test

    .bt-login__social
      h4.text-center.bt-typo-displaysmall Atau

    .bt-login__social-facebook
      a.btn.btn-primary.btn-lg.btn-block(href="/") Register dengan Facebook
      p.text-center Kami tidak akan posting Facebook tanpa izin Anda.

    .bt-login__social-google
      a.btn.btn-default.btn-lg.btn-block(href="/") Register dengan
    +link({__class: "btn btn-info", text: "text-danger"})
      span text-success

    form#testform
      input(type="text" name="number")
      input(type="text" name="first-name")
      input(type="text" name="last-name")
      input(type="text" name="expiry")
      input(type="text" name="cvc")

  +seo-block
