extends ../_layouts/base.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-error error-404'
  
block head
  title Halaman tidak Ditemukan

block content
  main.container
    .row
      .col-lg-12
        .row.cart-empty
          img(src='/images/im_404_128px.svg')
          h2.bt-typo-displaymedium Halaman tidak Ditemukan
          p Kami tidak dapat menemukan halaman yang anda cari
          a.btn.btn-hollow(href='/help') Bantuan
          a.btn.btn-primary(href='/') Beranda