extends ../_layouts/base.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-error error-unknown'
  
block head
  title Halaman tidak Ditemukan

block content
  main.container
    .row
      .col-lg-12
        .row.cart-empty
          img(src='/images/im_500_128px.svg')
          h1.bt-typo-displaylarge Oops!
          h3.bt-typo-displaysmall Terjadi kesalahan pada sistem kami 🙁
          p.bt-typo-mono Error code: #[code 500]