extends ../_atomic/4_templates/static.pug

block config
  - var bodyID = 'bt-static'
  - var bodyClass = 'bt-static static-index'
  - var userLog = false

block head
  title Error Pages

block page_title
  h1.bt-typo-displaylarge Error Pages

block page_subtitle
  h2.bt-typo-displaysmall It happens, we’re only human

block main
  .row
    .col-lg-8.col-lg-offset-2
      .panel.panel-default
        .panel-heading Ad-hoc Navigation
        ul.list-group
          li.list-group-item #[a(href='/error/404.html') 404]
          li.list-group-item #[a(href='/error/500.html') 500]