extends _layouts/base

block config
  - var baseUrl = '../'
  - var bodyId = 'bt-home'
  - var bodyClass = 'bt-page --loader-state'
  - var user = { login: false, firstname: 'Sheldon' }
  - var cart_counter = '8'

block head
  title Homepage

block content
  .js-carousel__home.container-fluid.bt-home__slider
    - var n = 1;
    while n <= 1
      .bt-home__slide
        .bt-home__slide-banner
          img(src="/images/dummy/banner-"+n+".jpg", alt="Banner-"+n)
      - n++

  main.container-fluid

    .bt-home__banner-carousel
      span.bt-typo-small.bt-editors__pick
      h3.bt-typo-displaylarge.bt-title__carousel
      .bt-home-section
        .bt-home-section__banner.visible-md.visible-lg
          a(href='/product-list')
            img(src="/images/banner-category-1.jpg")
        .bt-home-section__carousel
          .bt-product__section-carousel.bt-scrollbox
            +loop(7)
              .item
                a.box(href="/")
                  img(src="/images/dummy/dummy-120.jpg")
                  p.bt-typo-caption.bt-slick-product-title(href='/product')
                  p.bt-typo-caption.text-muted.discount-price
                  p.bt-typo-body.price

    .bt-home__brand-carousel
      h3.bt-typo-displaylarge.bt-title__carousel
      .bt-brand__carousel-wrapper
        +loop(12)
          .bt-brand-section
            a.bt-brand-logo__container(href='/product-list')
              img(src='http://placehold.it/80x80.jpg')

    .bt-home__recommendation-carousel
      h3.bt-typo-displaylarge.bt-title__carousel
      .bt-recommendation__wrapper
        .bt-recommendation__carousel
          .bt-product__section-carousel.bt-scrollbox
            +loop(7)
              .item
                a.box(href="/")
                  img(src="/images/dummy/dummy-120.jpg")
                  p.bt-typo-caption.bt-slick-product-title(href='/product')
                  p.bt-typo-caption.text-muted.discount-price
                  p.bt-typo-body.price
