extends _layouts/base

block config
  - var baseUrl = '../'
  - var bodyId = 'bt-home'
  - var bodyClass = 'bt-page'
  - var user = { login: false, firstname: 'Sheldon' }
  - var cart_counter = '8'

block head
  title Homepage

block content
  .js-carousel__home.container-fluid.bt-home__slider
    - var n = 1;
    while n <= 4
      .bt-home__slide
        .bt-home__slide-banner
          img(src="/images/dummy/banner-"+n+".jpg", alt="Banner-"+n)
      - n++

  main.container-fluid
    
    .bt-home__banner-carousel
      .bt-typo-small.bt-editors__pick Editor's picks
      h3.bt-typo-displaylarge.bt-title__carousel Guitar Parade
      .bt-home-section
        .bt-home-section__banner.visible-md.visible-lg
          a(href='/product-list')
            img(src="/images/banner-category-1.jpg")
        .bt-home-section__carousel
          .bt-carousel__navs
            button.bt-carousel__nav-prev.js-nav__editorspick
              span.pt-icon-large.pt-icon-chevron-left
            button.bt-carousel__nav-next.js-nav__editorspick
              span.pt-icon-large.pt-icon-chevron-right
          .bt-carousel__items.js-carousel__editorspick
            +loop(12)
              .item
                a.box(href="/")
                  img(src="/images/dummy/dummy-120.jpg")
                  p.bt-typo-caption.bt-slick-product-title(href='/product') HP Monitor LED ProDisplay-P202-K7X27AA
                  p.bt-typo-caption.text-muted #[del Rp 1.000.000]
                  p.bt-typo-body Rp 999.999
      .bt-carousel__more.hidden-md.hidden-lg
        a.btn.btn-default(href='/product-list') Selengkapnya
    
    .bt-home__brand-carousel
      h3.bt-typo-displaylarge.bt-title__carousel Featured Brands
      .bt-brand__carousel-wrapper
        +loop(12)
          .bt-brand-section
            a.bt-brand-logo__container(href='/product-list')
              img(src='http://placehold.it/80x80.jpg')
              
    .bt-home__recommendation-carousel
      h3.bt-typo-displaylarge.bt-title__carousel Rekomendasi Produk
      .bt-recommendation__wrapper
        .bt-recommendation__carousel
          .bt-carousel__navs
            button.bt-carousel__nav-prev.js-nav__recommendation
              span.pt-icon-large.pt-icon-chevron-left
            button.bt-carousel__nav-next.js-nav__recommendation
              span.pt-icon-large.pt-icon-chevron-right
          .bt-carousel__items.js-carousel__recommendation
            +loop(12)
              .item
                a.box(href="/")
                  img(src="/images/dummy/dummy-120.jpg")
                  p.bt-typo-caption.bt-slick-product-title(href='/product') HP Monitor LED ProDisplay-P202-K7X27AA
                  p.bt-typo-caption.text-muted #[del Rp 1.000.000]
                  p.bt-typo-body Rp 999.999

      
    .bt-home__banner-carousel
      h3.bt-typo-displaylarge.bt-title__carousel Screen Projector
      .bt-home-section
        .bt-home-section__banner.visible-md.visible-lg
          a(href='/product-list')
            img(src="/images/banner-category-2.jpg")
        .bt-home-section__carousel
          .bt-carousel__navs
            button.bt-carousel__nav-prev.js-nav__generic
              span.pt-icon-large.pt-icon-chevron-left
            button.bt-carousel__nav-next.js-nav__generic
              span.pt-icon-large.pt-icon-chevron-right
          .bt-carousel__items.js-carousel__generic
            +loop(12)
              .item
                a.box(href="/")
                  img(src="/images/dummy/dummy-120.jpg")
                  p.bt-typo-caption.bt-slick-product-title(href='/product') HP Monitor LED ProDisplay-P202-K7X27AA
                  p.bt-typo-caption.text-muted #[del Rp 1.000.000]
                  p.bt-typo-body Rp 999.999
      .bt-carousel__more.hidden-md.hidden-lg
        a.btn.btn-default(href='/product-list') Selengkapnya
