extends ../_layouts/base-mini.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyClass = 'bt-sign--in'

block head
  title Cart

block head
  title Login

block content
  main.container
    //- Alert
    .container-fluid
      .row
        .alert.alert-warning
          button.close
          span This is a warning, use it sparingly, and respectfully

    //- Login Form
    .row
      .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
        h1.text-center.bt-typo-displaysmall Login

        .panel.panel-default.bt-card--secondary
          .panel-heading
            .bt-card__logo
              img(src="/images/logo-mark-red-24px.svg", alt="Logo")
              em Account
          .panel-body
            form(autocomplete="off")
              .form-group
                input.form-control(
                    type='email'
                    id='email'
                    placeholder='Email'
                    required
                )
              .form-group
                input.form-control(
                  type='password'
                  id='password'
                  placeholder='Password'
                  required
                )
                a.bt-toggle--password.pull-right(
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Show"
                  container='form-group'
                  href="#"
                  )
                  span.pt-icon-standard.pt-icon-eye-open
              span.help-block #[a(href="/") Lupa Password?]
              .form-group
                button.btn.btn-primary.btn-block.bt-card__button(
                  label=
                  type='button'
                ) Login
              .checkbox
                label
                  input(type='checkbox', checked)
                  | Tetap Login
        p.text-center.
          Belum punya akun Bhinneka? #[a(href="/register") Register]

    //- Reset Password
    .row
      .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
        h1.text-center.bt-typo-displaysmall Forget Password

        .panel.panel-default.bt-card--secondary
          .panel-heading
            .bt-card__logo
              img(src="/images/logo-mark-red-24px.svg", alt="Logo")
              em Account
          .panel-body
            form(autocomplete="off")
              .form-group
                input.form-control(
                    type='email'
                    id='email'
                    placeholder='Email'
                    required
                )
              .form-group
                button.btn.btn-primary.btn-block.bt-card__button(
                  label=
                  type='button'
                ) Kirim Email
        p.text-center.
          Kami akan mengirimkan email dengan link khusus untuk mengganti password Anda.

    //- Reset Password Loading
    .row
      .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
        h1.text-center.bt-typo-displaysmall Forget Password

        .panel.panel-default.bt-card--secondary
          .panel-heading
            .bt-card__logo
              img(src="/images/logo-mark-red-24px.svg", alt="Logo")
              em Account
          .panel-body
            form(autocomplete="off")
              .form-group
                input.form-control(
                    type='email'
                    id='email'
                    placeholder='Email'
                    required
                )
              .form-group
                button.btn.btn-success.btn-block.bt-card__button(
                  type='button'
                  disabled
                ) Loading …

        p.text-center.
          Kami akan mengirimkan email dengan link khusus untuk mengganti password Anda.

    //- Reset Password Success
    .row
      .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
        h1.text-center.bt-typo-displaysmall Satu langkah lagi …
        .panel.panel-default.bt-card--secondary
          .panel-heading
            .bt-card__logo
              img(src="/images/logo-mark-red-24px.svg", alt="Logo")
              em Account
          .panel-body.text-center
            figure.bt-figure.--center
              span.bt-figure__icon.pt-icon-large.pt-icon-confirm
            h2.bt-typo-displaysmall Kami sudah mengirimkan email untuk reset password
            pre alamat.email@user.com
            p Jangan lupa cek folder spam.

    //- New Password Form
    .row
      .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
        h1.text-center.bt-typo-displaysmall Password Baru

        .panel.panel-default.bt-card--secondary
          .panel-heading
            .bt-card__logo
              img(src="/images/logo-mark-red-24px.svg", alt="Logo")
              em Account
          .panel-body
            form.form(autocomplete="off")
              .form-group
                label(for= 'newPassword') Password Baru
                input.form-control(
                  type='password'
                  id='newPassword'
                  required
                )
                a.bt-toggle--password.pull-right(
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tampilkan password"
                  container='form-group'
                  href="#"
                  )
                  span.pt-icon-standard.pt-icon-eye-open
                span.help-block.bt-help-block {{This is a password rules helper copy}}
              .form-group
                label(
                  for= 'newPasswordConfirm'
                  ) Konfirmasi Password Baru
                input.form-control(
                    type='password'
                    id='newPasswordConfirm'
                    placeholder=''
                    required
                )
              .form-group
                button.btn.btn-default.btn-block.bt-card__button(
                  type='button'
                ) Reset Password
