extends ../../_layouts/base-mini.pug

block config
  - var bodyId = 'bt-order-last-step'
  - var bodyClass = 'bt-page-payment'
  - var userLog = false

block head
  title Pembayaran - Terima Kasih

block content
  .bt-page-header
    .container
      .row
        .col-sm-7.col-md-8.bt-page-title
          block page_title
        .col-sm-5.col-md-4.bt-page-header__illustration.text-center
          block illustration


  main.container
    .row
      .col-sm-7.col-md-8.bt-final-checkout__main-col
        block main_left
      .col-sm-5.col-md-4
        block main_right
        .panel.panel-default
          .panel-body
            p.bt-typo-subheading.text-uppercase Ada Kesulitan Dengan Transaksi?
            p.bt-typo-displaymedium 021 2929 2828
