extends ../../_layouts/base-simple.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership'

block content
  .bt-page-header
    .container
      //----- Subheader -----//
      .col-lg-12.bt-page-title.text-center
        block page_title
        block page_subtitle

  main.container
    .alert.alert-info.alert-dismissable(role='alert') Komponen ini memakai #[code alert] standar Bootstrap dengan class modifier: #[code alert-*]
      button.close(
        data-dismiss='alert'
        aria-label='Close'
        ) #[span.pt-icon-standard.pt-icon-cross]
    .row
      //----- Sidebar -----//
      aside.col-md-4
          #subNav.bt-subnav.list-group
            .list-group-item.bt-list-group-header
              a.btn.btn-primary.bt-btn-subnav.hidden-md.hidden-lg(
                data-toggle='collapse',
                data-parent='#subNav',
                href='#subNavToggle'
              ) Menu 
                span.pt-icon-standard.pt-icon-chevron-down.bt-caret
              .bt-card__logo
                img(src="/images/logo-mark-red-24px.svg", alt="Logo")
                em Account
              h3.list-group-item-heading.bt-typo-displaysmall Holly Golightly
              p.list-group-item-text Bukan akun Anda? #[a(href='/') Keluar]
            block sidemenu
      block main