extends ../../_layouts/base-simple.pug

block config
  - var bodyId = 'bt-membership'
  - var bodyClass = 'bt-membership-detail'

block head
  title Nomor Order - {orderNumber}

block content
  .bt-page-header
    .container
      //----- Subheader -----//
      .col-lg-12.bt-page-title.text-center
        block nav-back
        block page_title
        block page_subtitle

  main.container
    .alert.alert-info.alert-dismissable(role='alert') Komponen ini memakai #[code alert] standar Bootstrap dengan class modifier: #[code alert-*]
      button.close(
        data-dismiss='alert'
        aria-label='Close'
        ) #[span.pt-icon-standard.pt-icon-cross]
    block main
