extends ../../_layouts/base.pug

block config
  - var bodyId = 'bt-static'
  - var bodyClass = 'bt-static'
  - var userLog = false

block head
  title Bhinneka - {pageTitle}

block content
  .bt-page-jumbotron
    img.center-block(src='http://placehold.it/1600x400', alt="jumbotron")
  .bt-page-header
    .container
      //----- Subheader -----//
      .col-lg-12.bt-page-title.text-center
        block nav-back
        block page_title
        block page_subtitle

  main.container.bt-static__container
    .row
      block main
