extends ../_layouts/base.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyId = 'bt-product'
  - var bodyClass = 'bt-page --loader-state'
  - var user = { login: false }
  - var cart_counter = ''

block head
  title Product

block content
  main.container
    .bt-product__top-row
      .bt-breadcrumb
      .bt-product__rating-link

    .row
      .col-sm-12

        #bt-modal-buy.modal.fade(tabindex='-1', role='dialog')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
                h5.modal-title 1 produk berhasil ditambahkan ke keranjang belanja Anda
              .modal-body
                .media
                  .media-left
                    img.media-object.thumbnail(src="/images/dummy/produk-1.jpg", width="64" height="64")
                  .media-body
                    p.bt-typo-heading WD Elements New Edition USB 3.0 1.5TB [WDBU6Y0015BBK-EESN]
                    span Rp 951.000
              .modal-footer
                button.btn.btn-default.pull-left(type='button') Kembali Berbelanja
                button.btn.btn-primary(type='button') Lanjut ke Keranjang

        #bt-modal-info.modal.fade(tabindex='-1', role='dialog')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
                h4.modal-title Title
              .modal-body

      .col-sm-6.bt-product__wrapper-image.theiaStickySidebar
        .bt-product__image
          .bt-product__image-big(data-index=0)
            img.img-responsive(src="/images/image-product-loader.svg")
          .bt-product__image-thumbs
            .bt-product__image-navs
              button.bt-product__nav-prev
                span.pt-icon-large.pt-icon-chevron-left
              button.bt-product__nav-next
                span.pt-icon-large.pt-icon-chevron-right
            .js-carousel__product-thumbs.bt-photoswipe-gallery
              +loop(6)
                a.slick-thumb(href="#", data-large="", data-size="")
                  img(src="/images/image-product-loader.svg")

      .col-sm-6.bt-product__content.theiaStickySidebar
        h1.bt-typo-displaylarge
        .bt-product__section-description

          dl.dl-horizontal.bt-product__section-price
            dt.bt-typo-heading
            dd.bt-product__price.bt-typo-displaymedium

          dl.dl-horizontal.bt-product__section-cta
            dt.bt-typo-heading
            dd.bt
              a.btn.btn-lg.btn-warning(href="#" data-toggle="modal" data-target="#bt-modal-buy")

          dl.dl-horizontal.bt-product__section-price-installment
            dt.bt-typo-heading
            dd

          dl.dl-horizontal.bt-product__section-price-highlights
            dt.bt-typo-heading
            dd

          dl.dl-horizontal.bt-product__section-warranty
            dt.bt-typo-heading
            dd

          dl.dl-horizontal.bt-product__section-shipping
            dt.bt-typo-heading
            dd

          dl.dl-horizontal.bt-product__section-promo
            dt.bt-typo-heading
            dd

          dl.dl-horizontal.bt-product__section-features
            dt.bt-typo-heading
            dd
