extends ../_layouts/base.pug

include ../_helpers/photoswipe.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyId = 'bt-product'
  - var bodyClass = 'bt-page'
  - var user = { login: true, firstname: 'Sheldon' }
  - var cart_counter = '99+'

block head
  title Product

block content
  main#mainProductDetail.container
    .alert.alert-warning
      p Stok sudah habis! Silakan hubungi #[a(href="tel:+622129292828") 021 2929 2828] atau #[a(href="mailto:sarah@bhinneka.com") sarah@bhinneka.com] untuk info lebih lanjut.
    .bt-product__top-row
      .bt-breadcrumb
        ol.breadcrumb
          li
            a.breadcrumb-item.--more(href="#")
              span.pt-icon-standard.pt-icon-more
            ol
              li: a.bt-breadcrumb-collapsed(href="#") Storage External
              li: a.bt-breadcrumb-collapsed(href="#") Aksesoris Gadget & Komputer
          li: a.breadcrumb-item(href="#") Hard Disk External
          li: a.breadcrumb-item(href="#") Hard Disk External 2.5
          li: span.breadcrumb-item SKU14916445
      .bt-product__rating-link
        +rating({value: '4-5', small: true})
        a.bt-typo-caption(href="#bt-product-review") 55 Review

    .row
      .col-sm-12
        #bt-modal-buy.modal.fade(tabindex='-1', role='dialog')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span.pt-icon-large.pt-icon-cross(aria-hidden='true')
                h5.modal-title 1 produk berhasil ditambahkan ke keranjang belanja Anda
              .modal-body
                .media
                  .media-left
                    img.media-object.thumbnail(src="/images/dummy/produk-1.jpg", width="64" height="64")
                  .media-body
                    p.bt-typo-heading WD Elements New Edition USB 3.0 1.5TB [WDBU6Y0015BBK-EESN]
                    span Rp 951.000
              .modal-footer
                button.btn.btn-default.pull-left(type='button') Kembali Berbelanja
                button.btn.btn-primary(type='button') Lanjut ke Keranjang

        #bt-modal-info.modal.fade(tabindex='-1', role='dialog')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span.pt-icon-large.pt-icon-cross(aria-hidden='true')
                h4.modal-title Title
              .modal-body

      .col-md-5.col-lg-6.bt-product__wrapper-image.theiaStickySidebar
        .bt-product__image
          .js-carousel__product-image.bt-product__image-big#detailImage
            +loop(4)
              - a++
              img.img-responsive.slick-big(src="http://via.placeholder.com/500x500.jpg&text="+a, data-large="http://via.placeholder.com/500x500.jpg&text="+a, data-size="500x500")
          .bt-product__image-thumbs
            .bt-product__image-navs
              button.bt-product__nav-prev
                span.pt-icon-large.pt-icon-chevron-left
              button.bt-product__nav-next
                span.pt-icon-large.pt-icon-chevron-right
            .js-carousel__product-thumbs.bt-photoswipe-gallery
              +loop(4)
                - a++
                a.slick-thumb(href="#", data-large="http://via.placeholder.com/500x500.jpg&text="+a, data-size="500x500")
                  img(src="http://via.placeholder.com/500x500.jpg&text="+a, alt="")

      .col-md-7.col-lg-6.bt-product__content.theiaStickySidebar
        h1.bt-typo-displaylarge WD Elements New Edition USB 3.0 1.5TB [WDBU6Y0015BBK-EESN]
        .bt-product__section-description

          dl.dl-horizontal.bt-product__section-price
            dt.bt-typo-heading Harga
            dd.bt-product__price.bt-typo-displaymedium Rp 951.000

          dl.dl-horizontal.bt-product__section-cta
            dt
            dd
              button.btn.btn-lg.btn-warning(type="button" disabled) Beritahu Saya
              a.btn.btn-hollow.btn-lg.btn-icon-text.hide(href="/").
                #[span.pt-icon-standard.pt-icon-heart]
                Wishlist
              .bt-product__stock-out Stok Habis
          dl.dl-horizontal.bt-product__section-viewed
            dt.bt-typo-heading Dilihat
            dd {viewCount} &times; hari ini
          dl.dl-horizontal.bt-product__section-price-installment
            dt.bt-typo-heading Cicilan
            dd #[strong 12 &times; Rp 79.250] #[+link({text: 'Selengkapnya'})(href="#", data-toggle="modal", data-target="#bt-modal-info", data-content="#bt-modal-content-installment")]
            #bt-modal-content-installment.bt-modal-content
              h4.modal-title Cicilan kartu kredit yang berlaku untuk produk ini
              .modal-body
                strong modal body

          dl.dl-horizontal.bt-product__section-price-highlights
            dt.bt-typo-heading Deskripsi
            dd
              ul.-bt-description
                li Rice Cooker
                li 3 in 1 (Memasak/Menanak Nasi/Menghangatkan dan Mengukus)
                li Material Teflon
                li 1.8 L
                li 400W

          dl.dl-horizontal.bt-product__section-warranty
            dt.bt-typo-heading Garansi
            dd #[strong Garansi 36 bulan] dari Distributor Resmi di Indonesia

          dl.dl-horizontal.bt-product__section-shipping
            dt.bt-typo-heading Pengiriman
            dd #[strong Pengiriman Gratis.] Dijual dan Dikirim oleh #[+link({text: 'Bhinneka'})(href="/")]

          dl.dl-horizontal.bt-product__section-promo
            dt.bt-typo-heading Promo
            dd Promo of the Month: Free - WD HDD Special Pouch (SKU01914465)

          dl.dl-horizontal.bt-product__section-features
            dt.bt-typo-heading Info
            dd
              ul
                li Harga termasuk PPN 10%
                li 100% Satisfaction Guaranteed #[+link({text: 'Selengkapnya'})(href="#", data-toggle="modal", data-target="#bt-modal-info", data-content="#bt-modal-content-guarantee")]
            #bt-modal-content-guarantee.bt-modal-content
              h4.modal-title 100% Satisfaction Guaranteed
              .modal-body
                strong modal body

          .bt-product__section-overview__spec.row
            .col-lg-12
              ul.nav.bt-tabs(role="tablist")
                li.active
                  a(data-toggle="tab", href="#overview"): h2.bt-typo-heading Informasi Produk
                li
                  a(data-toggle="tab", href="#specs"): h2.bt-typo-heading Spesifikasi
              .bt-tabs__panes
                #overview.bt-tabs__pane.active(role="tabpanel")
                  .bt-product__wrapper-overview.--collapsed
                    p
                      | TP-LINK 3G Wireless N Router TL-MR3420 merupakan sebuah perangkat berteknologi wireless yang memungkinkan Anda untuk membuat area hotspot serta berbagi
                      | koneksi broadband 3G ataupun koneksi dari kable / ADSL dengan keluarga atau rekan-rekan Anda baik di rumah maupun  dikantor. Dengan menghubungkan modem
                      | USB ke router, hotspot Wi Fi akan segera tercipta dan dapat digunakan untuk mengakses internet. Penghubungan koneksi ini bisa dilakukan dimana saja dengan
                      | syarat harus dalam lingkup sinyal jangkauan 3G. Modem yang digunakan bisa UMTS, HSPA, atapun EVDO USB.
                    h3: img(alt='', src='https://assets.bmdstatic.com/assets/Data/Inventory/Overview/image/TP-LINK-3GTLMR3420a.jpg')
                    h3: span Desain yang Stylish & Minimalis
                    p
                      | TP-LINK 3G Wireless N Router TL-MR3420 dirancang dengan desain yang stylish dan minimalis dengan balutan warna putih, router TP-LINK ini berdimensi
                      | 204 mm x 138 mm x 44 mm dan dilengkapi dengan1 USB 2.0 Port, WAN Port, dan LAN Port. Selain itu, router ini dilengkapi pula dengan 2 buah antena yang dapat
                      | dipasang ataupun di lepaskan.
                    p: img(alt='', src='https://assets.bmdstatic.com/assets/Data/Inventory/Overview/image/TP-LINK-3GTLMR3420b.jpg')
                    h3: span Kompatible di Manapun Anda Berada
                    p
                      | TP-LINK 3G Wireless N Router TL-MR3420 merupakan router yang kompatible digunakan dimanapun. Pihak TP-LINK sudah berusaha meyakinkan konsumen dengan cara menguji
                      | kompatibilitas dengan ISP daerah di seluruh dunia yang menjual TP-LINK 3G Wireless N Router TL-MR3420 ini. Hasilnya membuktikan bahwa router ini kompatible di
                      | manapun Anda berada. hal ini di lakukan pihak TP-LINK karena mereka tahu bahwa, kompatibilitas merupakan hal penting untuk Anda saat menentukan router yang akan
                      | dipilih / digunakan.
                    p: img(alt='', src='https://assets.bmdstatic.com/assets/Data/Inventory/Overview/image/TP-LINK-3GTLMR3420c.jpg')
                    h3: span Wireless dengan Jangkauan Sinyal Luas dan Speed Transfer Konstan
                    p
                      | Sesuai dengan seri yang di sandangnya, Router ini telah mendukung Wireless N (802.11n) sehingga Kecepatan transfer data yang dapat dihasilkan oleh TP-LINK 3G
                      | Wireless N Router TL-MR3420 ini mencapai 300Mbps. Telah terbukti bahwa sinyal merata sampai ke seluruh rumah jika TP-LINK 3G Wireless N Router TL-MR3420 ini
                      | dipasang di lantai 2. Namun bukan berarti standar wireless sebelumnya seperti 802.11b & 802.11g tidak bisa digunakan di router ini, karena TP-LINK 3G Wireless N
                      | Router TL-MR3420 tetap mendukung standar protocol IEEE 802.11b, IEEE 802.11g, IEEE 802.11n.
                    p: img(alt='', src='https://assets.bmdstatic.com/assets/Data/Inventory/Overview/image/TP-LINK-3GTLMR3420d.jpg')
                    h3: span Koneksi 3G / WAN Back up dan “Always Online”
                    p
                      | TP-LINK 3G Wireless N Router TL-MR3420 tidak seperti router-router biasa. Router ini dilengkapi dengan fitur failover yang berguna untuk memastikan koneksi 3G /
                      | WAN internet Anda selalu online. Koneksi ini memudahkan Anda untuk tetap tersambung (online) ketika salah satu koneksi yang lain terputus. Teknologgi CCA juga
                      | dapat menghindari konflik channel secara otomatis sehingga sinyal pengguna akan stabil.
                    p: img(alt='', src='https://assets.bmdstatic.com/assets/Data/Inventory/Overview/image/TP-LINK-3GTLMR3420e.jpg')
                    h3
                      img(alt='', src='https://assets.bmdstatic.com/assets/Data/Inventory/Overview/image/TP-LINK-3GTLMR3420f.jpg')
                      span Enkripsi Kuat untuk Perlindungan Keamanan Wi-Fi Anda
                    p
                      | TP-LINK 3G Wireless N Router TL-MR3420 menyediakan enkripsi WPA atau WPA 2 yang diciptakan oleh Wi Fi Alliance. Hal ini membuat koneksi wireless Anda tidak dapat
                      | diakses / di susupi oleh sembarang orang dan berjalan dengan aman.
                    p  
                    h3: span TL-MR3420 3G/4G Wireless N Router unbox and review
                    p
                    .embed-responsive.embed-responsive-16by9
                      iframe(allowfullscreen='', frameborder='1', height='315', scrolling='no', src='http://www.youtube.com/embed/lY1_rMLIM7g?rel=0', width='560')
                    p
                    .bt-product__overview-fade
                    button.btn.bt-product__btn-expand.js-btn-overview Lihat Selengkapnya
                    //- button.btn.bt-product__btn-collapse.js-btn-overview Tutup
                #specs.bt-tabs__pane(role="tabpanel")
                  table.table.bt-product__table
                    tbody
                      tr
                        td.key Tipe
                        td Portable Hard Drive
                      tr
                        td.key Antarmuka / Interface
                        td USB 3.0 dan USB 2.0
                      tr
                        td.key Kecepatan Putaran / RPM
                        td 5400 RPM
                      tr
                        td.key Kesesuaian Sistem Operasi
                        td Windows / Mac
                      tr
                        td.key Dimensi
                        td 15 x 111 x 82 mm (H x D x W)
                      tr
                        td.key Kelengkapan Paket
                        td
                          span USB 3.0 portable hard drive
                          br
                          span Kabel USB
                          br
                          span Buku panduan cepat
                      tr
                        td.key Lain-lain
                        td
                          span Suhu ketika beroperasi : 5° C to 35° C
                          br
                          span Suhu ketika tidak beroperasi : -20° C to 65° C
          hr
          #bt-product-review.bt-product__section-5.row
            .col-xs-12.col-lg-4.bt-typo-heading Review Produk
            .col-xs-12.col-lg-8
              .bt-review__summary
                .bt-review__accuracy.bt-typo-displayxlarge 4.2
                +rating({value: '4-5', small: true})
                .bt-typo-caption 55 Review

            //-
              .bt-review__chart
                a.bt-review__chart-item(href="/" data-count="666")
                  .bt-progress__label(data-point="5")
                    +iconGenesis({name: 'star'})
                  .bt-review__bar
                    .bt-progress.progress
                      .bt-progress__bar.progress-bar(style="width:50%;")

                a.bt-review__chart-item(href="/" data-count="99")
                  .bt-progress__label(data-point="4")
                    +iconGenesis({name: 'star'})
                  .bt-review__bar
                    .bt-progress.progress
                      .bt-progress__bar.progress-bar(style="width:40%;")

                a.bt-review__chart-item(href="/" data-count="12")
                  .bt-progress__label(data-point="3")
                    +iconGenesis({name: 'star'})
                  .bt-review__bar
                    .bt-progress.progress
                      .bt-progress__bar.progress-bar(style="width:30%;")

                a.bt-review__chart-item(href="/" data-count="3")
                  .bt-progress__label(data-point="2")
                    +iconGenesis({name: 'star'})
                  .bt-review__bar
                    .bt-progress.progress
                      .bt-progress__bar.progress-bar(style="width:20%;")

                a.bt-review__chart-item(href="/" data-count="8")
                  .bt-progress__label(data-point="1")
                    +iconGenesis({name: 'star'})
                  .bt-review__bar
                    .bt-progress.progress
                      .bt-progress__bar.progress-bar(style="width:10%;")

            .col-xs-12.col-lg-12.bt-review__list
              +loop(5)
                .bt-review__list-item
                  h4.bt-typo-heading Barang keren dan kualitasnya bagus
                  +rating({value: '5', small: true})
                  .bt-review__content
                    span.bt-review__date-by 17 April 2017, oleh Saul Goodman
                    p Barangnya sangat bagus sekali. Lebih bagus dari foto produknya. Semua fiturnya sama, kecuali yang tidak sama. Enak beli di Bhinneka

              nav.bt-product-pagination.text-center
                ul.pager
                  li
                    input.form-control(type='number', min='1', value='1')
                  li dari 10
                  li
                     button.btn.btn-default
                      span.pt-icon-large.pt-icon-chevron-right

    //- Product Recommendations
    .bt-product__section-carousel.row
      .col-sm-12.bt-product__carousel-rekomendasi
        h3.bt-typo-displaysmall Rekomendasi Untuk Anda
        .bt-carousel__wrapper
          .bt-carousel__navs
            button.bt-carousel__nav-prev._rekomendasi
              span.pt-icon-large.pt-icon-chevron-left
            button.bt-carousel__nav-next._rekomendasi
              span.pt-icon-large.pt-icon-chevron-right
          .bt-carousel__items.js-carousel__rekomendasi
            +loop(8)
              .item
                a.box(href="/")
                  img(src="/images/dummy/dummy-120.jpg")
                  p.bt-typo-caption.bt-slick-product-title(href='/product') HP Monitor LED ProDisplay-P202-K7X27AA
                  p.bt-typo-caption.text-muted #[del Rp 1.000.000]
                  p.bt-typo-body Rp 999.999

      .col-sm-12.bt-product__carousel-terkait
        h3.bt-typo-displaysmall Produk Terkait
        .bt-carousel__wrapper
          .bt-carousel__navs
            button.bt-carousel__nav-prev._terkait
              span.pt-icon-large.pt-icon-chevron-left
            button.bt-carousel__nav-next._terkait
              span.pt-icon-large.pt-icon-chevron-right
          .bt-carousel__items.js-carousel__terkait
            +loop(8)
              .item
                a.box(href="/")
                  img(src="/images/dummy/dummy-120.jpg")
                  p.bt-typo-caption.bt-slick-product-title(href='/product') HP Monitor LED ProDisplay-P202-K7X27AA
                  p.bt-typo-caption.text-muted #[del Rp 1.000.000]
                  p.bt-typo-body Rp 999.999

  +photoswipe
  +seo-block
