extends ../_layouts/base.pug

include ../_helpers/photoswipe.pug

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var bodyId = 'bt-product'
  - var bodyClass = 'bt-page --product-sale'
  - var user = { login: true, firstname: 'Sheldon' }
  - var cart_counter = '99+'

block head
  title Product

block content
  main#mainProductDetail.container
    .bt-product__top-row
      .bt-breadcrumb
        ol.breadcrumb
          li
            a.breadcrumb-item.--more(href="#")
              span.pt-icon-standard.pt-icon-more
            ol
              li: a.bt-breadcrumb-collapsed(href="#") Storage External
              li: a.bt-breadcrumb-collapsed(href="#") Aksesoris Gadget & Komputer
          li: a.breadcrumb-item(href="#") Hard Disk External
          li: a.breadcrumb-item(href="#") Hard Disk External 2.5
          li: span.breadcrumb-item SKU14916445
      .bt-product__rating-link
        +rating({value: '4-5', small: true})
        a.bt-typo-caption(href="#bt-product-review") 55 Review

    .row
      .col-sm-12
        #bt-modal-buy.modal.fade(tabindex='-1', role='dialog')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span.pt-icon-large.pt-icon-cross(aria-hidden='true')
                h5.modal-title 1 produk berhasil ditambahkan ke keranjang belanja Anda
              .modal-body
                .media
                  .media-left
                    img.media-object.thumbnail(src="/images/dummy/produk-1.jpg", width="64" height="64")
                  .media-body
                    p.bt-typo-heading WD Elements New Edition USB 3.0 1.5TB [WDBU6Y0015BBK-EESN]
                    span Rp 951.000
              .modal-footer
                button.btn.btn-default.pull-left(type='button') Kembali Berbelanja
                button.btn.btn-primary(type='button') Lanjut ke Keranjang

        #bt-modal-info.modal.fade(tabindex='-1', role='dialog')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span.pt-icon-large.pt-icon-cross(aria-hidden='true')
                h4.modal-title Title
              .modal-body

      .col-sm-6.bt-product__wrapper-image.theiaStickySidebar
        .bt-product__image
          .js-carousel__product-image.bt-product__image-big#detailImage
            +loop(8)
              - a++
              img.img-responsive.slick-big(src="http://via.placeholder.com/500x500.jpg&text="+a, data-large="http://via.placeholder.com/500x500.jpg&text="+a, data-size="500x500")
          .bt-product__image-thumbs
            .bt-product__image-navs
              button.bt-product__nav-prev
                span.pt-icon-large.pt-icon-chevron-left
              button.bt-product__nav-next
                span.pt-icon-large.pt-icon-chevron-right
            .js-carousel__product-thumbs.bt-photoswipe-gallery
              +loop(8)
                - a++
                a.slick-thumb(href="#", data-large="http://via.placeholder.com/500x500.jpg&text="+a, data-size="500x500")
                  img(src="http://via.placeholder.com/500x500.jpg&text="+a, alt="")

      .col-sm-6.bt-product__content.theiaStickySidebar
        h1.bt-typo-displaylarge WD Elements New Edition USB 3.0 1.5TB [WDBU6Y0015BBK-EESN]
        .bt-product__section-description

          dl.dl-horizontal.bt-product__section-price
            dt.bt-typo-heading Harga
            dd
              .bt-label-discount -10%
              span.bt-product__price-old.bt-typo-body Rp 1,000,000
            dd.bt-product__price.bt-typo-displaymedium Rp 951.000

          dl.dl-horizontal.bt-product__section-cta
            dt.bt-typo-heading
            dd
              a.btn.btn-lg.btn-warning(href="#" data-toggle="modal" data-target="#bt-modal-buy") Beli Sekarang
              a.btn.btn-hollow.btn-lg.btn-icon-text.hide(href="/").
                #[span.pt-icon-standard.pt-icon-heart]
                Wishlist
              .bt-product__stock-available Stok Tersedia
          dl.dl-horizontal.bt-product__section-price-installment
            dt.bt-typo-heading Cicilan
            dd #[strong 12 &times; Rp 79.250] #[+link({text: 'Selengkapnya'})(href="#", data-toggle="modal", data-target="#bt-modal-info", data-content="#bt-modal-content-installment")]
            #bt-modal-content-installment.bt-modal-content
              h4.modal-title Cicilan kartu kredit yang berlaku untuk produk ini
              .modal-body
                strong modal body

          dl.dl-horizontal.bt-product__section-price-highlights
            dt.bt-typo-heading Deskripsi
            dd
              ul.-bt-description
                li Rice Cooker
                li 3 in 1 (Memasak/Menanak Nasi/Menghangatkan dan Mengukus)
                li Material Teflon
                li 1.8 L
                li 400W

          dl.dl-horizontal.bt-product__section-warranty
            dt.bt-typo-heading Garansi
            dd #[strong Garansi 36 bulan] dari Distributor Resmi di Indonesia

          dl.dl-horizontal.bt-product__section-shipping
            dt.bt-typo-heading Pengiriman
            dd #[strong Pengiriman Gratis.] Dijual dan Dikirim oleh #[+link({text: 'Bhinneka'})(href="/")]

          dl.dl-horizontal.bt-product__section-promo
            dt.bt-typo-heading Promo
            dd Promo of the Month: Free - WD HDD Special Pouch (SKU01914465)

          dl.dl-horizontal.bt-product__section-features
            dt.bt-typo-heading Info
            dd
              ul
                li Harga termasuk PPN 10%
                li 100% Satisfaction Guaranteed #[+link({text: 'Selengkapnya'})(href="#", data-toggle="modal", data-target="#bt-modal-info", data-content="#bt-modal-content-guarantee")]
            #bt-modal-content-guarantee.bt-modal-content
              h4.modal-title 100% Satisfaction Guaranteed
              .modal-body
                strong modal body

          .bt-product__section-overview__spec.row
            .col-lg-12
              ul.nav.bt-tabs(role="tablist")
                li.active: a(data-toggle="tab", href="#overview") Informasi Produk
                li: a(data-toggle="tab", href="#specs") Spesifikasi
              .bt-tabs__panes
                #overview.bt-tabs__pane.active(role="tabpanel")
                  .bt-product__wrapper-overview.--collapsed
                    .bt-product__overview-content
                      h2(style="text-align:justify") MIYAKO Rice Cooker [PSG607]
                      p(style="text-align:justify")
                        | MIYAKO memudahkan hidup Anda saat memasak dengan Rice Cooker [PSG607] . Sebuah teknologi yang didesain sempurna untuk memasak dengan berbagai fitur menggunakan bahan berkualitas tinggi. Rice cooker ini khusus dikembangkan untuk kondisi di Indonesia dengan elemen pemanas di bagian bawah.
                      p(style="text-align:center")
                        img(alt="", src="http://via.placeholder.com/382x388", style="height:388px; width:382px")
                      h3(style="text-align:justify")
                        span(style="font-size:18px") Multi Cooker
                      p(style="text-align:justify")
                        | Nikmati multi fungsi untuk memasak nasi, mamasak mie dan memanaskan makanan. Multi cooker dengan fungsi yang terdapat di dalam 1 alat ini, Anda tidak perlu lagi harus repot menyiapkan banyak perangkat.
                      h3(style="text-align:justify")
                        span(style="font-size:18px") Kapasitas 0,63 L
                      p(style="text-align:center")
                        img(alt="", src="http://via.placeholder.com/549x387", style="height:387px; width:549px")
                      p(style="text-align:justify")
                        | Kapasitas penanak nasinya mampu menampung hingga 0.63L. Kapasitas besar ini membuat Anda dapat memasak untuk seluruh keluarga tanpa kekurangan dan kesulitan. Multi cooker ini juga mampu memasak air dengan kapasitas 1.85 L.
                      h3(style="text-align:justify")
                        span(style="font-size:18px") Desain Minimalis dan Hemat Listrik
                      p(style="text-align:justify")
                        | Dibuat dengan bodi plastik dan alumunium pan Spray, MIYAKO Rice Cooker [PSG607]  cocok diletakkan di mana saja. Multi cooker ini memiliki bentuk bulat dengan warna putih dan bercorak batik yang cantik sehingga pas sebagai pendamping wadah di meja makan. Khawatir apabila perangkat dapur Anda akan mengunakan daya listrik yang besar?  Multi Cooker ini hanya memerlukan daya listrik sebesar 300 W untuk memasak
                        br

                    .bt-product__overview-fade
                    button.btn.bt-product__btn-expand.js-btn-overview Lihat Selengkapnya
                    //- button.btn.bt-product__btn-collapse.js-btn-overview Tutup
                #specs.bt-tabs__pane(role="tabpanel")
                  table.table.bt-product__table
                    tbody
                      tr
                        td.key Tipe
                        td Portable Hard Drive
                      tr
                        td.key Antarmuka / Interface
                        td USB 3.0 dan USB 2.0
                      tr
                        td.key Kecepatan Putaran / RPM
                        td 5400 RPM
                      tr
                        td.key Kesesuaian Sistem Operasi
                        td Windows / Mac
                      tr
                        td.key Dimensi
                        td 15 x 111 x 82 mm (H x D x W)
                      tr
                        td.key Kelengkapan Paket
                        td
                          span USB 3.0 portable hard drive
                          br
                          span Kabel USB
                          br
                          span Buku panduan cepat
                      tr
                        td.key Lain-lain
                        td
                          span Suhu ketika beroperasi : 5° C to 35° C
                          br
                          span Suhu ketika tidak beroperasi : -20° C to 65° C
          hr
          #bt-product-review.bt-product__section-5.row.--empty
            .col-lg-12.text-center
              img.bt-review__icon(src="/images/im_empty_review_128px.svg", alt="No Review")
              span Produk belum ada review :(

    //- Product Recommendations

    .bt-product__section-carousel.row
      .col-sm-12.bt-product__carousel-rekomendasi
        h3.bt-typo-displaysmall Rekomendasi Untuk Anda
        .bt-carousel__wrapper
          .bt-carousel__navs
            button.bt-carousel__nav-prev._rekomendasi
              span.pt-icon-large.pt-icon-chevron-left
            button.bt-carousel__nav-next._rekomendasi
              span.pt-icon-large.pt-icon-chevron-right
          .bt-carousel__items.js-carousel__rekomendasi
            +loop(8)
              .item
                a.box(href="/")
                  img(src="/images/dummy/dummy-120.jpg")
                  p.bt-typo-caption Product Name Lorem Ipsum - Type - Color
                  strong Rp 123.000
      .col-sm-12.bt-product__carousel-terkait
        h3.bt-typo-displaysmall Produk Terkait
        .bt-carousel__wrapper
          .bt-carousel__navs
            button.bt-carousel__nav-prev._terkait
              span.pt-icon-large.pt-icon-chevron-left
            button.bt-carousel__nav-next._terkait
              span.pt-icon-large.pt-icon-chevron-right
          .bt-carousel__items.js-carousel__terkait
            +loop(8)
              .item
                a.box(href="/")
                  img(src="/images/dummy/dummy-120.jpg")
                  p.bt-typo-caption Product Name Lorem Ipsum - Type - Color
                  strong Rp 123.000

  +photoswipe
  +seo-block
